<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c9e1b0c-a52c-4c39-aab4-256169ee447c" Alias="Accordion / Tabs" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/AccordionTabs</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:11</CreateDate>
    <NodeName Default="Accordion / Tabs">
      <Name Culture="en-us">Accordion / Tabs</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[1]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2d421b41ba67413b80ef12a3f43a08aa",
        "settingsUdi": "umb://element/58d3a4e1e1544b8ba0a476e53f1e9ddc"
      },
      {
        "contentUdi": "umb://element/0854a294a90845c7b5ac351ecc90d5e8",
        "settingsUdi": "umb://element/fba5783429a44f80bfd8af43c6cca827"
      },
      {
        "contentUdi": "umb://element/9763ec39eb2548a8b421638e946c2c7f",
        "settingsUdi": "umb://element/6cbbf3d40b4e42fc89833131f9e752f4"
      },
      {
        "contentUdi": "umb://element/6ddad7bb0be145be82a5a74cef977272",
        "settingsUdi": "umb://element/3dd1c837a7904ceb95e8a9a9cf131bb8"
      },
      {
        "contentUdi": "umb://element/a5fd77b7bf6a4dc496fd00c0c14ca7de",
        "settingsUdi": "umb://element/57ae06a60a074369bfe060a25a02068c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "774318b9-8e4b-47db-839b-56205a6e84e0",
      "udi": "umb://element/2d421b41ba67413b80ef12a3f43a08aa",
      "heading": {
        "text": "Accordion / Tabs",
        "headingtag": "h1"
      },
      "secondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "text": "",
      "buttons": ""
    },
    {
      "contentTypeKey": "9aff4265-df9a-474a-91c4-0e6affc43585",
      "udi": "umb://element/9763ec39eb2548a8b421638e946c2c7f",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "accordionTabs": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bc3da918a5824614ad5ad47069002d98",
              "settingsUdi": "umb://element/da9251f8804544e4a864debd5da2fc5b"
            },
            {
              "contentUdi": "umb://element/9cfa4b37e2f94c718398661385a56e33",
              "settingsUdi": "umb://element/1c608ca1fbf2457da1966dbb205a4643"
            },
            {
              "contentUdi": "umb://element/c63e7b1cd1134118a666b1765e541fcc",
              "settingsUdi": "umb://element/9ed438d3335a4f3ca530d74438bed8c8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
            "udi": "umb://element/bc3da918a5824614ad5ad47069002d98",
            "itemHeading": "Question 1",
            "repeaterText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac ligula nibh. Donec egestas mauris dolor, ut porta est viverra ac. Nullam dictum est non nulla ullamcorper, sed fermentum lacus egestas. Vivamus a ligula enim. Praesent bibendum scelerisque mauris ut tristique.</p>"
          },
          {
            "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
            "udi": "umb://element/9cfa4b37e2f94c718398661385a56e33",
            "itemHeading": "Question 2",
            "repeaterText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac ligula nibh. Donec egestas mauris dolor, ut porta est viverra ac. Nullam dictum est non nulla ullamcorper, sed fermentum lacus egestas. Vivamus a ligula enim. Praesent bibendum scelerisque mauris ut tristique.</p>"
          },
          {
            "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
            "udi": "umb://element/c63e7b1cd1134118a666b1765e541fcc",
            "itemHeading": "Question 3",
            "repeaterText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac ligula nibh. Donec egestas mauris dolor, ut porta est viverra ac. Nullam dictum est non nulla ullamcorper, sed fermentum lacus egestas. Vivamus a ligula enim. Praesent bibendum scelerisque mauris ut tristique.</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
            "udi": "umb://element/da9251f8804544e4a864debd5da2fc5b",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
            "udi": "umb://element/1c608ca1fbf2457da1966dbb205a4643",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
            "udi": "umb://element/9ed438d3335a4f3ca530d74438bed8c8",
            "customClasses": "",
            "hideFromWebsite": ""
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "9aff4265-df9a-474a-91c4-0e6affc43585",
      "udi": "umb://element/6ddad7bb0be145be82a5a74cef977272",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "accordionTabs": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d2a6abb497bc4a9598eb29480683a8fd",
              "settingsUdi": "umb://element/5e6bc58f95ab467e82f162ee1f0cb0a2"
            },
            {
              "contentUdi": "umb://element/27df700a370344219f2f29364e3546c8",
              "settingsUdi": "umb://element/3dc08c756cd841699450fa2674d9d972"
            },
            {
              "contentUdi": "umb://element/8da92b4feea043c98a5a057c71482d1a",
              "settingsUdi": "umb://element/d9182afc1af44d8d87f734cc24f9e028"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
            "udi": "umb://element/d2a6abb497bc4a9598eb29480683a8fd",
            "itemHeading": "Tab 1",
            "repeaterText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac ligula nibh. Donec egestas mauris dolor, ut porta est viverra ac. Nullam dictum est non nulla ullamcorper, sed fermentum lacus egestas. Vivamus a ligula enim. Praesent bibendum scelerisque mauris ut tristique.</p>"
          },
          {
            "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
            "udi": "umb://element/27df700a370344219f2f29364e3546c8",
            "itemHeading": "Tab 2",
            "repeaterText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac ligula nibh. Donec egestas mauris dolor, ut porta est viverra ac. Nullam dictum est non nulla ullamcorper, sed fermentum lacus egestas. Vivamus a ligula enim. Praesent bibendum scelerisque mauris ut tristique.</p>"
          },
          {
            "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
            "udi": "umb://element/8da92b4feea043c98a5a057c71482d1a",
            "itemHeading": "Tab 3",
            "repeaterText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac ligula nibh. Donec egestas mauris dolor, ut porta est viverra ac. Nullam dictum est non nulla ullamcorper, sed fermentum lacus egestas. Vivamus a ligula enim. Praesent bibendum scelerisque mauris ut tristique.</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
            "udi": "umb://element/5e6bc58f95ab467e82f162ee1f0cb0a2",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
            "udi": "umb://element/3dc08c756cd841699450fa2674d9d972",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
            "udi": "umb://element/d9182afc1af44d8d87f734cc24f9e028",
            "customClasses": "",
            "hideFromWebsite": ""
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "9aff4265-df9a-474a-91c4-0e6affc43585",
      "udi": "umb://element/a5fd77b7bf6a4dc496fd00c0c14ca7de",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "accordionTabs": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fba204a822e04a50b27cc15cdcd88884",
              "settingsUdi": "umb://element/bebdf82773064a25abfc73634532d076"
            },
            {
              "contentUdi": "umb://element/c4a31f7f9c834c1d9431ea2d92b0f482",
              "settingsUdi": "umb://element/a7ca03a5c97b4ae4a9a8f41340c0a71c"
            },
            {
              "contentUdi": "umb://element/86444f7f62924a58a55bafe64804dd6d",
              "settingsUdi": "umb://element/f1599a540ead408fb06478b5d91a859d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
            "udi": "umb://element/fba204a822e04a50b27cc15cdcd88884",
            "itemHeading": "Question 1",
            "repeaterText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac ligula nibh. Donec egestas mauris dolor, ut porta est viverra ac. Nullam dictum est non nulla ullamcorper, sed fermentum lacus egestas. Vivamus a ligula enim. Praesent bibendum scelerisque mauris ut tristique.</p>"
          },
          {
            "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
            "udi": "umb://element/c4a31f7f9c834c1d9431ea2d92b0f482",
            "itemHeading": "Question 2",
            "repeaterText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac ligula nibh. Donec egestas mauris dolor, ut porta est viverra ac. Nullam dictum est non nulla ullamcorper, sed fermentum lacus egestas. Vivamus a ligula enim. Praesent bibendum scelerisque mauris ut tristique.</p>"
          },
          {
            "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
            "udi": "umb://element/86444f7f62924a58a55bafe64804dd6d",
            "itemHeading": "Question 3",
            "repeaterText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac ligula nibh. Donec egestas mauris dolor, ut porta est viverra ac. Nullam dictum est non nulla ullamcorper, sed fermentum lacus egestas. Vivamus a ligula enim. Praesent bibendum scelerisque mauris ut tristique.</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
            "udi": "umb://element/bebdf82773064a25abfc73634532d076",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
            "udi": "umb://element/a7ca03a5c97b4ae4a9a8f41340c0a71c",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
            "udi": "umb://element/f1599a540ead408fb06478b5d91a859d",
            "customClasses": "",
            "hideFromWebsite": ""
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/0854a294a90845c7b5ac351ecc90d5e8",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3bff092a02bb4e4eabb87a6e780a1df9",
              "settingsUdi": "umb://element/e814cc82b8a54bd7a09eb2263c030047"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "9aff4265-df9a-474a-91c4-0e6affc43585",
            "udi": "umb://element/3bff092a02bb4e4eabb87a6e780a1df9",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Accordions",
              "headingtag": "m"
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "accordionTabs": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/c01258adffad4221b3aca06ba8be1e12",
                    "settingsUdi": "umb://element/6881cac2a6ce4283aa6e6405e59e3a6d"
                  },
                  {
                    "contentUdi": "umb://element/12b707d31f6f4ef3a1075d00292e29c0",
                    "settingsUdi": "umb://element/a8336f36122b4271b09d6e6f1ca75ecf"
                  },
                  {
                    "contentUdi": "umb://element/1284cebdfff047f388d5ae45c859aaa9",
                    "settingsUdi": "umb://element/7b9736eeb1234c64902281630e3bc11a"
                  },
                  {
                    "contentUdi": "umb://element/a85746c0042247fc9a218f9f1a6c8cb5",
                    "settingsUdi": "umb://element/c4f9531fd3284ee3abd652f97b64a867"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
                  "udi": "umb://element/c01258adffad4221b3aca06ba8be1e12",
                  "itemHeading": "Pellentesque",
                  "repeaterText": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
                },
                {
                  "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
                  "udi": "umb://element/12b707d31f6f4ef3a1075d00292e29c0",
                  "itemHeading": "Ipsum",
                  "repeaterText": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
                },
                {
                  "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
                  "udi": "umb://element/1284cebdfff047f388d5ae45c859aaa9",
                  "itemHeading": "Lorem",
                  "repeaterText": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
                },
                {
                  "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
                  "udi": "umb://element/a85746c0042247fc9a218f9f1a6c8cb5",
                  "itemHeading": "Netus",
                  "repeaterText": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
                  "udi": "umb://element/6881cac2a6ce4283aa6e6405e59e3a6d",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
                  "udi": "umb://element/a8336f36122b4271b09d6e6f1ca75ecf",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
                  "udi": "umb://element/7b9736eeb1234c64902281630e3bc11a",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
                  "udi": "umb://element/c4f9531fd3284ee3abd652f97b64a867",
                  "customClasses": "",
                  "hideFromWebsite": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "c96e4620-a2ee-457a-b806-0df6e7509e69",
            "udi": "umb://element/e814cc82b8a54bd7a09eb2263c030047",
            "repeaterStyle": "layoutAccordion",
            "accordionOptions": "firstOpen",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeInDown",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "Accordions / tabs - Split",
            "accordionTabStyle": "tab-buttons",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7ad9a240ac47433a99de5d876ab152d2",
              "settingsUdi": "umb://element/58ca2ddea6be456bb6059a8c5f949bf5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "9aff4265-df9a-474a-91c4-0e6affc43585",
            "udi": "umb://element/7ad9a240ac47433a99de5d876ab152d2",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Tabs",
              "headingtag": "m"
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "accordionTabs": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/c6aa7fa8e14748ff9c5daf90ef2efa3b",
                    "settingsUdi": "umb://element/ef5ea53ab4c2493cb5c413c546fae6f9"
                  },
                  {
                    "contentUdi": "umb://element/de35c1e990c04d1bb89d784ae3f2427d",
                    "settingsUdi": "umb://element/2831baf45c7e4d2e9ddbdc4c573b9281"
                  },
                  {
                    "contentUdi": "umb://element/6d2202dfdbdd43e98f28267c6e556368",
                    "settingsUdi": "umb://element/78520c04fef14403988a85ed2257c46e"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
                  "udi": "umb://element/c6aa7fa8e14748ff9c5daf90ef2efa3b",
                  "itemHeading": "Tab",
                  "repeaterText": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
                },
                {
                  "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
                  "udi": "umb://element/de35c1e990c04d1bb89d784ae3f2427d",
                  "itemHeading": "Another",
                  "repeaterText": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
                },
                {
                  "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
                  "udi": "umb://element/6d2202dfdbdd43e98f28267c6e556368",
                  "itemHeading": "Lipsum",
                  "repeaterText": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
                  "udi": "umb://element/ef5ea53ab4c2493cb5c413c546fae6f9",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
                  "udi": "umb://element/2831baf45c7e4d2e9ddbdc4c573b9281",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
                  "udi": "umb://element/78520c04fef14403988a85ed2257c46e",
                  "customClasses": "",
                  "hideFromWebsite": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "c96e4620-a2ee-457a-b806-0df6e7509e69",
            "udi": "umb://element/58ca2ddea6be456bb6059a8c5f949bf5",
            "repeaterStyle": "layoutTabbed",
            "accordionOptions": "",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeInRight",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "accordionTabStyle": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d247b7e6-3122-4fd3-8994-96aadc5f726c",
      "udi": "umb://element/58d3a4e1e1544b8ba0a476e53f1e9ddc",
      "textAlignment": "text-left",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Page heading",
      "hideFromWebsite": "",
      "customClasses": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "c47b8114-f1d6-4c85-afa7-6ba961975c74",
      "udi": "umb://element/6cbbf3d40b4e42fc89833131f9e752f4",
      "repeaterStyle": "layoutAccordion",
      "accordionOptions": "firstOpen",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Accordion",
      "hideFromWebsite": "",
      "customClasses": "",
      "accordionTabStyle": "tab-underline",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "c47b8114-f1d6-4c85-afa7-6ba961975c74",
      "udi": "umb://element/3dd1c837a7904ceb95e8a9a9cf131bb8",
      "repeaterStyle": "layoutTabbed",
      "accordionOptions": "",
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthWide",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Tabs",
      "hideFromWebsite": "",
      "customClasses": "",
      "accordionTabStyle": "tab-linethrough",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "c47b8114-f1d6-4c85-afa7-6ba961975c74",
      "udi": "umb://element/57ae06a60a074369bfe060a25a02068c",
      "repeaterStyle": "layoutAccordion",
      "accordionOptions": "closed",
      "backgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Accordion",
      "hideFromWebsite": "",
      "customClasses": "",
      "accordionTabStyle": "tab-basic",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/fba5783429a44f80bfd8af43c6cca827",
      "desktopTabletOrder": "",
      "mobileOrder": "",
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Accordion / Tabs",
      "hideFromWebsite": "",
      "customClasses": ""
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/00611b867178497db8dd87de180e1d35]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>