<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3ced8e7-ec9b-4da8-bea7-4be56ae2e6c9" Alias="Alert Box" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/AlertBox</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:11</CreateDate>
    <NodeName Default="Alert Box">
      <Name Culture="en-us">Alert Box</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/58d4be6a5d4f4e319d88038b5b6fa93a",
        "settingsUdi": "umb://element/374be0bd8cd14206b0d776effbd54bf4"
      },
      {
        "contentUdi": "umb://element/99cb36c4ac2e46eeb63f9371c0f03acc",
        "settingsUdi": "umb://element/ce3558165e3a4105a7b332edfe576735"
      },
      {
        "contentUdi": "umb://element/ea3947a655884c34901ea805f0880bbe",
        "settingsUdi": "umb://element/1e8f0ea3228d454880165cdf734376ad"
      },
      {
        "contentUdi": "umb://element/97ad09fa948d4fafaf3b2c41505ef8d2",
        "settingsUdi": "umb://element/0f6606dd078c472d81c8dae4e2296302"
      },
      {
        "contentUdi": "umb://element/7d6333e9574f433aaeba739ad2a07a39",
        "settingsUdi": "umb://element/ef392beecd21407c866f4f341e256b15"
      },
      {
        "contentUdi": "umb://element/e9b7e0b14fd846029f60283900eb2994",
        "settingsUdi": "umb://element/14bdaeb1000347b689f97fbb8a74f9c6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "774318b9-8e4b-47db-839b-56205a6e84e0",
      "udi": "umb://element/58d4be6a5d4f4e319d88038b5b6fa93a",
      "heading": {
        "text": "Alert Box",
        "headingtag": "h1"
      },
      "secondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "text": "",
      "buttons": ""
    },
    {
      "contentTypeKey": "c5d2fc53-3811-458c-9a7a-0b9213e45110",
      "udi": "umb://element/ea3947a655884c34901ea805f0880bbe",
      "text": "<p>Information alert.</p>"
    },
    {
      "contentTypeKey": "c5d2fc53-3811-458c-9a7a-0b9213e45110",
      "udi": "umb://element/97ad09fa948d4fafaf3b2c41505ef8d2",
      "text": "<p>Warning alert</p>"
    },
    {
      "contentTypeKey": "c5d2fc53-3811-458c-9a7a-0b9213e45110",
      "udi": "umb://element/7d6333e9574f433aaeba739ad2a07a39",
      "text": "<p>Success alert</p>"
    },
    {
      "contentTypeKey": "c5d2fc53-3811-458c-9a7a-0b9213e45110",
      "udi": "umb://element/e9b7e0b14fd846029f60283900eb2994",
      "text": "<p>Danger alert</p>"
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/99cb36c4ac2e46eeb63f9371c0f03acc",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8e09e1dfdc4644c8acfe3a4c71428065",
              "settingsUdi": "umb://element/826d04ec36df42c090a1fb4b07e3850b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c5d2fc53-3811-458c-9a7a-0b9213e45110",
            "udi": "umb://element/8e09e1dfdc4644c8acfe3a4c71428065",
            "text": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "1c08a2fb-94be-4f89-a1ec-7f06869270ef",
            "udi": "umb://element/826d04ec36df42c090a1fb4b07e3850b",
            "color": {
              "value": "dff0d8",
              "label": "dff0d8",
              "sortOrder": 0,
              "id": "2"
            },
            "hideCloseOption": "1",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeInUp",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f4b6754fbb5a44c68a2d9cb474e4f12b",
              "settingsUdi": "umb://element/a963750bf6eb4875a358ea7d269a1848"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c5d2fc53-3811-458c-9a7a-0b9213e45110",
            "udi": "umb://element/f4b6754fbb5a44c68a2d9cb474e4f12b",
            "text": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "1c08a2fb-94be-4f89-a1ec-7f06869270ef",
            "udi": "umb://element/a963750bf6eb4875a358ea7d269a1848",
            "color": {
              "value": "f2dede",
              "label": "f2dede",
              "sortOrder": 3,
              "id": "4"
            },
            "hideCloseOption": "0",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeInDown",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d247b7e6-3122-4fd3-8994-96aadc5f726c",
      "udi": "umb://element/374be0bd8cd14206b0d776effbd54bf4",
      "textAlignment": "text-left",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "88761646-8930-430d-af5c-d5c9f000120c",
      "udi": "umb://element/1e8f0ea3228d454880165cdf734376ad",
      "color": {
        "value": "d9edf7",
        "label": "d9edf7",
        "sortOrder": 0,
        "id": "1"
      },
      "hideCloseOption": "",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Info Alert",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "88761646-8930-430d-af5c-d5c9f000120c",
      "udi": "umb://element/0f6606dd078c472d81c8dae4e2296302",
      "color": {
        "value": "fcf8e3",
        "label": "fcf8e3",
        "sortOrder": 2,
        "id": "3"
      },
      "hideCloseOption": "",
      "backgroundColor": {
        "value": "e7e7e7",
        "heading": "000000",
        "secondaryheading": "ee5d5d",
        "text": "222222",
        "border": "c4c4c4",
        "label": "c5",
        "sortOrder": 5,
        "id": 6
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Warning Alert",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "88761646-8930-430d-af5c-d5c9f000120c",
      "udi": "umb://element/ef392beecd21407c866f4f341e256b15",
      "color": {
        "value": "dff0d8",
        "label": "dff0d8",
        "sortOrder": 1,
        "id": "2"
      },
      "hideCloseOption": "",
      "backgroundColor": {
        "value": "ee5d5d",
        "heading": "ffffff",
        "secondaryheading": "ffffff",
        "text": "ffffff",
        "border": "ee8282",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Success Alert",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "88761646-8930-430d-af5c-d5c9f000120c",
      "udi": "umb://element/14bdaeb1000347b689f97fbb8a74f9c6",
      "color": {
        "value": "f2dede",
        "label": "f2dede",
        "sortOrder": 3,
        "id": "4"
      },
      "hideCloseOption": "1",
      "backgroundColor": {
        "value": "ffffff",
        "heading": "000000",
        "secondaryheading": "ee5d5d",
        "text": "68676b",
        "border": "e7e7e7",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "1",
      "animationStyle": "flash",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Danger Alert",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/ce3558165e3a4105a7b332edfe576735",
      "desktopTabletOrder": "",
      "mobileOrder": "",
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/f01d58c6b52841a0962d38fbc294579d]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>