<?xml version="1.0" encoding="utf-8"?>
<Content Key="18199914-9ef6-4556-9d00-a02c99d08a3f" Alias="Anchor Navigation" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/AnchorNavigation</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:11</CreateDate>
    <NodeName Default="Anchor Navigation">
      <Name Culture="en-us">Anchor Navigation</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/059b8fc1007a4a1f9f7a8ba1155b9b95",
        "settingsUdi": "umb://element/1b3b4af9f7a14c5497f4da7b13fd75a6"
      },
      {
        "contentUdi": "umb://element/192d6ef35080487086d4d70fb3654fc4",
        "settingsUdi": "umb://element/18dfb822bc0740a9b8350632f6684ac9"
      },
      {
        "contentUdi": "umb://element/4a76d0698e0a49fe99b53f6acc710874",
        "settingsUdi": "umb://element/695a25860c4149839d861696813996bb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9cfd8c2c-b89e-4bf9-8244-f2d8da401262",
      "udi": "umb://element/059b8fc1007a4a1f9f7a8ba1155b9b95",
      "anchorNavigation": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Gallery",
              "queryString": "#gallery",
              "url": "",
              "icon": "icon-link",
              "published": true
            }
          ]
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Subpages",
              "queryString": "#subpages",
              "icon": "icon-link",
              "published": true
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "18956f7b-bde5-48be-9752-9adaa9693902",
      "udi": "umb://element/192d6ef35080487086d4d70fb3654fc4",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "imageVideo": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3a253ab464a0454bab338fd4976363cd",
              "settingsUdi": "umb://element/43d044de642449718aad207f4a21e75b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2630fbb-386b-402f-b83a-58ce146a5e7f",
            "udi": "umb://element/3a253ab464a0454bab338fd4976363cd",
            "mediaFolder": "umb://media/c7eea8d6473645c5a950bb043200e499",
            "disableLightWindow": "0"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "7b73a980-9d86-4757-9aaa-adbe6be9ee8a",
            "udi": "umb://element/43d044de642449718aad207f4a21e75b",
            "itemName": "",
            "includeChildFolders": "",
            "customClasses": "",
            "hideFromWebsite": ""
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "080c227a-59a2-40fd-ad68-aaf356ac3a8a",
      "udi": "umb://element/4a76d0698e0a49fe99b53f6acc710874",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "linkToListing": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Layouts",
              "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
              "url": "/layouts/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        }
      ],
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "22a99f44-e579-4789-a175-badc90378017",
      "udi": "umb://element/1b3b4af9f7a14c5497f4da7b13fd75a6",
      "navigationAlignment": "justify-content-center text-center",
      "backgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeInDown",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "sticky",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "linkStyle": "tab-buttons",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "3344380c-6fea-4a8d-92eb-c7fd92ef573f",
      "udi": "umb://element/18dfb822bc0740a9b8350632f6684ac9",
      "itemsPerRow": "items-3",
      "removeItemSpacing": "1",
      "imageStyle": "",
      "boxPad": "",
      "enableCarousel": "1",
      "showArrows": "1",
      "showDots": "",
      "autoRotateSpeed": "0",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "",
      "animationStyle": "fadeInUp",
      "animationDelay": "0",
      "anchorName": "gallery",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "339192e8-0638-4e12-b6ea-81792e36ce7d",
      "udi": "umb://element/695a25860c4149839d861696813996bb",
      "itemTextPosition": "item_text-below",
      "overlayBackgroundColor": {
        "value": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ee5d5d",
        "text": "#dbdbdb",
        "border": "#2d2d2d",
        "label": "c3",
        "sortOrder": 3,
        "id": 4
      },
      "itemsPerRow8": "items-3",
      "itemsPerRow4": "",
      "itemHeadingSize": "",
      "itemTextAlignment": "textAlignmentLeft",
      "removeItemSpacing": "0",
      "hideImage": "0",
      "imageStyle": "imageStyleLandscape",
      "boxPad": "0",
      "pagesToDisplay": "",
      "enableCarousel": "0",
      "showArrows": "0",
      "showDots": "0",
      "autoRotateSpeed": "0",
      "backgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "0",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "subpages",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0",
      "overlayTextPosition": "Vertical_BottomCenter",
      "tabStyle": "",
      "animationDuration": "1.2",
      "addBackgroundColor": "0",
      "itemSecondaryHeadingSize": "",
      "enableRandomOrder": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>