<?xml version="1.0" encoding="utf-8"?>
<Content Key="be45b372-f034-44ba-96c8-065e64e85dfd" Alias="Authors" Level="3">
  <Info>
    <Parent Key="b150e3fc-2c30-49c3-bc31-35e1c5242070">Blog</Parent>
    <Path>/Home/Blog/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>USNBlogAuthors</ContentType>
    <CreateDate>2023-12-08T16:35:17</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="24fa36af-8083-45c8-a7fe-3c49df2aab46">USNParentRedirect</Template>
  </Info>
  <Properties>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
  </Properties>
</Content>