<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0645e0c-58b9-48a6-89bb-100cf26100de" Alias="Banners" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/Banners</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:11</CreateDate>
    <NodeName Default="Banners">
      <Name Culture="en-us">Banners</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/55f4a9dd92f74ea0bb99263113dfd07f",
        "settingsUdi": "umb://element/95fb747c67f848b5ba2276ea10b0732e"
      },
      {
        "contentUdi": "umb://element/88d15c37c90745408f6724e67b32fd9d",
        "settingsUdi": "umb://element/dcd8da7ac30d44ab8dbfae6d78a4d668"
      },
      {
        "contentUdi": "umb://element/f3dcd11e2e6e4c099f596bb9a482a96b",
        "settingsUdi": "umb://element/c24e51d2fd01431aa51052ed197f843d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "df7b194c-2e78-43b0-82ad-ae709f825d26",
      "udi": "umb://element/55f4a9dd92f74ea0bb99263113dfd07f",
      "banners": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/785640f33bd545ff8e3777cd68fa0760",
              "settingsUdi": "umb://element/e6b85752238940ac84c9d6944f8c7797"
            },
            {
              "contentUdi": "umb://element/6775abf297994a02a99fd19c854aba2b",
              "settingsUdi": "umb://element/dadd64a37fc047748f62fd3873232d8d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fe934c83-9f93-4c2b-9881-7b747755505a",
            "udi": "umb://element/785640f33bd545ff8e3777cd68fa0760",
            "bannerImage": "umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8",
            "bannerVideoSource": "",
            "bannerVideoMP4": null,
            "bannerVideo3rdParty": "",
            "bannerHeading": {
              "text": "Umbraco 8 theme",
              "headingtag": "h1"
            },
            "bannerSecondaryHeading": {
              "text": "Fabric theme is the ultimate",
              "headingtag": ""
            },
            "bannerText": "<p><span class=\"intro lg\">Taking Umbraco to the next level.</span></p>",
            "bannerButtons": [
              {
                "color": {
                  "value": "222222",
                  "text": "ffffff",
                  "border": "222222",
                  "label": "c1-btn",
                  "sortOrder": 1,
                  "id": 2
                },
                "icon": "usn_ion-ios-brush",
                "size": "m",
                "link": [
                  {
                    "name": "Layouts",
                    "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
                    "url": "/layouts/",
                    "icon": "icon-layout color-black",
                    "published": true,
                    "trashed": false
                  }
                ]
              },
              {
                "color": {
                  "value": "e7e7e7",
                  "text": "222222",
                  "border": "e7e7e7",
                  "label": "c4-btn",
                  "sortOrder": 4,
                  "id": 5
                },
                "icon": "usn_ion-ios-apps",
                "size": "l",
                "link": [
                  {
                    "name": "Components",
                    "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
                    "url": "/components/",
                    "icon": "icon-layout color-black",
                    "published": true,
                    "trashed": false
                  }
                ]
              }
            ]
          },
          {
            "contentTypeKey": "fe934c83-9f93-4c2b-9881-7b747755505a",
            "udi": "umb://element/6775abf297994a02a99fd19c854aba2b",
            "bannerImage": "umb://media/f01d58c6b52841a0962d38fbc294579d",
            "bannerVideoSource": "",
            "bannerVideoMP4": null,
            "bannerVideo3rdParty": "",
            "bannerHeading": {
              "text": "Heading 2 (H2)",
              "headingtag": "h2"
            },
            "bannerSecondaryHeading": {
              "text": "Scale banner",
              "headingtag": ""
            },
            "bannerText": "",
            "bannerButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "e72b1c56-cbfd-4680-a186-244edeef03e0",
            "udi": "umb://element/e6b85752238940ac84c9d6944f8c7797",
            "bannerBackgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": 1,
              "id": 2
            },
            "bannerStyle": "bannerSizeMedium",
            "bannerTextAlignment": "text-center",
            "bannerTextPosition": "Text_CenterCenter",
            "bannerAddColorOverlay": "1",
            "bannerScrollPrompt": "",
            "bannerParallax": "",
            "animate": "1",
            "animationStyle": "fadeInDown",
            "animationDelay": "0",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "bannerScrollStyle": "",
            "animationDuration": "1.2"
          },
          {
            "contentTypeKey": "e72b1c56-cbfd-4680-a186-244edeef03e0",
            "udi": "umb://element/dadd64a37fc047748f62fd3873232d8d",
            "bannerBackgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": 1,
              "id": 2
            },
            "bannerStyle": "bannerSizeScale",
            "bannerTextAlignment": "text-left",
            "bannerTextPosition": "Text_TopLeft",
            "bannerAddColorOverlay": "1",
            "bannerScrollPrompt": "",
            "bannerParallax": "",
            "animate": "1",
            "animationStyle": "fadeInUp",
            "animationDelay": "0",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "bannerScrollStyle": "",
            "animationDuration": "1.2"
          }
        ]
      }
    },
    {
      "contentTypeKey": "df7b194c-2e78-43b0-82ad-ae709f825d26",
      "udi": "umb://element/88d15c37c90745408f6724e67b32fd9d",
      "banners": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c3aaa6bc72b84c6faebdb7d4bc84ea8b",
              "settingsUdi": "umb://element/bbd714acb1874dfbb7ccedf5ee856457"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fe934c83-9f93-4c2b-9881-7b747755505a",
            "udi": "umb://element/c3aaa6bc72b84c6faebdb7d4bc84ea8b",
            "bannerImage": "umb://media/fce45c91b78d422ea5cc3bf2c45ff85a",
            "bannerVideoSource": "",
            "bannerVideoMP4": null,
            "bannerVideo3rdParty": "",
            "bannerHeading": {
              "text": "Takeover",
              "headingtag": "h2"
            },
            "bannerSecondaryHeading": {
              "text": "Parallax image",
              "headingtag": "l"
            },
            "bannerText": "",
            "bannerButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "e72b1c56-cbfd-4680-a186-244edeef03e0",
            "udi": "umb://element/bbd714acb1874dfbb7ccedf5ee856457",
            "bannerBackgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": 1,
              "id": 2
            },
            "bannerStyle": "bannerSizeTakeover",
            "bannerTextAlignment": "text-center",
            "bannerTextPosition": "Text_BottomLeft",
            "bannerAddColorOverlay": "1",
            "bannerScrollPrompt": "1",
            "bannerParallax": "1",
            "animate": "1",
            "animationStyle": "fadeInUp",
            "animationDelay": "0",
            "customClasses": "",
            "itemName": "",
            "bannerScrollStyle": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "df7b194c-2e78-43b0-82ad-ae709f825d26",
      "udi": "umb://element/f3dcd11e2e6e4c099f596bb9a482a96b",
      "banners": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b735257ef887499292b867e1539bb8b2",
              "settingsUdi": "umb://element/8063446503224deca8b9ebd0cbf7d773"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fe934c83-9f93-4c2b-9881-7b747755505a",
            "udi": "umb://element/b735257ef887499292b867e1539bb8b2",
            "bannerImage": null,
            "bannerVideoSource": "",
            "bannerVideoMP4": null,
            "bannerVideo3rdParty": "",
            "bannerHeading": {
              "text": "Medium",
              "headingtag": "h3"
            },
            "bannerSecondaryHeading": {
              "text": "No image",
              "headingtag": "l"
            },
            "bannerText": "",
            "bannerButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "e72b1c56-cbfd-4680-a186-244edeef03e0",
            "udi": "umb://element/8063446503224deca8b9ebd0cbf7d773",
            "bannerBackgroundColor": {
              "value": "#ffffff",
              "firstBgColor": "#ffffff",
              "heading": "#000000",
              "secondaryheading": "000000",
              "text": "#000000",
              "border": "#000000",
              "label": "base",
              "sortOrder": 0,
              "id": 1
            },
            "bannerStyle": "bannerSizeMedium",
            "bannerTextAlignment": "text-center",
            "bannerTextPosition": "Text_CenterCenter",
            "bannerAddColorOverlay": "0",
            "bannerScrollPrompt": "0",
            "bannerParallax": "0",
            "animate": "1",
            "animationStyle": "jackInTheBox",
            "animationDelay": "0",
            "customClasses": "",
            "itemName": "",
            "bannerScrollStyle": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7c18879f-d2c5-4d87-b9f5-02544784e0e2",
      "udi": "umb://element/95fb747c67f848b5ba2276ea10b0732e",
      "showArrows": "0",
      "showDots": "1",
      "autoRotateSpeed": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Banners (Random order)",
      "customClasses": "",
      "hideFromWebsite": "0",
      "enableRandomOrder": "1"
    },
    {
      "contentTypeKey": "7c18879f-d2c5-4d87-b9f5-02544784e0e2",
      "udi": "umb://element/dcd8da7ac30d44ab8dbfae6d78a4d668",
      "showArrows": "",
      "showDots": "",
      "autoRotateSpeed": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "enableRandomOrder": ""
    },
    {
      "contentTypeKey": "7c18879f-d2c5-4d87-b9f5-02544784e0e2",
      "udi": "umb://element/c24e51d2fd01431aa51052ed197f843d",
      "showArrows": "",
      "showDots": "",
      "autoRotateSpeed": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "enableRandomOrder": ""
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/00611b867178497db8dd87de180e1d35]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>