<?xml version="1.0" encoding="utf-8"?>
<Content Key="b150e3fc-2c30-49c3-bc31-35e1c5242070" Alias="Blog" Level="2">
  <Info>
    <Parent Key="ece839d8-1d32-4504-871c-c9f7253fb91e">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>USNBlogLandingPage</ContentType>
    <CreateDate>2023-12-08T16:35:16</CreateDate>
    <NodeName Default="Blog">
      <Name Culture="en-us">Blog</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="9c9731b8-9234-4dce-839f-6f83c5907edb">USNBlogLandingPage</Template>
  </Info>
  <Properties>
    <aboveListing>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/372136197510492caa1e13449ed26ddb",
        "settingsUdi": "umb://element/08a57f440176491e89a89ad0faddaa36"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "df7b194c-2e78-43b0-82ad-ae709f825d26",
      "udi": "umb://element/372136197510492caa1e13449ed26ddb",
      "banners": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cc93ec0850674a59b11a8f0e9434ce31",
              "settingsUdi": "umb://element/974094a805a044bf91069b95648123f3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fe934c83-9f93-4c2b-9881-7b747755505a",
            "udi": "umb://element/cc93ec0850674a59b11a8f0e9434ce31",
            "bannerImage": null,
            "bannerVideoSource": "",
            "bannerVideoMP4": null,
            "bannerVideo3rdParty": "",
            "bannerHeading": {
              "text": "Latest Posts",
              "headingtag": "h1"
            },
            "bannerSecondaryHeading": {
              "text": "Welcome to our Blog",
              "headingtag": "m"
            },
            "bannerText": "",
            "bannerButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "e72b1c56-cbfd-4680-a186-244edeef03e0",
            "udi": "umb://element/974094a805a044bf91069b95648123f3",
            "bannerBackgroundColor": {
              "value": "#d8d8d8",
              "firstBgColor": "#d8d8d8",
              "heading": "#000000",
              "secondaryheading": "#000000",
              "text": "#000000",
              "border": "#000000",
              "label": "c2",
              "sortOrder": 2,
              "id": 3
            },
            "bannerStyle": "bannerSizeShort",
            "bannerTextAlignment": "textAlignmentLeft",
            "bannerTextPosition": "Text_CenterLeft",
            "bannerAddColorOverlay": "0",
            "bannerScrollPrompt": "0",
            "bannerParallax": "0",
            "animate": "1",
            "animationStyle": "fadeInDown",
            "animationDelay": "0",
            "customClasses": "",
            "itemName": "",
            "bannerScrollStyle": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7c18879f-d2c5-4d87-b9f5-02544784e0e2",
      "udi": "umb://element/08a57f440176491e89a89ad0faddaa36",
      "showArrows": "",
      "showDots": "",
      "autoRotateSpeed": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "enableRandomOrder": ""
    }
  ]
}]]></Value>
    </aboveListing>
    <addBackgroundColor>
      <Value><![CDATA[0]]></Value>
    </addBackgroundColor>
    <belowListing>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowListing>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <defaultAuthor>
      <Value><![CDATA[umb://document/b546eb2bbc8644b5a1d8fd1f0e0d2dbe]]></Value>
    </defaultAuthor>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <disqusUsername>
      <Value><![CDATA[]]></Value>
    </disqusUsername>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideImage>
      <Value><![CDATA[0]]></Value>
    </hideImage>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <instructions>
      <Value><![CDATA[]]></Value>
    </instructions>
    <itemBackgroundColor>
      <Value><![CDATA[0]]></Value>
    </itemBackgroundColor>
    <itemHeadingSize>
      <Value><![CDATA[lg]]></Value>
    </itemHeadingSize>
    <itemSecondaryHeadingSize>
      <Value><![CDATA[]]></Value>
    </itemSecondaryHeadingSize>
    <itemsPerRow4>
      <Value><![CDATA[]]></Value>
    </itemsPerRow4>
    <itemsPerRow8>
      <Value><![CDATA[items-2]]></Value>
    </itemsPerRow8>
    <itemTextAlignment>
      <Value><![CDATA[]]></Value>
    </itemTextAlignment>
    <itemTextPosition>
      <Value><![CDATA[item_text-below]]></Value>
    </itemTextPosition>
    <listingImageStyle>
      <Value><![CDATA[]]></Value>
    </listingImageStyle>
    <listingIntroduction>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </listingIntroduction>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overlayBackgroundColor>
      <Value><![CDATA[]]></Value>
    </overlayBackgroundColor>
    <overlayTextPosition>
      <Value><![CDATA[]]></Value>
    </overlayTextPosition>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutLeft]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pagesToDisplay>
      <Value><![CDATA[]]></Value>
    </pagesToDisplay>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageSummary>
    <removeItemSpacing>
      <Value><![CDATA[0]]></Value>
    </removeItemSpacing>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>