<?xml version="1.0" encoding="utf-8"?>
<Content Key="9dbe0ef6-9539-430a-8b69-4622b29f56f7" Alias="Categories" Level="3">
  <Info>
    <Parent Key="b150e3fc-2c30-49c3-bc31-35e1c5242070">Blog</Parent>
    <Path>/Home/Blog/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>USNBlogCategories</ContentType>
    <CreateDate>2023-12-08T16:35:16</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="24fa36af-8083-45c8-a7fe-3c49df2aab46">USNParentRedirect</Template>
  </Info>
  <Properties>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
    <instructions>
      <Value><![CDATA[]]></Value>
    </instructions>
  </Properties>
</Content>