<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f091b9e-bf92-4ca0-9487-488f667f3960" Alias="Contact" Level="2">
  <Info>
    <Parent Key="ece839d8-1d32-4504-871c-c9f7253fb91e">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:17</CreateDate>
    <NodeName Default="Contact">
      <Name Culture="en-us">Contact</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2b0ac9b40c314387925f476e2704411b",
        "settingsUdi": "umb://element/f48c8588ee7446f788063818be2aeceb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540d5df4-24af-479b-ba4d-056abfec4198",
      "udi": "umb://element/2b0ac9b40c314387925f476e2704411b",
      "reusableComponentGroups": "umb://document/9202f9cef55246adac5b82beb03de59a"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ecf41871-ac04-4b2a-aa6e-6cb613b037a5",
      "udi": "umb://element/f48c8588ee7446f788063818be2aeceb",
      "itemName": "Maps",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthFull",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "animationDuration": "1.0",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "pt-0,pb-0",
      "hideFromWebsite": "",
      "style": "layoutTabbed",
      "tabAlignment": "justify-content-center text-center",
      "tabStyle": "tab-buttons"
    }
  ]
}]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[1]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/55970f95652b47ebb62bb486700f1221",
        "settingsUdi": "umb://element/52f928f5e7274d94b87d46d71e818a16"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
      "udi": "umb://element/55970f95652b47ebb62bb486700f1221",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "formType": "contactForm",
      "hideFields": "0",
      "contactRecipientEmailAddress": "",
      "umbracoForm": "",
      "loginSuccessPage": null,
      "formHeading": {
        "text": "",
        "headingtag": ""
      },
      "formSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "formIntroduction": "",
      "formButtonText": "",
      "formSubmissionMessage": "<p>Thank you for your enquiry. Someone from our team will be in touch soon.</p>",
      "formSubscriberListID": "",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": "",
      "loginFormPage": null,
      "resetPasswordRequestPage": null,
      "resetPasswordPage": null,
      "setEmailAddressAsUsername": "0",
      "adminApprovalRequired": "0",
      "emailConfirmationRequired": "0",
      "memberConfirmationEmail": "",
      "resetPasswordEmail": "",
      "memberGroups": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d84c410f-7d72-4a27-b708-e3914100195c",
      "udi": "umb://element/52f928f5e7274d94b87d46d71e818a16",
      "formContainerBackgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "formButtonColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Contact form",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutLeft]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/19d3fe30c77d457997ca28c55d02a706",
        "settingsUdi": "umb://element/2713187f685945feb6395902de85cce3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4f8404cc-6da4-43a8-ac0e-a9adfcfbf6fc",
      "udi": "umb://element/19d3fe30c77d457997ca28c55d02a706",
      "reusablePodGroups": "umb://document/4364c3f7129d4fa8b41324791125185e"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "16b1b05b-4654-4983-a5ce-33880bba040e",
      "udi": "umb://element/2713187f685945feb6395902de85cce3",
      "itemName": "Contact Details / Opening Times",
      "hideFromWebsite": ""
    }
  ]
}]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "heading": "",
  "description": "",
  "title": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>