<?xml version="1.0" encoding="utf-8"?>
<Content Key="4364c3f7-129d-4fa8-b413-24791125185e" Alias="Contact Details / Opening Times" Level="3">
  <Info>
    <Parent Key="93130294-4b65-4aaa-9131-0967c4ba1179">Reusable Pods</Parent>
    <Path>/Global/ReusablePods/ContactDetailsOpeningTimes</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPodGroup</ContentType>
    <CreateDate>2023-12-08T16:35:19</CreateDate>
    <NodeName Default="Contact Details / Opening Times">
      <Name Culture="en-us">Contact Details / Opening Times</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
  </Info>
  <Properties>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <pods>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8851a450e9724f88ab428081d12bb63e",
        "settingsUdi": "umb://element/8c056cd163784ecb90fc63be71dcaf9c"
      },
      {
        "contentUdi": "umb://element/c232bed82a3a4c57ba9f7aa4bd2054ef",
        "settingsUdi": "umb://element/62c27285bb3a4bf1b8792705acc7f000"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1d1a632f-c68e-459e-9cc7-1befad1afc55",
      "udi": "umb://element/c232bed82a3a4c57ba9f7aa4bd2054ef",
      "tableHeading": {
        "text": "Opening hours",
        "headingtag": "s"
      },
      "dataItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b5abc916a55546ea98e0af6bc88163eb",
              "settingsUdi": "umb://element/ec2e7e327e4d4eaa934843328d62bf9e"
            },
            {
              "contentUdi": "umb://element/635871de3fbe46d3aaff513cb16cf144",
              "settingsUdi": "umb://element/a54330b982fe482b832b4df09a50d238"
            },
            {
              "contentUdi": "umb://element/facc07c400344a57b00ab587e44be88e",
              "settingsUdi": "umb://element/60d6dc15417649ae91ff6f3f795a7ce4"
            },
            {
              "contentUdi": "umb://element/bbfcde19702747e6a4afc70f017c4c81",
              "settingsUdi": "umb://element/a8b8a579e81444eea5329a8d67befd10"
            },
            {
              "contentUdi": "umb://element/c413ffede2b1432a8649770ceb02dcd0",
              "settingsUdi": "umb://element/32e1d2eb66ac4e8c87062344ad6a43a9"
            },
            {
              "contentUdi": "umb://element/30a66c4da5a74693b911d0f137c43e50",
              "settingsUdi": "umb://element/56cf5888f22a4cc79117acc035d7207d"
            },
            {
              "contentUdi": "umb://element/ef49968d807c45088e9601a82199c39d",
              "settingsUdi": "umb://element/b25ababf1e8d47fc80b0db02db6a0b71"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
            "udi": "umb://element/b5abc916a55546ea98e0af6bc88163eb",
            "textLeft": "Monday",
            "additionalInfo": "",
            "textRight": "9am-10pm"
          },
          {
            "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
            "udi": "umb://element/635871de3fbe46d3aaff513cb16cf144",
            "textLeft": "Tuesday",
            "additionalInfo": "",
            "textRight": "9am-10pm"
          },
          {
            "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
            "udi": "umb://element/facc07c400344a57b00ab587e44be88e",
            "textLeft": "Wednesday",
            "additionalInfo": "",
            "textRight": "9am-10pm"
          },
          {
            "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
            "udi": "umb://element/bbfcde19702747e6a4afc70f017c4c81",
            "textLeft": "Thursday",
            "additionalInfo": "",
            "textRight": "9am-10pm"
          },
          {
            "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
            "udi": "umb://element/c413ffede2b1432a8649770ceb02dcd0",
            "textLeft": "Friday",
            "additionalInfo": "",
            "textRight": "9am-10pm"
          },
          {
            "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
            "udi": "umb://element/30a66c4da5a74693b911d0f137c43e50",
            "textLeft": "Saturday",
            "additionalInfo": "",
            "textRight": "8am-1pm"
          },
          {
            "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
            "udi": "umb://element/ef49968d807c45088e9601a82199c39d",
            "textLeft": "Sunday",
            "additionalInfo": "",
            "textRight": "10am-6pm"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
            "udi": "umb://element/ec2e7e327e4d4eaa934843328d62bf9e",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
            "udi": "umb://element/a54330b982fe482b832b4df09a50d238",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
            "udi": "umb://element/60d6dc15417649ae91ff6f3f795a7ce4",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
            "udi": "umb://element/a8b8a579e81444eea5329a8d67befd10",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
            "udi": "umb://element/32e1d2eb66ac4e8c87062344ad6a43a9",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
            "udi": "umb://element/56cf5888f22a4cc79117acc035d7207d",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
            "udi": "umb://element/b25ababf1e8d47fc80b0db02db6a0b71",
            "customClasses": "",
            "hideFromWebsite": ""
          }
        ]
      },
      "tableSecondaryHeading": {
        "text": "",
        "headingtag": ""
      }
    },
    {
      "contentTypeKey": "7e9ea8e8-6378-441e-ae49-59f545ceb8bf",
      "udi": "umb://element/8851a450e9724f88ab428081d12bb63e",
      "podImage": null,
      "podHeading": {
        "text": "uSkinned",
        "headingtag": ""
      },
      "podSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "podText": "<p>South Block<br>60 Osborne Street<br>Glasgow G1 5QH</p>\n<p><strong class=\"footer-link\">000-000-000</strong></p>\n<p><a href=\"mailto:mail@example.com\">mail@example.com</a></p>",
      "podButton": "",
      "hidePodButton": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fa79989c-ecea-4b4f-af8d-e3570c0aeb2c",
      "udi": "umb://element/62c27285bb3a4bf1b8792705acc7f000",
      "addContainer": "",
      "animate": "1",
      "animationStyle": "bounceIn",
      "animationDelay": "0",
      "customClasses": "",
      "itemName": "Opening Times",
      "animationDuration": "1.2",
      "hideFromWebsite": ""
    },
    {
      "contentTypeKey": "9887e72c-11ff-49de-bb01-38302b9f61d5",
      "udi": "umb://element/8c056cd163784ecb90fc63be71dcaf9c",
      "itemName": "Contact Details",
      "textPosition": "textPositionBelow",
      "overlayBackgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "overlayTextPosition": "",
      "textAlignment": "textAlignmentLeft",
      "imageStyle": "",
      "boxPad": "",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": "",
      "addBackgroundColor": "",
      "backgroundColor": ""
    }
  ]
}]]></Value>
    </pods>
  </Properties>
</Content>