<?xml version="1.0" encoding="utf-8"?>
<Content Key="70f72c6f-c7a6-4fe5-8c63-08c6a5a97401" Alias="Content and Settings" Level="2">
  <Info>
    <Parent Key="676eb2e2-982f-4bd0-a491-435eeffdaa48">Global</Parent>
    <Path>/Global/ContentAndSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>USNGlobalSettings</ContentType>
    <CreateDate>2023-12-08T16:35:19</CreateDate>
    <NodeName Default="Content and Settings">
      <Name Culture="en-us">Content and Settings</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
  </Info>
  <Properties>
    <acceptNotificationButtonText>
      <Value Culture="en-us"><![CDATA[Accept]]></Value>
    </acceptNotificationButtonText>
    <afterOpeningBodyScripts>
      <Value><![CDATA[]]></Value>
    </afterOpeningBodyScripts>
    <beforeClosingBodyScripts>
      <Value><![CDATA[]]></Value>
    </beforeClosingBodyScripts>
    <currencyCode>
      <Value><![CDATA[]]></Value>
    </currencyCode>
    <currencyFormat>
      <Value><![CDATA[]]></Value>
    </currencyFormat>
    <currencySymbol>
      <Value><![CDATA[]]></Value>
    </currencySymbol>
    <defaultBottomComponents>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </defaultBottomComponents>
    <defaultNewsletterSubscriberListID>
      <Value><![CDATA[]]></Value>
    </defaultNewsletterSubscriberListID>
    <defaultOpenGraphImage>
      <Value><![CDATA[umb://media/e4eb4d14b95941ed8bea11e77d73dc60]]></Value>
    </defaultOpenGraphImage>
    <defaultPods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </defaultPods>
    <defaultTopComponents>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </defaultTopComponents>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
    <displayProductCTA>
      <Value><![CDATA[0]]></Value>
    </displayProductCTA>
    <ecwid>
      <Value><![CDATA[]]></Value>
    </ecwid>
    <ecwidInstructions>
      <Value><![CDATA[]]></Value>
    </ecwidInstructions>
    <emailMarketingPlatform>
      <Value><![CDATA[]]></Value>
    </emailMarketingPlatform>
    <enableNotification>
      <Value><![CDATA[1]]></Value>
    </enableNotification>
    <facebookPixel>
      <Value><![CDATA[]]></Value>
    </facebookPixel>
    <globalContentInstructions>
      <Value><![CDATA[]]></Value>
    </globalContentInstructions>
    <globalHidePeriod>
      <Value><![CDATA[]]></Value>
    </globalHidePeriod>
    <globalModalWindow>
      <Value><![CDATA[]]></Value>
    </globalModalWindow>
    <globalOpenAfter>
      <Value><![CDATA[2.0]]></Value>
    </globalOpenAfter>
    <globalScrollPercentage>
      <Value><![CDATA[20]]></Value>
    </globalScrollPercentage>
    <globalSelectReusableContent>
      <Value><![CDATA[]]></Value>
    </globalSelectReusableContent>
    <globalTextDirection>
      <Value Culture="en-us"><![CDATA[ltr]]></Value>
    </globalTextDirection>
    <googleAnalyticsTrackingID>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsTrackingID>
    <googleReCAPTCHASecretKey>
      <Value><![CDATA[]]></Value>
    </googleReCAPTCHASecretKey>
    <googleReCAPTCHASiteKey>
      <Value><![CDATA[]]></Value>
    </googleReCAPTCHASiteKey>
    <googleReCAPTCHAV3Score>
      <Value><![CDATA[0.5]]></Value>
    </googleReCAPTCHAV3Score>
    <googleReCAPTCHAV3SecretKey>
      <Value><![CDATA[]]></Value>
    </googleReCAPTCHAV3SecretKey>
    <googleReCAPTCHAV3SiteKey>
      <Value><![CDATA[]]></Value>
    </googleReCAPTCHAV3SiteKey>
    <googleReCAPTCHAVersion>
      <Value><![CDATA[]]></Value>
    </googleReCAPTCHAVersion>
    <googleTagManagerID>
      <Value><![CDATA[]]></Value>
    </googleTagManagerID>
    <hCaptchaInstructions>
      <Value><![CDATA[]]></Value>
    </hCaptchaInstructions>
    <hCaptchaSecretKey>
      <Value><![CDATA[]]></Value>
    </hCaptchaSecretKey>
    <hCaptchaSiteKey>
      <Value><![CDATA[]]></Value>
    </hCaptchaSiteKey>
    <headerOpeningScripts>
      <Value><![CDATA[]]></Value>
    </headerOpeningScripts>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <instructions>
      <Value><![CDATA[]]></Value>
    </instructions>
    <newsletterAPIKey>
      <Value><![CDATA[]]></Value>
    </newsletterAPIKey>
    <notificationHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </notificationHeading>
    <notificationSecondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </notificationSecondaryHeading>
    <notificationText>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at nibh rhoncus, tempor magna non, feugiat nisi.</p>]]></Value>
    </notificationText>
    <overrideLanguageCodeReference>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideLanguageCodeReference>
    <pageNotFound>
      <Value><![CDATA[umb://document/06fe84e87b9b4e6cb7d9968472d91c13]]></Value>
    </pageNotFound>
    <reCaptchaV2Instructions>
      <Value><![CDATA[]]></Value>
    </reCaptchaV2Instructions>
    <reCaptchaV3Instructions>
      <Value><![CDATA[]]></Value>
    </reCaptchaV3Instructions>
    <rememberAcceptanceDurationDays>
      <Value><![CDATA[365]]></Value>
    </rememberAcceptanceDurationDays>
    <searchResultsPage>
      <Value><![CDATA[umb://document/8de0d9571499410ea603ebd1bde1e43d]]></Value>
    </searchResultsPage>
    <shop>
      <Value><![CDATA[]]></Value>
    </shop>
    <shopPage>
      <Value><![CDATA[]]></Value>
    </shopPage>
    <snipcartGlobal>
      <Value><![CDATA[{
  "snipcartApiKey": "",
  "cartOpen": false,
  "cartSize": "Full",
  "displayCustomerSignup": false,
  "currencySymbol": "£",
  "currencyCode": "GBP",
  "currencyFormat": "SymbolBefore",
  "orderFieldItems": []
}]]></Value>
    </snipcartGlobal>
    <turnstileInstructions>
      <Value><![CDATA[]]></Value>
    </turnstileInstructions>
    <turnstileSecretKey>
      <Value><![CDATA[]]></Value>
    </turnstileSecretKey>
    <turnstileSiteKey>
      <Value><![CDATA[]]></Value>
    </turnstileSiteKey>
    <twitterPixel>
      <Value><![CDATA[]]></Value>
    </twitterPixel>
    <twitterSiteUsername>
      <Value><![CDATA[]]></Value>
    </twitterSiteUsername>
    <websiteName>
      <Value Culture="en-us"><![CDATA[uSkinned]]></Value>
    </websiteName>
    <websiteStyle>
      <Value Culture="en-us"><![CDATA[umb://document/f90454c7f3a84e1a9c979ff9e55c4947]]></Value>
    </websiteStyle>
  </Properties>
</Content>