<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba3902d5-401e-4eac-94a1-a468c9144a4c" Alias="Data List" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/DataList</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:12</CreateDate>
    <NodeName Default="Data List">
      <Name Culture="en-us">Data List</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f09769a6f0a74763ba8634209bd36842",
        "settingsUdi": "umb://element/ee2f37db7ee04f1d8ac6256b590b48bd"
      },
      {
        "contentUdi": "umb://element/1988b10c620c4b4dae6b3ac5ce28e5bb",
        "settingsUdi": "umb://element/adb3fb3efd4b4bf1a63dd8a633e0a9c6"
      },
      {
        "contentUdi": "umb://element/12934b14b88941c385d1f1b4f782b7c9",
        "settingsUdi": "umb://element/04a8f19e2c25466f89ef4b03cbf5d1ec"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "774318b9-8e4b-47db-839b-56205a6e84e0",
      "udi": "umb://element/f09769a6f0a74763ba8634209bd36842",
      "heading": {
        "text": "Data Lists",
        "headingtag": "h1"
      },
      "secondaryHeading": {
        "text": "Unlimited possibilities",
        "headingtag": "l"
      },
      "text": "<p>Add pricing menus, opening hours, structured information lists..</p>",
      "buttons": ""
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/1988b10c620c4b4dae6b3ac5ce28e5bb",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/95078f64b1df4431b7e347db1f93f9d1",
              "settingsUdi": "umb://element/557b6d1aef2e4404924aede0f021656b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8848e7ee-3ea5-4009-b200-bd40e86f8144",
            "udi": "umb://element/95078f64b1df4431b7e347db1f93f9d1",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "tableHeading": {
              "text": "Opening hours",
              "headingtag": "l"
            },
            "dataItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/7400ec34bb234bd4a4d48f23de351dce",
                    "settingsUdi": "umb://element/3547c7748bed4d4bb2a3f285e67a0d49"
                  },
                  {
                    "contentUdi": "umb://element/b96c370f267d42fcaae4c47ae5bd1538",
                    "settingsUdi": "umb://element/2db1c3f9f24741a88951f3c9947e4341"
                  },
                  {
                    "contentUdi": "umb://element/b2c364870dcd4c12b032869fa252f47e",
                    "settingsUdi": "umb://element/4a088e1565634a48ad0ff35ef1576ba5"
                  },
                  {
                    "contentUdi": "umb://element/165b0a2124c3400faea207f252840715",
                    "settingsUdi": "umb://element/74f92b1fe624474a8706732aea575128"
                  },
                  {
                    "contentUdi": "umb://element/8a4021fb7a334ea4a7908d353e052dee",
                    "settingsUdi": "umb://element/d197084f97014d2590e6d2ae6f9de01e"
                  },
                  {
                    "contentUdi": "umb://element/17e45b6b13a343cb962173f198092d1d",
                    "settingsUdi": "umb://element/5eb4225bc2c14d2eaefdfaec15bed46c"
                  },
                  {
                    "contentUdi": "umb://element/bfbe2ebd4a42413e8db425d4021fb560",
                    "settingsUdi": "umb://element/df332e7bcabe4044be9340fd35130319"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/7400ec34bb234bd4a4d48f23de351dce",
                  "textLeft": "Monday",
                  "additionalInfo": "",
                  "textRight": "8am - 7pm"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/b96c370f267d42fcaae4c47ae5bd1538",
                  "textLeft": "Tuesday",
                  "additionalInfo": "",
                  "textRight": "8am - 7pm"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/b2c364870dcd4c12b032869fa252f47e",
                  "textLeft": "Wednesday",
                  "additionalInfo": "",
                  "textRight": "Closed"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/165b0a2124c3400faea207f252840715",
                  "textLeft": "Thursday",
                  "additionalInfo": "",
                  "textRight": "8am - 7pm"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/8a4021fb7a334ea4a7908d353e052dee",
                  "textLeft": "Friday",
                  "additionalInfo": "",
                  "textRight": "8am - 10pm"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/17e45b6b13a343cb962173f198092d1d",
                  "textLeft": "Saturday",
                  "additionalInfo": "<p><em><span class=\"small\">Please phone ahead, availability may vary.</span></em></p>",
                  "textRight": "8am - 10pm"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/bfbe2ebd4a42413e8db425d4021fb560",
                  "textLeft": "Sunday",
                  "additionalInfo": "<p><em><span class=\"small\">Closed in the evenings.</span></em></p>",
                  "textRight": "9am - 1pm"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/3547c7748bed4d4bb2a3f285e67a0d49",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/2db1c3f9f24741a88951f3c9947e4341",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/4a088e1565634a48ad0ff35ef1576ba5",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/74f92b1fe624474a8706732aea575128",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/d197084f97014d2590e6d2ae6f9de01e",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/5eb4225bc2c14d2eaefdfaec15bed46c",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/df332e7bcabe4044be9340fd35130319",
                  "customClasses": "",
                  "hideFromWebsite": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": "",
            "tableSecondaryHeading": {
              "text": "",
              "headingtag": ""
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "1836bdb6-fa49-4b21-ac79-88edc6261d89",
            "udi": "umb://element/557b6d1aef2e4404924aede0f021656b",
            "itemsPerRow": "items-1",
            "addContainer": "1",
            "desktopColumnWidth": "4",
            "tabletColumnWidth": "5",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeInLeft",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "hideFromWebsite": "0",
            "animationDuration": "1.2"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5c74a6ddb6ce48aba2ebd687fe910cd4",
              "settingsUdi": "umb://element/311f036d7e824bda83a6822109fa202b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8848e7ee-3ea5-4009-b200-bd40e86f8144",
            "udi": "umb://element/5c74a6ddb6ce48aba2ebd687fe910cd4",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "tableHeading": {
              "text": "Lunch menu",
              "headingtag": "l"
            },
            "dataItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/d897c0ab1eb5413d984139822de93168",
                    "settingsUdi": "umb://element/cc7c556adbab423b9ad42c5798948963"
                  },
                  {
                    "contentUdi": "umb://element/5e4442fd31ea4641a73b66ecdade72b6",
                    "settingsUdi": "umb://element/7ca99ea3bed14af2a347a1706b51622e"
                  },
                  {
                    "contentUdi": "umb://element/5b64b621cb074753900d798b324bdb82",
                    "settingsUdi": "umb://element/dc171b92e5da4c1cb474de016c933803"
                  },
                  {
                    "contentUdi": "umb://element/abb995f705ee450580e8eb422a3affa2",
                    "settingsUdi": "umb://element/5f8450afb0f048f4b9ce0f755b8a4edf"
                  },
                  {
                    "contentUdi": "umb://element/90f096e50c1c4f38bacc367a05e78a0b",
                    "settingsUdi": "umb://element/6144619e89b94b6daf36b8d34e3e985b"
                  },
                  {
                    "contentUdi": "umb://element/df8c2265334d4ebb92404a59c35f75cb",
                    "settingsUdi": "umb://element/eebf24fee1ae43228fddc99de395d658"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/d897c0ab1eb5413d984139822de93168",
                  "textLeft": "Soup of the day",
                  "additionalInfo": "<p><span class=\"small\"><em>Ask our servers for today's options.</em></span></p>",
                  "textRight": "£4.50"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/5e4442fd31ea4641a73b66ecdade72b6",
                  "textLeft": "Burgers",
                  "additionalInfo": "<p><span class=\"small\"><em>Turkey, Beef &amp; Chicken options are available.</em></span></p>",
                  "textRight": "£8.95"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/5b64b621cb074753900d798b324bdb82",
                  "textLeft": "Pizza",
                  "additionalInfo": "<p><em><span class=\"small\">Add more info below each option.</span></em></p>",
                  "textRight": "£9.50"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/abb995f705ee450580e8eb422a3affa2",
                  "textLeft": "Dessert",
                  "additionalInfo": "<p><span class=\"small\"><em>Add more info <span class=\"label\">below</span> each option.</em></span></p>",
                  "textRight": "£3.50"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/90f096e50c1c4f38bacc367a05e78a0b",
                  "textLeft": "Tea",
                  "additionalInfo": "<p><span class=\"small\"><em>Add more info below each option.</em></span></p>",
                  "textRight": "£1.50"
                },
                {
                  "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
                  "udi": "umb://element/df8c2265334d4ebb92404a59c35f75cb",
                  "textLeft": "Coffee",
                  "additionalInfo": "<p><span class=\"small\"><em>Add more info below each option.</em></span></p>",
                  "textRight": "£2.50"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/cc7c556adbab423b9ad42c5798948963",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/7ca99ea3bed14af2a347a1706b51622e",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/dc171b92e5da4c1cb474de016c933803",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/5f8450afb0f048f4b9ce0f755b8a4edf",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/6144619e89b94b6daf36b8d34e3e985b",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
                  "udi": "umb://element/eebf24fee1ae43228fddc99de395d658",
                  "customClasses": "",
                  "hideFromWebsite": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": "",
            "tableSecondaryHeading": {
              "text": "",
              "headingtag": ""
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "1836bdb6-fa49-4b21-ac79-88edc6261d89",
            "udi": "umb://element/311f036d7e824bda83a6822109fa202b",
            "itemsPerRow": "items-2",
            "addContainer": "0",
            "desktopColumnWidth": "7",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeInDown",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "hideFromWebsite": "0",
            "animationDuration": "1.2"
          }
        ]
      }
    },
    {
      "contentTypeKey": "8848e7ee-3ea5-4009-b200-bd40e86f8144",
      "udi": "umb://element/12934b14b88941c385d1f1b4f782b7c9",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "tableHeading": {
        "text": "A la carte",
        "headingtag": "l"
      },
      "dataItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0087cb2f25094fa395134a0d858f1c24",
              "settingsUdi": "umb://element/999c29bf65644b9fae041a3433c826ac"
            },
            {
              "contentUdi": "umb://element/6065b25144c846878930e82192d54214",
              "settingsUdi": "umb://element/cf4289ed06394092a7c7ba1fa76a3553"
            },
            {
              "contentUdi": "umb://element/82accdd8170145409dc250ce2344e4bd",
              "settingsUdi": "umb://element/fb75d9bcfafe4ecb925144ae41451370"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
            "udi": "umb://element/0087cb2f25094fa395134a0d858f1c24",
            "textLeft": "Burgers",
            "additionalInfo": "<p><em>More information here.</em></p>",
            "textRight": "£11.95"
          },
          {
            "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
            "udi": "umb://element/6065b25144c846878930e82192d54214",
            "textLeft": "Pizza",
            "additionalInfo": "<p><em>Add more info below each option.</em></p>",
            "textRight": "£9.90"
          },
          {
            "contentTypeKey": "abfdf684-6df9-4a4b-922a-6365ebb965e9",
            "udi": "umb://element/82accdd8170145409dc250ce2344e4bd",
            "textLeft": "Steak",
            "additionalInfo": "<p><em>Add more info below each option.</em></p>",
            "textRight": "£18.50"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
            "udi": "umb://element/999c29bf65644b9fae041a3433c826ac",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
            "udi": "umb://element/cf4289ed06394092a7c7ba1fa76a3553",
            "customClasses": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "dd2e58d2-1996-43b2-8b21-0e4de6bf84c8",
            "udi": "umb://element/fb75d9bcfafe4ecb925144ae41451370",
            "customClasses": "",
            "hideFromWebsite": ""
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": "",
      "tableSecondaryHeading": {
        "text": "",
        "headingtag": ""
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d247b7e6-3122-4fd3-8994-96aadc5f726c",
      "udi": "umb://element/ee2f37db7ee04f1d8ac6256b590b48bd",
      "textAlignment": "text-left",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "flipInY",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/adb3fb3efd4b4bf1a63dd8a633e0a9c6",
      "desktopTabletOrder": "desktop_One",
      "mobileOrder": "mobile_One",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": ""
    },
    {
      "contentTypeKey": "92ae5489-c66e-487d-a9db-4e6c576d9a86",
      "udi": "umb://element/04a8f19e2c25466f89ef4b03cbf5d1ec",
      "itemsPerRow": "items-3",
      "addContainer": "1",
      "backgroundColor": {
        "value": "#f0ebe6",
        "heading": "#000000",
        "secondaryheading": "#ee5d5d",
        "text": "#222222",
        "border": "#d4cac1",
        "label": "c4",
        "sortOrder": 4,
        "id": 5
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeInUp",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/fce45c91b78d422ea5cc3bf2c45ff85a]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>