<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f180f11-33f5-45c4-ac53-a2c0ec09b1a0" Alias="Design" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Design</Path>
    <Trashed>false</Trashed>
    <ContentType>USNStylesFolder</ContentType>
    <CreateDate>2023-12-08T16:35:19</CreateDate>
    <NodeName Default="Design" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
  </Info>
  <Properties>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
    <hideDesignPanel>
      <Value><![CDATA[0]]></Value>
    </hideDesignPanel>
  </Properties>
</Content>