<?xml version="1.0" encoding="utf-8"?>
<Content Key="162f2d6d-a8fa-4b9f-8baf-eb30b9a4dc1d" Alias="Embed Code Block" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/EmbedCodeBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:12</CreateDate>
    <NodeName Default="Embed Code Block">
      <Name Culture="en-us">Embed Code Block</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/68daefdebdf84c6a8003215b6ab8ea3d",
        "settingsUdi": "umb://element/30817d55634e4d1a9da8121b1a711b9d"
      },
      {
        "contentUdi": "umb://element/51f2fcd9d5eb43f19ec1dc29d983e405",
        "settingsUdi": "umb://element/42a1c5b2d9c148d1bb929e9a0fe9f3fb"
      },
      {
        "contentUdi": "umb://element/5584d957d86f47c3a874e380450bdbd2",
        "settingsUdi": "umb://element/ce17b8b8ed464b518ddcd0f82bf5fd9a"
      },
      {
        "contentUdi": "umb://element/149d2cef1bb240b48dfb853d0c5c2af1",
        "settingsUdi": "umb://element/ec695ffca69c4a218cccc10e3747ab89"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "774318b9-8e4b-47db-839b-56205a6e84e0",
      "udi": "umb://element/68daefdebdf84c6a8003215b6ab8ea3d",
      "heading": {
        "text": "Embed Code Block",
        "headingtag": "h1"
      },
      "secondaryHeading": {
        "text": "Unlimited integrations",
        "headingtag": ""
      },
      "text": "<p><span class=\"intro lg\">Easily add widgets from third party sites.</span></p>",
      "buttons": ""
    },
    {
      "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
      "udi": "umb://element/5584d957d86f47c3a874e380450bdbd2",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "code": "<style>\n@media (min-width:0) and (max-width:767px) {\n#map {\nheight:250px\n}\n}\n@media (min-width:768px) {\n#map {\nheight:300px\n}\n}\n@media (min-width:992px) {\n#map {\nheight:400px\n}\n}\n</style>\n<iframe id=\"map\" class=\"c1-bg\" src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.3728173715917!2d-4.24939908376345!3d55.856197780581184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488846a2331418ff%3A0xe77b7339735c816d!2s60+Osborne+St%2C+Glasgow+G1+5QH!5e0!3m2!1sen!2suk!4v1505296554052\" width=\"100%\" height=\"400\" frameborder=\"0\" style=\"border:0\" allowfullscreen></iframe>",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
      "udi": "umb://element/149d2cef1bb240b48dfb853d0c5c2af1",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "code": "  <script charset=\"utf-8\" src=\"https://widget.bandsintown.com/main.min.js\"></script><a class=\"bit-widget-initializer\" data-artist-name=\"bright eyes\" data-display-local-dates=\"false\" data-display-past-dates=\"false\" data-auto-style=\"false\" data-text-color=\"#000000\" data-link-color=\"#ee5d5d\" data-background-color=\"rgba(0,0,0,0)\" data-display-limit=\"5\" data-display-start-time=\"false\" data-link-text-color=\"#FFFFFF\" data-display-lineup=\"false\" data-display-play-my-city=\"true\" data-separator-color=\"rgba(124,124,124,0.25)\"></a>",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/51f2fcd9d5eb43f19ec1dc29d983e405",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/acd69c43f42f42aaa5ffaa8fda8d2347",
              "settingsUdi": "umb://element/7a046a9330df4e6b8e21d73c4be3a442"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
            "udi": "umb://element/acd69c43f42f42aaa5ffaa8fda8d2347",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Maps, weather widgets, ecommerce... add anything",
              "headingtag": "h3"
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "code": "<a class=\"weatherwidget-io\" href=\"https://forecast7.com/en/55d86n4d25/glasgow/\" data-label_1=\"Glasgow\" data-label_2=\"Weather\" data-font=\"Roboto\" data-icons=\"Climacons Animated\" data-days=\"3\" data-theme=\"pure\" >Glasgow Weather</a>\n<script>\n!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');\n</script>",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
            "udi": "umb://element/7a046a9330df4e6b8e21d73c4be3a442",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeInLeft",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2e427e89a5fc4a47a5ff1c6b77b33534",
              "settingsUdi": "umb://element/ac01482e36414634835e35b276883803"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
            "udi": "umb://element/2e427e89a5fc4a47a5ff1c6b77b33534",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "code": "<style>\n@media (min-width:0) and (max-width:767px) {\n#map {\nheight:250px\n}\n}\n@media (min-width:768px) {\n#map {\nheight:300px\n}\n}\n@media (min-width:992px) {\n#map {\nheight:400px\n}\n}\n</style>\n<iframe id=\"map\" class=\"c1-bg\" src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.3728173715917!2d-4.24939908376345!3d55.856197780581184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488846a2331418ff%3A0xe77b7339735c816d!2s60+Osborne+St%2C+Glasgow+G1+5QH!5e0!3m2!1sen!2suk!4v1505296554052\" width=\"100%\" height=\"400\" frameborder=\"0\" style=\"border:0\" allowfullscreen></iframe>",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
            "udi": "umb://element/ac01482e36414634835e35b276883803",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeInUp",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d247b7e6-3122-4fd3-8994-96aadc5f726c",
      "udi": "umb://element/30817d55634e4d1a9da8121b1a711b9d",
      "textAlignment": "text-left",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "af0dace2-3037-44b8-adf4-4366f3e4c6e6",
      "udi": "umb://element/ce17b8b8ed464b518ddcd0f82bf5fd9a",
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthFull",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "p-0",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": ""
    },
    {
      "contentTypeKey": "af0dace2-3037-44b8-adf4-4366f3e4c6e6",
      "udi": "umb://element/ec695ffca69c4a218cccc10e3747ab89",
      "backgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/42a1c5b2d9c148d1bb929e9a0fe9f3fb",
      "desktopTabletOrder": "desktop_One",
      "mobileOrder": "mobile_One",
      "backgroundColor": {
        "value": "#e7e7e7",
        "heading": "#000000",
        "secondaryheading": "#ee5d5d",
        "text": "#222222",
        "border": "#c4c4c4",
        "label": "c5",
        "sortOrder": 5,
        "id": 6
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/fce45c91b78d422ea5cc3bf2c45ff85a]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>