<?xml version="1.0" encoding="utf-8"?>
<Content Key="00911f7b-cd1c-4df3-bd65-b7777f37fdb6" Alias="Forgotten Password" Level="2">
  <Info>
    <Parent Key="ece839d8-1d32-4504-871c-c9f7253fb91e">Home</Parent>
    <Path>/Home/ForgottenPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:18</CreateDate>
    <NodeName Default="Forgotten Password">
      <Name Culture="en-us">Forgotten Password</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/938e15977c734544b98779927c207808",
        "settingsUdi": "umb://element/25a45e8cbbba49a9ab48957fabb67954"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "df7b194c-2e78-43b0-82ad-ae709f825d26",
      "udi": "umb://element/938e15977c734544b98779927c207808",
      "banners": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6d882563b6da443abbab629f24734674",
              "settingsUdi": "umb://element/6b0a7ca82f7f4a1ab35f3c7e5158880e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fe934c83-9f93-4c2b-9881-7b747755505a",
            "udi": "umb://element/6d882563b6da443abbab629f24734674",
            "bannerImage": null,
            "bannerVideoSource": "",
            "bannerVideoMP4": null,
            "bannerVideo3rdParty": "",
            "bannerHeading": {
              "text": "Forgotten Password",
              "headingtag": "h1"
            },
            "bannerSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "bannerText": "",
            "bannerButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "e72b1c56-cbfd-4680-a186-244edeef03e0",
            "udi": "umb://element/6b0a7ca82f7f4a1ab35f3c7e5158880e",
            "itemName": "",
            "bannerBackgroundColor": {
              "value": "#d8d8d8",
              "firstBgColor": "#d8d8d8",
              "heading": "#000000",
              "secondaryheading": "#000000",
              "text": "#000000",
              "border": "#000000",
              "label": "c2",
              "sortOrder": 2,
              "id": 3
            },
            "bannerStyle": "bannerSizeScale",
            "bannerTextAlignment": "text-center",
            "bannerTextPosition": "Text_BottomCenter",
            "bannerAddColorOverlay": "0",
            "bannerScrollPrompt": "0",
            "bannerScrollStyle": "",
            "bannerParallax": "0",
            "animate": "1",
            "animationStyle": "fadeInDown",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "customClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7c18879f-d2c5-4d87-b9f5-02544784e0e2",
      "udi": "umb://element/25a45e8cbbba49a9ab48957fabb67954",
      "itemName": "",
      "showArrows": "0",
      "showDots": "0",
      "autoRotateSpeed": "0",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "",
      "hideFromWebsite": "0"
    }
  ]
}]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[1]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[1]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d423e0d1a6694586b517a31dd179e0c3",
        "settingsUdi": "umb://element/f03dd547b474475f862b64d8212daa3b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
      "udi": "umb://element/d423e0d1a6694586b517a31dd179e0c3",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "formType": "resetRequestForm",
      "hideFields": "0",
      "contactRecipientEmailAddress": "",
      "umbracoForm": "",
      "formHeading": {
        "text": "Password Reset Request",
        "headingtag": ""
      },
      "formSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "formIntroduction": "<p>Please enter the Username associated with your account and submit the form. You will be sent a password reset email if your account is found.</p>",
      "formButtonText": "",
      "formSubmissionMessage": "<p>If your account was found you will receive an email containing a link to the 'Password reset' form.</p>",
      "formSubscriberListID": "",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": "",
      "loginSuccessPage": "umb://document/4e6dc27c173f4e1d990b8c52149b79f9",
      "loginFormPage": "umb://document/afe7a0cd695f4c51a3dbb2ebdba2bba0",
      "resetPasswordRequestPage": null,
      "resetPasswordPage": "umb://document/a57eb2242c8e491ba5edfcaa2f609284",
      "resetPasswordEmail": "<p>Hi [NAME]</p>\n<p>A password reset has been requested for your member account. If you did not make this request please ignore this email.</p>\n<p>If you did make this request, please use the link below to complete the change to your password.</p>\n<p>[RESETLINK]</p>",
      "setEmailAddressAsUsername": "0",
      "adminApprovalRequired": "0",
      "emailConfirmationRequired": "0",
      "memberConfirmationEmail": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d84c410f-7d72-4a27-b708-e3914100195c",
      "udi": "umb://element/f03dd547b474475f862b64d8212daa3b",
      "formContainerBackgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "formButtonColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "itemName": "Reset Request Form",
      "customClasses": "",
      "componentStyles": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutCenterNavLeft]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[1]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>