<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcdcc821-cae4-4ab4-a6f0-a358713ec948" Alias="Form" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/Form</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:13</CreateDate>
    <NodeName Default="Form">
      <Name Culture="en-us">Form</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5ac22d08cba9488caf660f6622325faf",
        "settingsUdi": "umb://element/fb0765d614df4b7183c45e68e7473037"
      },
      {
        "contentUdi": "umb://element/b8008189ff2c442685076827b1ea18b0",
        "settingsUdi": "umb://element/54b2eceaa99e4244a3595de62587e0e3"
      },
      {
        "contentUdi": "umb://element/4653c793ebba49f99a27381a6a63c51e",
        "settingsUdi": "umb://element/fec4768a10ac40b189a71839bad8fef7"
      },
      {
        "contentUdi": "umb://element/c6e866705b9249fcaee7e518482c758b",
        "settingsUdi": "umb://element/4d1105130dcf4e449e96e992126629d3"
      },
      {
        "contentUdi": "umb://element/ba4423f0838449b787e5dd0c351945b3",
        "settingsUdi": "umb://element/3ffdb5d5a90b45b8936a53ec22a6be81"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "774318b9-8e4b-47db-839b-56205a6e84e0",
      "udi": "umb://element/5ac22d08cba9488caf660f6622325faf",
      "heading": {
        "text": "Forms",
        "headingtag": "h1"
      },
      "secondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "text": "<p><span class=\"intro lg\">Use pre-built contact and signup forms or make your own with Umbraco Forms</span></p>",
      "buttons": ""
    },
    {
      "contentTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
      "udi": "umb://element/4653c793ebba49f99a27381a6a63c51e",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "formType": "contactForm",
      "hideFields": "0",
      "contactRecipientEmailAddress": "",
      "umbracoForm": "",
      "loginSuccessPage": null,
      "formHeading": {
        "text": "Contact us",
        "headingtag": "h3"
      },
      "formSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "formIntroduction": "",
      "formButtonText": "",
      "formSubmissionMessage": "<p>Thank you for your enquiry. Someone from our team will be in touch soon.</p>",
      "formSubscriberListID": "",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": "",
      "loginFormPage": null,
      "resetPasswordRequestPage": null,
      "resetPasswordPage": null,
      "resetPasswordEmail": "",
      "setEmailAddressAsUsername": "0",
      "adminApprovalRequired": "0",
      "emailConfirmationRequired": "0",
      "memberConfirmationEmail": "",
      "memberGroups": ""
    },
    {
      "contentTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
      "udi": "umb://element/ba4423f0838449b787e5dd0c351945b3",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "formType": "signupForm",
      "hideFields": "0",
      "contactRecipientEmailAddress": "",
      "umbracoForm": "",
      "loginSuccessPage": null,
      "formHeading": {
        "text": "Signup",
        "headingtag": ""
      },
      "formSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "formIntroduction": "",
      "formButtonText": "",
      "formSubmissionMessage": "",
      "formSubscriberListID": "",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": "",
      "loginFormPage": null,
      "resetPasswordRequestPage": null,
      "resetPasswordPage": null,
      "resetPasswordEmail": "",
      "setEmailAddressAsUsername": "0",
      "adminApprovalRequired": "0",
      "emailConfirmationRequired": "0",
      "memberConfirmationEmail": ""
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/b8008189ff2c442685076827b1ea18b0",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/094be8116c394e88ae64a6d1d1a706e1",
              "settingsUdi": "umb://element/5bd33daf3760484eb12fdd0bea2954bb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
            "udi": "umb://element/094be8116c394e88ae64a6d1d1a706e1",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Contact forms",
              "headingtag": "h2"
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "formType": "contactForm",
            "hideFields": "0",
            "contactRecipientEmailAddress": "",
            "umbracoForm": "",
            "loginSuccessPage": null,
            "formHeading": {
              "text": "",
              "headingtag": ""
            },
            "formSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "formIntroduction": "",
            "formButtonText": "Send message",
            "formSubmissionMessage": "<p>Thanks! We'll be in touch :-)</p>",
            "formSubscriberListID": "",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": "",
            "loginFormPage": null,
            "resetPasswordRequestPage": null,
            "resetPasswordPage": null,
            "resetPasswordEmail": "",
            "setEmailAddressAsUsername": "0",
            "adminApprovalRequired": "0",
            "emailConfirmationRequired": "0",
            "memberConfirmationEmail": "",
            "memberGroups": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "3c2db3e6-bda4-447e-b9a3-196c1f6f8e1b",
            "udi": "umb://element/5bd33daf3760484eb12fdd0bea2954bb",
            "formContainerBackgroundColor": {
              "value": "linear-gradient(90deg, #ee5d5d 0%, #df4b4b 100%)",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#ffffff",
              "border": "#ee8282",
              "label": "c1",
              "sortOrder": 1,
              "id": 2
            },
            "formButtonColor": {
              "value": "linear-gradient(90deg, #cccccc 0%, #ffffff 100%)",
              "text": "#000000",
              "border": "#000000",
              "label": "base",
              "sortOrder": 0,
              "id": 1
            },
            "desktopColumnWidth": "7",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "flipInX",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "Contact Form",
            "hideFromWebsite": "0",
            "animationDuration": "1.2"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7969bba0b01e4c32a83407607d5166ae",
              "settingsUdi": "umb://element/9607c1c8d78647c5939cedf518658c80"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
            "udi": "umb://element/7969bba0b01e4c32a83407607d5166ae",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Newsletter",
              "headingtag": "h2"
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "formType": "signupForm",
            "hideFields": "0",
            "contactRecipientEmailAddress": "",
            "umbracoForm": "",
            "loginSuccessPage": null,
            "formHeading": {
              "text": "",
              "headingtag": ""
            },
            "formSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "formIntroduction": "",
            "formButtonText": "Sign up",
            "formSubmissionMessage": "<p>Thanks! We'll be in touch :-)</p>",
            "formSubscriberListID": "",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": "",
            "loginFormPage": null,
            "resetPasswordRequestPage": null,
            "resetPasswordPage": null,
            "resetPasswordEmail": "",
            "setEmailAddressAsUsername": "0",
            "adminApprovalRequired": "0",
            "emailConfirmationRequired": "0",
            "memberConfirmationEmail": "",
            "memberGroups": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "3c2db3e6-bda4-447e-b9a3-196c1f6f8e1b",
            "udi": "umb://element/9607c1c8d78647c5939cedf518658c80",
            "formContainerBackgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": 1,
              "id": 2
            },
            "formButtonColor": {
              "value": "#ffffff",
              "firstBgColor": "#ffffff",
              "text": "#000000",
              "border": "#000000",
              "label": "base",
              "sortOrder": 0,
              "id": 1
            },
            "desktopColumnWidth": "4",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "lightSpeedIn",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "Signup Form",
            "hideFromWebsite": "0",
            "animationDuration": "1.2"
          }
        ]
      }
    },
    {
      "contentTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
      "udi": "umb://element/c6e866705b9249fcaee7e518482c758b",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "formType": "loginForm",
      "hideFields": "0",
      "contactRecipientEmailAddress": "",
      "umbracoForm": "",
      "loginSuccessPage": "umb://document/4e6dc27c173f4e1d990b8c52149b79f9",
      "formHeading": {
        "text": "Login",
        "headingtag": "h3"
      },
      "formSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "formIntroduction": "<p>Password-protected areas can be accessed from anywhere with our login forms.</p>",
      "formButtonText": "Login",
      "formSubmissionMessage": "",
      "formSubscriberListID": "",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": "",
      "loginFormPage": null,
      "resetPasswordRequestPage": "umb://document/a57eb2242c8e491ba5edfcaa2f609284",
      "resetPasswordPage": null,
      "resetPasswordEmail": "",
      "setEmailAddressAsUsername": "0",
      "adminApprovalRequired": "0",
      "emailConfirmationRequired": "0",
      "memberConfirmationEmail": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d247b7e6-3122-4fd3-8994-96aadc5f726c",
      "udi": "umb://element/fb0765d614df4b7183c45e68e7473037",
      "textAlignment": "text-left",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "slideInLeft",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "d84c410f-7d72-4a27-b708-e3914100195c",
      "udi": "umb://element/fec4768a10ac40b189a71839bad8fef7",
      "formContainerBackgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "formButtonColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "text": "#ffffff",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthWide",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Contact Form",
      "customClasses": "",
      "hideFromWebsite": "0",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "d84c410f-7d72-4a27-b708-e3914100195c",
      "udi": "umb://element/3ffdb5d5a90b45b8936a53ec22a6be81",
      "formContainerBackgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "formButtonColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "text": "#ffffff",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "1",
      "animationStyle": "slideInRight",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Signup Form",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/54b2eceaa99e4244a3595de62587e0e3",
      "desktopTabletOrder": "",
      "mobileOrder": "",
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0"
    },
    {
      "contentTypeKey": "d84c410f-7d72-4a27-b708-e3914100195c",
      "udi": "umb://element/4d1105130dcf4e449e96e992126629d3",
      "formContainerBackgroundColor": {
        "value": "linear-gradient(90deg, #ee5d5d 0%, #df4b4b 100%)",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#ffffff",
        "border": "#ee8282",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "formButtonColor": {
        "value": "linear-gradient(90deg, #ff0000 0%, #ffffff 100%)",
        "text": "#000000",
        "border": "#000000",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundColor": {
        "value": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "ee5d5d",
        "text": "#68676b",
        "border": "#e7e7e7",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Login Form",
      "customClasses": "",
      "hideFromWebsite": "0",
      "animationDuration": "1.2"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/00611b867178497db8dd87de180e1d35]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>