<?xml version="1.0" encoding="utf-8"?>
<Content Key="677a926a-a8c8-4336-97bb-9e5f8e0ae997" Alias="Gallery" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/Gallery</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:13</CreateDate>
    <NodeName Default="Gallery">
      <Name Culture="en-us">Gallery</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fb3272210c7d4e12ab70f207e8d3dee6",
        "settingsUdi": "umb://element/d45ff16845234ce7a0f70c0c7bcde6b4"
      },
      {
        "contentUdi": "umb://element/578a37495b6343099dfb457a725cbae0",
        "settingsUdi": "umb://element/c49da3dbaf1d45f18c0a4b26dd1fb36c"
      },
      {
        "contentUdi": "umb://element/a412ea88ff4d491d91663739260ec678",
        "settingsUdi": "umb://element/b18776f7d7144ee5bbb329cb3c798d0e"
      },
      {
        "contentUdi": "umb://element/f5327022af0041f5a4a938159caffbaf",
        "settingsUdi": "umb://element/10c1f75c1899438881b2612f7fd5b122"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "774318b9-8e4b-47db-839b-56205a6e84e0",
      "udi": "umb://element/fb3272210c7d4e12ab70f207e8d3dee6",
      "heading": {
        "text": "Galleries",
        "headingtag": "h1"
      },
      "secondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "text": "<p><span class=\"intro lg\">Create galleries with a variety of layout options.</span></p>",
      "buttons": ""
    },
    {
      "contentTypeKey": "18956f7b-bde5-48be-9752-9adaa9693902",
      "udi": "umb://element/a412ea88ff4d491d91663739260ec678",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "imageVideo": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ec232c63d64b4187a68541c9b5c2f5e9",
              "settingsUdi": "umb://element/aed8cbe041cb4a90aeed9a63ec29f21b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3919682a-b3e1-4906-a169-0c4f3c3cf14e",
            "udi": "umb://element/ec232c63d64b4187a68541c9b5c2f5e9",
            "images": "umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8,umb://media/00611b867178497db8dd87de180e1d35,umb://media/f01d58c6b52841a0962d38fbc294579d,umb://media/fce45c91b78d422ea5cc3bf2c45ff85a",
            "disableLightWindow": "0"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "4a36c3e7-53f0-4d7a-8f4c-44842515cb59",
            "udi": "umb://element/aed8cbe041cb4a90aeed9a63ec29f21b",
            "itemName": "",
            "includeChildFolders": "",
            "customClasses": "",
            "hideFromWebsite": ""
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "18956f7b-bde5-48be-9752-9adaa9693902",
      "udi": "umb://element/f5327022af0041f5a4a938159caffbaf",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "imageVideo": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1e7f6637aedd414a88fb1ca5b04394a7",
              "settingsUdi": "umb://element/e7e1f20deb4c4f11a76df4c4bbc29724"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3919682a-b3e1-4906-a169-0c4f3c3cf14e",
            "udi": "umb://element/1e7f6637aedd414a88fb1ca5b04394a7",
            "images": "umb://media/fce45c91b78d422ea5cc3bf2c45ff85a,umb://media/00611b867178497db8dd87de180e1d35,umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8,umb://media/f01d58c6b52841a0962d38fbc294579d",
            "disableLightWindow": "0"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "4a36c3e7-53f0-4d7a-8f4c-44842515cb59",
            "udi": "umb://element/e7e1f20deb4c4f11a76df4c4bbc29724",
            "itemName": "",
            "includeChildFolders": "",
            "customClasses": "",
            "hideFromWebsite": ""
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/578a37495b6343099dfb457a725cbae0",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b1d46e07ca134bef97b7461de7f486c3",
              "settingsUdi": "umb://element/bcc0a9072f634910bfccd65c66df3be8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "18956f7b-bde5-48be-9752-9adaa9693902",
            "udi": "umb://element/b1d46e07ca134bef97b7461de7f486c3",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "imageVideo": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/7f64e851c7ea4d988ea32144a99b31d2",
                    "settingsUdi": "umb://element/d263a3072eb34ebda04da959723074e3"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "3919682a-b3e1-4906-a169-0c4f3c3cf14e",
                  "udi": "umb://element/7f64e851c7ea4d988ea32144a99b31d2",
                  "images": "umb://media/f01d58c6b52841a0962d38fbc294579d,umb://media/00611b867178497db8dd87de180e1d35,umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8,umb://media/fce45c91b78d422ea5cc3bf2c45ff85a",
                  "disableLightWindow": "0"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "4a36c3e7-53f0-4d7a-8f4c-44842515cb59",
                  "udi": "umb://element/d263a3072eb34ebda04da959723074e3",
                  "itemName": "",
                  "includeChildFolders": "",
                  "customClasses": "",
                  "hideFromWebsite": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "bed2f105-7099-4d45-a1c9-a6c6c2c40b5b",
            "udi": "umb://element/bcc0a9072f634910bfccd65c66df3be8",
            "itemsPerRow": "items-2",
            "removeItemSpacing": "1",
            "imageStyle": "imageStyleSquare",
            "boxPad": "0",
            "enableCarousel": "0",
            "showArrows": "0",
            "showDots": "0",
            "autoRotateSpeed": "0",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeInUp",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "Gallery (Random order)",
            "animationDuration": "1.2",
            "hideFromWebsite": "0",
            "enableRandomOrder": "1"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d15bc07352a74337940471e806746b28",
              "settingsUdi": "umb://element/5ea6fa43ffc74481b1eea0a31030df08"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "18956f7b-bde5-48be-9752-9adaa9693902",
            "udi": "umb://element/d15bc07352a74337940471e806746b28",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "imageVideo": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/65c95b3cbb134da2ac6fec8b51b72d5a",
                    "settingsUdi": "umb://element/0ebbb609c27944179e8b8ef8ad226bc1"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "3919682a-b3e1-4906-a169-0c4f3c3cf14e",
                  "udi": "umb://element/65c95b3cbb134da2ac6fec8b51b72d5a",
                  "images": "umb://media/fce45c91b78d422ea5cc3bf2c45ff85a,umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8,umb://media/00611b867178497db8dd87de180e1d35,umb://media/f01d58c6b52841a0962d38fbc294579d",
                  "disableLightWindow": "0"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "4a36c3e7-53f0-4d7a-8f4c-44842515cb59",
                  "udi": "umb://element/0ebbb609c27944179e8b8ef8ad226bc1",
                  "itemName": "",
                  "includeChildFolders": "",
                  "customClasses": "",
                  "hideFromWebsite": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "bed2f105-7099-4d45-a1c9-a6c6c2c40b5b",
            "udi": "umb://element/5ea6fa43ffc74481b1eea0a31030df08",
            "itemsPerRow": "items-1",
            "removeItemSpacing": "",
            "imageStyle": "imageStyleSquare",
            "boxPad": "",
            "enableCarousel": "1",
            "showArrows": "1",
            "showDots": "",
            "autoRotateSpeed": "0",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "zoomIn",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "",
            "enableRandomOrder": ""
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d247b7e6-3122-4fd3-8994-96aadc5f726c",
      "udi": "umb://element/d45ff16845234ce7a0f70c0c7bcde6b4",
      "textAlignment": "text-left",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeInUp",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "3344380c-6fea-4a8d-92eb-c7fd92ef573f",
      "udi": "umb://element/b18776f7d7144ee5bbb329cb3c798d0e",
      "itemsPerRow": "items-4",
      "removeItemSpacing": "0",
      "imageStyle": "image1by1Square",
      "boxPad": "0",
      "enableCarousel": "0",
      "showArrows": "0",
      "showDots": "0",
      "autoRotateSpeed": "0",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Gallery (Random order)",
      "customClasses": "",
      "hideFromWebsite": "0",
      "animationDuration": "1.2",
      "enableRandomOrder": "1"
    },
    {
      "contentTypeKey": "3344380c-6fea-4a8d-92eb-c7fd92ef573f",
      "udi": "umb://element/10c1f75c1899438881b2612f7fd5b122",
      "itemsPerRow": "items-1",
      "removeItemSpacing": "",
      "imageStyle": "image16by10",
      "boxPad": "",
      "enableCarousel": "1",
      "showArrows": "",
      "showDots": "1",
      "autoRotateSpeed": "2.00",
      "backgroundColor": {
        "value": "linear-gradient(225deg, #4a2020 0%, #000000 100%)",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#dbdbdb",
        "border": "#4c4c4c",
        "label": "c6",
        "sortOrder": 6,
        "id": 7
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2",
      "enableRandomOrder": ""
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/c49da3dbaf1d45f18c0a4b26dd1fb36c",
      "desktopTabletOrder": "desktop_One",
      "mobileOrder": "mobile_Two",
      "backgroundColor": {
        "value": "linear-gradient(225deg, #4a2020 0%, #000000 100%)",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#dbdbdb",
        "border": "#4c4c4c",
        "label": "c6",
        "sortOrder": 6,
        "id": 7
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": ""
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/f01d58c6b52841a0962d38fbc294579d]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>