<?xml version="1.0" encoding="utf-8"?>
<Content Key="676eb2e2-982f-4bd0-a491-435eeffdaa48" Alias="Global" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Global</Path>
    <Trashed>false</Trashed>
    <ContentType>USNWebsiteConfigurationSection</ContentType>
    <CreateDate>2023-12-08T16:35:19</CreateDate>
    <NodeName Default="Global" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
  </Info>
  <Properties>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
  </Properties>
</Content>