<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc3c8599-972a-4c41-91f8-447238f90d15" Alias="Global | TR Group" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalTRGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>USNWebsiteConfigurationSection</ContentType>
    <CreateDate>2023-12-13T07:33:17</CreateDate>
    <NodeName Default="Global | TR Group" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
  </Info>
  <Properties>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
  </Properties>
</Content>