<?xml version="1.0" encoding="utf-8"?>
<Content Key="ece839d8-1d32-4504-871c-c9f7253fb91e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>USNHomepage</ContentType>
    <CreateDate>2023-12-08T16:35:08</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[1]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <languageFlag>
      <Value Culture="en-us"><![CDATA[umb://media/0ff17a1f5f394b2d8cc5987047a682e7]]></Value>
    </languageFlag>
    <languageName>
      <Value Culture="en-us"><![CDATA[English]]></Value>
    </languageName>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f4d4b5df510a47b793a73184734e04d1",
        "settingsUdi": "umb://element/f5d062acfd7c45a3bb28b8928c363e88"
      },
      {
        "contentUdi": "umb://element/5d425e8c0b184ec68fe91e2c4cff099f",
        "settingsUdi": "umb://element/98eab5eeb0bc4197b35be14e80c60acc"
      },
      {
        "contentUdi": "umb://element/4da76dde29b44b10bcf98d7b6263d309",
        "settingsUdi": "umb://element/6bd89b27af9b48658e98cd707a89a88f"
      },
      {
        "contentUdi": "umb://element/9f3b4581778d4cb09f5a845de95b70ed",
        "settingsUdi": "umb://element/b72215cc2b0643ffaa82dc4564884079"
      },
      {
        "contentUdi": "umb://element/eddf986912604b2ab7a69228460fbe0b",
        "settingsUdi": "umb://element/b09db38898594f939404ceee9e8a5ece"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "df7b194c-2e78-43b0-82ad-ae709f825d26",
      "udi": "umb://element/f4d4b5df510a47b793a73184734e04d1",
      "banners": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f6a045b7642c4517b4bd8cda562e4ea2",
              "settingsUdi": "umb://element/6c1e398e393d438b80ce6caee93133e3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fe934c83-9f93-4c2b-9881-7b747755505a",
            "udi": "umb://element/f6a045b7642c4517b4bd8cda562e4ea2",
            "bannerImage": "umb://media/fce45c91b78d422ea5cc3bf2c45ff85a",
            "bannerVideoSource": "",
            "bannerVideoMP4": null,
            "bannerVideo3rdParty": "",
            "bannerHeading": {
              "text": "uSkinned Site Builder",
              "headingtag": "h1"
            },
            "bannerSecondaryHeading": {
              "text": "Secondary heading",
              "headingtag": "l"
            },
            "bannerText": "<p><span class=\"intro lg\">More than a theme for Umbraco.</span></p>",
            "bannerButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "e72b1c56-cbfd-4680-a186-244edeef03e0",
            "udi": "umb://element/6c1e398e393d438b80ce6caee93133e3",
            "bannerBackgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": "1",
              "id": "2"
            },
            "bannerStyle": "bannerSizeTakeover",
            "bannerTextAlignment": "text-center",
            "bannerTextPosition": "Text_CenterCenter",
            "bannerAddColorOverlay": "1",
            "bannerScrollPrompt": "1",
            "bannerParallax": "0",
            "animate": "1",
            "animationStyle": "fadeInDown",
            "animationDelay": "0.0",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "0",
            "animationDuration": "1.0",
            "bannerScrollStyle": "scroll-prompt-wheel",
            "imageStyle": ""
          }
        ]
      }
    },
    {
      "contentTypeKey": "2281980d-97f4-4999-acb6-c1ba50aef3a6",
      "udi": "umb://element/9f3b4581778d4cb09f5a845de95b70ed",
      "windows": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c93ee2ee84a54769a3bdc6d6159b9790",
              "settingsUdi": "umb://element/a4b2016f6ade4e189dcd874d0b5137bc"
            },
            {
              "contentUdi": "umb://element/6248cf4c74574f5982525f666abd1b6d",
              "settingsUdi": "umb://element/891dd872237948ee8fd00da8ae8799fa"
            },
            {
              "contentUdi": "umb://element/6ae4a653eeae4cf09f86240c3552bd3a",
              "settingsUdi": "umb://element/d004a3dc4cbe434cb555c472ad01cea7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
            "udi": "umb://element/c93ee2ee84a54769a3bdc6d6159b9790",
            "image": "umb://media/00611b867178497db8dd87de180e1d35",
            "heading": {
              "text": "",
              "headingtag": ""
            },
            "secondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "text": "",
            "buttons": "",
            "hideButton": ""
          },
          {
            "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
            "udi": "umb://element/6248cf4c74574f5982525f666abd1b6d",
            "image": null,
            "heading": {
              "text": "Unmatched flexibility",
              "headingtag": "l"
            },
            "secondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "text": "",
            "buttons": [
              {
                "color": {
                  "value": "ee5d5d",
                  "text": "ffffff",
                  "border": "ee5d5d",
                  "label": "base-btn",
                  "sortOrder": "0",
                  "id": "1"
                },
                "icon": "",
                "size": "s",
                "link": [
                  {
                    "name": "See all components",
                    "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
                    "url": "/components/",
                    "icon": "icon-layout color-black",
                    "published": "True",
                    "trashed": "False"
                  }
                ]
              }
            ],
            "hideButton": ""
          },
          {
            "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
            "udi": "umb://element/6ae4a653eeae4cf09f86240c3552bd3a",
            "image": null,
            "heading": {
              "text": "Unlimited Layouts",
              "headingtag": "h4"
            },
            "secondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "text": "",
            "buttons": [
              {
                "color": {
                  "value": "#000000",
                  "text": "#ffffff",
                  "border": "#ffffff",
                  "label": "c1-btn",
                  "sortOrder": "1",
                  "id": "2"
                },
                "icon": "",
                "size": "m",
                "link": [
                  {
                    "name": "See all layouts",
                    "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
                    "url": "/layouts/",
                    "icon": "icon-layout color-black",
                    "published": "True",
                    "trashed": "False"
                  }
                ]
              }
            ],
            "hideButton": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
            "udi": "umb://element/a4b2016f6ade4e189dcd874d0b5137bc",
            "backgroundColor": "",
            "addColorOverlay": "",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "textAlignment": "",
            "textPosition": "Text_TopCenter"
          },
          {
            "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
            "udi": "umb://element/891dd872237948ee8fd00da8ae8799fa",
            "backgroundColor": {
              "value": "#ffffff",
              "firstBgColor": "#ffffff",
              "heading": "#000000",
              "secondaryheading": "000000",
              "text": "#000000",
              "border": "#000000",
              "label": "base",
              "sortOrder": "0",
              "id": "1"
            },
            "addColorOverlay": "",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "textAlignment": "text-center",
            "textPosition": "Text_CenterCenter"
          },
          {
            "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
            "udi": "umb://element/d004a3dc4cbe434cb555c472ad01cea7",
            "backgroundColor": {
              "value": "#d8d8d8",
              "firstBgColor": "#d8d8d8",
              "heading": "#000000",
              "secondaryheading": "#000000",
              "text": "#000000",
              "border": "#000000",
              "label": "c2",
              "sortOrder": "2",
              "id": "3"
            },
            "addColorOverlay": "",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "textAlignment": "text-center",
            "textPosition": "Text_CenterCenter"
          }
        ]
      },
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroButtons": "",
      "introButtons": "",
      "introText": "",
      "outroText": ""
    },
    {
      "contentTypeKey": "d0d38c45-5d97-4f17-b962-9e67c69146fd",
      "udi": "umb://element/4da76dde29b44b10bcf98d7b6263d309",
      "pods": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/079da4b3d7264278a443162328715a81",
              "settingsUdi": "umb://element/61523f77edca44858d6ba886a6fe5430"
            },
            {
              "contentUdi": "umb://element/b54353d6470243b58bab0e903562de28",
              "settingsUdi": "umb://element/2d885501d7834160bea044163ea4a930"
            },
            {
              "contentUdi": "umb://element/e19f64d49fe24571866b72d514f54031",
              "settingsUdi": "umb://element/599ef6bd50b24143a63b565b6443b047"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7e9ea8e8-6378-441e-ae49-59f545ceb8bf",
            "udi": "umb://element/079da4b3d7264278a443162328715a81",
            "podImage": "umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8",
            "podHeading": {
              "text": "Pod Heading",
              "headingtag": "m"
            },
            "podSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "podText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>",
            "podButton": [
              {
                "color": {
                  "value": "ee5d5d",
                  "text": "ffffff",
                  "border": "ee5d5d",
                  "label": "base-btn",
                  "sortOrder": "0",
                  "id": "1"
                },
                "icon": "usn_ion-md-grid",
                "size": "s",
                "link": [
                  {
                    "name": "All Layouts",
                    "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
                    "url": "/layouts/",
                    "icon": "icon-layout color-black",
                    "published": "True",
                    "trashed": "False"
                  }
                ]
              }
            ],
            "hidePodButton": "1"
          },
          {
            "contentTypeKey": "ad70067f-164e-425d-9914-cbe0d3ea0f90",
            "udi": "umb://element/b54353d6470243b58bab0e903562de28",
            "relatedContent": "umb://document/70a675694b57451e8586a530b065727c"
          },
          {
            "contentTypeKey": "67a98d43-54a2-482e-8ac8-9ec6cfdf0dc4",
            "udi": "umb://element/e19f64d49fe24571866b72d514f54031",
            "formType": "signupForm",
            "hideFields": "1",
            "contactRecipientEmailAddress": "",
            "umbracoForm": "",
            "loginSuccessPage": null,
            "formHeading": {
              "text": "Newsletter",
              "headingtag": "m"
            },
            "formSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "formIntroduction": "<p>Join the mailing list and be the first to hear about product updates and offers.</p>",
            "formButtonText": "Go",
            "formSubmissionMessage": "<p>Thanks! We'll be in touch soon. :-)</p>",
            "formSubscriberListID": "",
            "loginFormPage": null,
            "resetPasswordRequestPage": null,
            "resetPasswordPage": null,
            "resetPasswordEmail": "",
            "setEmailAddressAsUsername": "0",
            "adminApprovalRequired": "0",
            "emailConfirmationRequired": "0",
            "memberConfirmationEmail": "",
            "memberGroups": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "9887e72c-11ff-49de-bb01-38302b9f61d5",
            "udi": "umb://element/61523f77edca44858d6ba886a6fe5430",
            "textPosition": "item_text-boxed item_overlay",
            "overlayBackgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": "1",
              "id": "2"
            },
            "textAlignment": "text-left",
            "imageStyle": "image1by1Square",
            "boxPad": "0",
            "animate": "1",
            "animationStyle": "fadeInLeft",
            "animationDelay": "0",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "0",
            "overlayTextPosition": "align-self-end",
            "animationDuration": "0.8",
            "addBackgroundColor": "0",
            "backgroundColor": ""
          },
          {
            "contentTypeKey": "a28b25ee-28e6-478f-b501-d8a08ccd251a",
            "udi": "umb://element/2d885501d7834160bea044163ea4a930",
            "itemHeadingSize": "md",
            "textPosition": "item_text-boxed item_overlay",
            "overlayBackgroundColor": {
              "value": "#ffffff",
              "firstBgColor": "#ffffff",
              "heading": "#000000",
              "secondaryheading": "000000",
              "text": "#000000",
              "border": "#000000",
              "label": "base",
              "sortOrder": "0",
              "id": "1"
            },
            "textAlignment": "text-left",
            "imageStyle": "image1by1Square",
            "boxPad": "",
            "animate": "1",
            "animationStyle": "fadeInUp",
            "animationDelay": "0",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "animationDuration": "0.7",
            "overlayTextPosition": "align-self-end",
            "addBackgroundColor": "",
            "backgroundColor": "",
            "itemSecondaryHeadingSize": ""
          },
          {
            "contentTypeKey": "9ae02749-5271-48ba-8bec-43d910eaad8f",
            "udi": "umb://element/599ef6bd50b24143a63b565b6443b047",
            "formContainerBackgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": "1",
              "id": "2"
            },
            "formButtonColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "text": "#ffffff",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": "1",
              "id": "2"
            },
            "animate": "1",
            "animationStyle": "fadeIn",
            "animationDelay": "0",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "animationDuration": "0.8"
          }
        ]
      },
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroButtons": "",
      "introButtons": "",
      "introText": "",
      "outroText": ""
    },
    {
      "contentTypeKey": "080c227a-59a2-40fd-ad68-aaf356ac3a8a",
      "udi": "umb://element/eddf986912604b2ab7a69228460fbe0b",
      "linkToListing": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Layouts",
              "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
              "url": "/layouts/",
              "icon": "icon-layout color-black",
              "published": "True",
              "trashed": "False"
            }
          ]
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Components",
              "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
              "url": "/components/",
              "icon": "icon-layout color-black",
              "published": "True",
              "trashed": "False"
            }
          ]
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Blog",
              "udi": "umb://document/b150e3fc2c3049c3bc3135e1c5242070",
              "url": "#",
              "icon": "icon-newspaper color-black",
              "published": true,
              "trashed": false
            }
          ]
        }
      ],
      "displayIntro": "0",
      "introTextAlignment": "justify-content-start text-left",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroButtons": "",
      "introButtons": "",
      "introText": "",
      "outroText": ""
    },
    {
      "contentTypeKey": "9cfd8c2c-b89e-4bf9-8244-f2d8da401262",
      "udi": "umb://element/5d425e8c0b184ec68fe91e2c4cff099f",
      "anchorNavigation": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Pods",
              "queryString": "#pods",
              "icon": "icon-link",
              "published": "True"
            }
          ]
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Windows",
              "queryString": "#windows",
              "icon": "icon-link",
              "published": "True"
            }
          ]
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Layouts",
              "queryString": "#layouts",
              "icon": "icon-link",
              "published": "True"
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7c18879f-d2c5-4d87-b9f5-02544784e0e2",
      "udi": "umb://element/f5d062acfd7c45a3bb28b8928c363e88",
      "showArrows": "0",
      "showDots": "1",
      "autoRotateSpeed": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Homepage banner",
      "hideFromWebsite": "0",
      "customClasses": "",
      "enableRandomOrder": "0"
    },
    {
      "contentTypeKey": "a81ec2b7-4e6e-4027-a7f5-463022c36a85",
      "udi": "umb://element/b72215cc2b0643ffaa82dc4564884079",
      "imageOrder": "WindowsOrder_3_Big",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": "1",
        "id": "2"
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthWide",
      "animate": "1",
      "animationStyle": "fadeInUp",
      "animationDelay": "0",
      "anchorName": "windows",
      "removeItemSpacing": "",
      "componentStyles": "",
      "itemName": "",
      "hideFromWebsite": "",
      "customClasses": "",
      "animationDuration": "0.8",
      "enableRandomOrder": ""
    },
    {
      "contentTypeKey": "dbcf631e-f5d1-4200-a52f-eff07047e628",
      "udi": "umb://element/6bd89b27af9b48658e98cd707a89a88f",
      "itemsPerRow": "items-3",
      "enableCarousel": "0",
      "showArrows": "0",
      "showDots": "0",
      "autoRotateSpeed": "0",
      "backgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": "0",
        "id": "1"
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeInDown",
      "animationDelay": "0",
      "anchorName": "pods",
      "removeItemSpacing": "0",
      "componentStyles": "",
      "itemName": "",
      "hideFromWebsite": "0",
      "customClasses": "",
      "animationDuration": "1.2",
      "enableRandomOrder": "0"
    },
    {
      "contentTypeKey": "339192e8-0638-4e12-b6ea-81792e36ce7d",
      "udi": "umb://element/b09db38898594f939404ceee9e8a5ece",
      "itemTextPosition": "item_text-below",
      "overlayBackgroundColor": {
        "value": "000000",
        "heading": "ffffff",
        "secondaryheading": "ee5d5d",
        "text": "dbdbdb",
        "border": "2d2d2d",
        "label": "c3",
        "sortOrder": "3",
        "id": "4"
      },
      "itemsPerRow8": "items-3",
      "itemsPerRow4": "",
      "itemHeadingSize": "md",
      "itemTextAlignment": "text-left",
      "hideImage": "0",
      "imageStyle": "image3by2",
      "boxPad": "0",
      "pagesToDisplay": "",
      "enableCarousel": "1",
      "showArrows": "1",
      "showDots": "0",
      "autoRotateSpeed": "0",
      "backgroundColor": {
        "value": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ee5d5d",
        "text": "#dbdbdb",
        "border": "#2d2d2d",
        "label": "c3",
        "sortOrder": "3",
        "id": "4"
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthWide",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "layouts",
      "removeItemSpacing": "0",
      "componentStyles": "",
      "itemName": "Subpages - Layouts & Components",
      "hideFromWebsite": "0",
      "customClasses": "",
      "animationDuration": "0.8",
      "tabStyle": "tab-buttons",
      "overlayTextPosition": "",
      "enableRandomOrder": "0",
      "addBackgroundColor": "0",
      "itemBackgroundColor": "",
      "itemSecondaryHeadingSize": ""
    },
    {
      "contentTypeKey": "22a99f44-e579-4789-a175-badc90378017",
      "udi": "umb://element/98eab5eeb0bc4197b35be14e80c60acc",
      "navigationAlignment": "justify-content-center text-center",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": "1",
        "id": "2"
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeInDown",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "p-0,sticky",
      "itemName": "Anchors",
      "hideFromWebsite": "0",
      "customClasses": "",
      "animationDuration": "0.7",
      "linkStyle": "tab-underline"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[2.0]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[sitemap_Always]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[1.0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[umb://document/676eb2e2982f4bd0a491435eeffdaa48]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>