<?xml version="1.0" encoding="utf-8"?>
<Content Key="c39acc30-4b96-4b38-a981-5d021f213ea4" Alias="Layouts" Level="2">
  <Info>
    <Parent Key="ece839d8-1d32-4504-871c-c9f7253fb91e">Home</Parent>
    <Path>/Home/Layouts</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:09</CreateDate>
    <NodeName Default="Layouts">
      <Name Culture="en-us">Layouts</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ad9f40013a8c4aa1afb90e9acb3940da",
        "settingsUdi": "umb://element/e613e38a92a34712ab97068cc93187d1"
      },
      {
        "contentUdi": "umb://element/3f18205ac61c4678ba2bdd3e2417e739",
        "settingsUdi": "umb://element/f8410f73f79d4d1db76652f881fe1820"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "080c227a-59a2-40fd-ad68-aaf356ac3a8a",
      "udi": "umb://element/3f18205ac61c4678ba2bdd3e2417e739",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "linkToListing": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Layouts",
              "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
              "url": "/layouts/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        }
      ],
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "df7b194c-2e78-43b0-82ad-ae709f825d26",
      "udi": "umb://element/ad9f40013a8c4aa1afb90e9acb3940da",
      "banners": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/133b2ffde5d34989b915c65a0bc5025d",
              "settingsUdi": "umb://element/73899e54ec304e24a052c0a3e0906694"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fe934c83-9f93-4c2b-9881-7b747755505a",
            "udi": "umb://element/133b2ffde5d34989b915c65a0bc5025d",
            "bannerImage": null,
            "bannerVideoSource": "",
            "bannerVideoMP4": null,
            "bannerVideo3rdParty": "",
            "bannerHeading": {
              "text": "Layouts",
              "headingtag": "h1"
            },
            "bannerSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "bannerText": "",
            "bannerButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "e72b1c56-cbfd-4680-a186-244edeef03e0",
            "udi": "umb://element/73899e54ec304e24a052c0a3e0906694",
            "bannerBackgroundColor": {
              "value": "#d8d8d8",
              "firstBgColor": "#d8d8d8",
              "heading": "#000000",
              "secondaryheading": "#000000",
              "text": "#000000",
              "border": "#000000",
              "label": "c2",
              "sortOrder": 2,
              "id": 3
            },
            "bannerStyle": "bannerSizeShort",
            "bannerTextAlignment": "textAlignmentLeft",
            "bannerTextPosition": "Text_CenterLeft",
            "bannerAddColorOverlay": "0",
            "bannerScrollPrompt": "0",
            "bannerParallax": "0",
            "animate": "1",
            "animationStyle": "jackInTheBox",
            "animationDelay": "0",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "0",
            "bannerScrollStyle": "",
            "animationDuration": "1.2"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "339192e8-0638-4e12-b6ea-81792e36ce7d",
      "udi": "umb://element/f8410f73f79d4d1db76652f881fe1820",
      "itemTextPosition": "item_text-below",
      "overlayBackgroundColor": {
        "value": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "ee5d5d",
        "text": "#68676b",
        "border": "#e7e7e7",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "itemsPerRow8": "items-3",
      "itemsPerRow4": "",
      "itemHeadingSize": "",
      "itemTextAlignment": "",
      "hideImage": "0",
      "imageStyle": "image4by3",
      "boxPad": "0",
      "pagesToDisplay": "",
      "enableCarousel": "0",
      "showArrows": "0",
      "showDots": "0",
      "autoRotateSpeed": "0",
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthWide",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "removeItemSpacing": "0",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0",
      "overlayTextPosition": "Vertical_BottomCenter",
      "tabStyle": "",
      "animationDuration": "1.2",
      "addBackgroundColor": "0",
      "itemBackgroundColor": "",
      "enableRandomOrder": "0",
      "itemSecondaryHeadingSize": ""
    },
    {
      "contentTypeKey": "7c18879f-d2c5-4d87-b9f5-02544784e0e2",
      "udi": "umb://element/e613e38a92a34712ab97068cc93187d1",
      "showArrows": "",
      "showDots": "",
      "autoRotateSpeed": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "enableRandomOrder": ""
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>