<?xml version="1.0" encoding="utf-8"?>
<Content Key="9eaf45e8-9a60-4a78-93dc-601d781dd6cb" Alias="Links" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/Links</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:13</CreateDate>
    <NodeName Default="Links">
      <Name Culture="en-us">Links</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7d49cfb0a3d74cfd8beb337197827e1d",
        "settingsUdi": "umb://element/5e5e47370aba4b73b70bdba3b13c1bf3"
      },
      {
        "contentUdi": "umb://element/5f4da4a5792640b4ab1b08cfb3cbec42",
        "settingsUdi": "umb://element/963d490c1d8140dd9ab83465f4073675"
      },
      {
        "contentUdi": "umb://element/f80da65fcc7a43b08b7258cfdde4a5a0",
        "settingsUdi": "umb://element/29ec54c9083d469bb411012a0139de93"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9cbfe96e-9bfb-401a-8995-1e73c2e63faa",
      "udi": "umb://element/f80da65fcc7a43b08b7258cfdde4a5a0",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "links": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a05388eae8f940f9b0c9d8e6cfa09ad7",
              "settingsUdi": "umb://element/5e78f35fa8eb4b53b5a6a0c777415e12"
            },
            {
              "contentUdi": "umb://element/4d98d28b02794369aecc9a2b62320ce1",
              "settingsUdi": "umb://element/197893c0ee2d403581d377430b0dedc2"
            },
            {
              "contentUdi": "umb://element/c14f357e489242779231036c60607dd2",
              "settingsUdi": "umb://element/7699f7448795433e9b8701c890be9bf3"
            },
            {
              "contentUdi": "umb://element/8e2d0d1d0671490a9cac9b6176bb3035",
              "settingsUdi": "umb://element/33f5326c7937463b83cd7c0aa92d9152"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
            "udi": "umb://element/a05388eae8f940f9b0c9d8e6cfa09ad7",
            "link": [
              {
                "color": {},
                "icon": "",
                "size": "m",
                "link": [
                  {
                    "name": "Example Document",
                    "udi": "umb://media/f2542fff5dd84c818ec3cd1295aab815",
                    "url": "/media/22xfj2wy/example-document.pdf",
                    "icon": "icon-document",
                    "published": true,
                    "trashed": false
                  }
                ]
              }
            ],
            "optionalAdditionalInformation": "<p>More information here.</p>"
          },
          {
            "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
            "udi": "umb://element/4d98d28b02794369aecc9a2b62320ce1",
            "link": [
              {
                "color": {},
                "icon": "",
                "size": "m",
                "link": [
                  {
                    "name": "uSkinned website",
                    "url": "https://uskinned.net",
                    "icon": "icon-link",
                    "published": true
                  }
                ]
              }
            ],
            "optionalAdditionalInformation": ""
          },
          {
            "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
            "udi": "umb://element/c14f357e489242779231036c60607dd2",
            "link": [
              {
                "color": {},
                "icon": "",
                "size": "m",
                "link": [
                  {
                    "name": "Layouts",
                    "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
                    "url": "/layouts/",
                    "icon": "icon-layout color-black",
                    "published": true,
                    "trashed": false
                  }
                ]
              }
            ],
            "optionalAdditionalInformation": ""
          },
          {
            "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
            "udi": "umb://element/8e2d0d1d0671490a9cac9b6176bb3035",
            "link": [
              {
                "color": {},
                "icon": "",
                "size": "m",
                "link": [
                  {
                    "name": "Components",
                    "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
                    "url": "/components/",
                    "icon": "icon-layout color-black",
                    "published": true,
                    "trashed": false
                  }
                ]
              }
            ],
            "optionalAdditionalInformation": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
            "udi": "umb://element/5e78f35fa8eb4b53b5a6a0c777415e12",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
            "udi": "umb://element/197893c0ee2d403581d377430b0dedc2",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
            "udi": "umb://element/7699f7448795433e9b8701c890be9bf3",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
            "udi": "umb://element/33f5326c7937463b83cd7c0aa92d9152",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": ""
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/5f4da4a5792640b4ab1b08cfb3cbec42",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/02a964efb4e346d29c50d93df59dd840",
              "settingsUdi": "umb://element/2bc5c370a00745d7b8c1bf881f36aaa3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "9cbfe96e-9bfb-401a-8995-1e73c2e63faa",
            "udi": "umb://element/02a964efb4e346d29c50d93df59dd840",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Links",
              "headingtag": "h2"
            },
            "introSecondaryHeading": {
              "text": "Simple",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/d962dbde18f640e18da21740c47da86c",
                    "settingsUdi": "umb://element/0b1734eb5b994219b499fa312b66cc16"
                  },
                  {
                    "contentUdi": "umb://element/0cf012ae8c42471094d56f5b16d37d7e",
                    "settingsUdi": "umb://element/474295e6d22a4bf98420eeeb6013b417"
                  },
                  {
                    "contentUdi": "umb://element/c016c6b0cc5a425ab818faa7f3db8cde",
                    "settingsUdi": "umb://element/02261b7add234fb7a4f639a40f4d06de"
                  },
                  {
                    "contentUdi": "umb://element/6e6244632471402dad42d2acbb44360f",
                    "settingsUdi": "umb://element/f30b40ac0356464c8cd3f035d78ac4b4"
                  },
                  {
                    "contentUdi": "umb://element/81e3caf74b834251a996a3a1f790bd26",
                    "settingsUdi": "umb://element/551ab4d5cd9d4259aa5601e969d66c97"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
                  "udi": "umb://element/d962dbde18f640e18da21740c47da86c",
                  "link": [
                    {
                      "color": {},
                      "icon": "",
                      "size": "m",
                      "link": [
                        {
                          "name": "Home",
                          "udi": "umb://document/ece839d81d324504871cc9f7253fb91e",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ]
                    }
                  ],
                  "optionalAdditionalInformation": ""
                },
                {
                  "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
                  "udi": "umb://element/c016c6b0cc5a425ab818faa7f3db8cde",
                  "link": [
                    {
                      "color": {},
                      "icon": "",
                      "size": "m",
                      "link": [
                        {
                          "name": "Layouts",
                          "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
                          "url": "/layouts/",
                          "icon": "icon-layout color-black",
                          "published": true,
                          "trashed": false
                        }
                      ]
                    }
                  ],
                  "optionalAdditionalInformation": ""
                },
                {
                  "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
                  "udi": "umb://element/6e6244632471402dad42d2acbb44360f",
                  "link": [
                    {
                      "color": {},
                      "icon": "",
                      "size": "m",
                      "link": [
                        {
                          "name": "Components",
                          "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
                          "url": "/components/",
                          "icon": "icon-layout color-black",
                          "published": true,
                          "trashed": false
                        }
                      ]
                    }
                  ],
                  "optionalAdditionalInformation": ""
                },
                {
                  "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
                  "udi": "umb://element/81e3caf74b834251a996a3a1f790bd26",
                  "link": [
                    {
                      "color": {},
                      "icon": "",
                      "size": "m",
                      "link": [
                        {
                          "name": "Blog",
                          "udi": "umb://document/b150e3fc2c3049c3bc3135e1c5242070",
                          "url": "/blog/",
                          "icon": "icon-newspaper color-black",
                          "published": true,
                          "trashed": false
                        }
                      ]
                    }
                  ],
                  "optionalAdditionalInformation": ""
                },
                {
                  "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
                  "udi": "umb://element/0cf012ae8c42471094d56f5b16d37d7e",
                  "link": [
                    {
                      "color": {},
                      "icon": "",
                      "size": "m",
                      "link": [
                        {
                          "name": "uSkinned.net",
                          "url": "https://uskinned.net",
                          "icon": "icon-link",
                          "published": true
                        }
                      ]
                    }
                  ],
                  "optionalAdditionalInformation": ""
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
                  "udi": "umb://element/0b1734eb5b994219b499fa312b66cc16",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
                  "udi": "umb://element/02261b7add234fb7a4f639a40f4d06de",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
                  "udi": "umb://element/f30b40ac0356464c8cd3f035d78ac4b4",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
                  "udi": "umb://element/551ab4d5cd9d4259aa5601e969d66c97",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
                  "udi": "umb://element/474295e6d22a4bf98420eeeb6013b417",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "003f2ecf-a3eb-424c-948c-70d66cabc76c",
            "udi": "umb://element/2bc5c370a00745d7b8c1bf881f36aaa3",
            "itemsPerRow": "items-2",
            "includeLinkDetail": "0",
            "desktopColumnWidth": "4",
            "tabletColumnWidth": "4",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeInLeft",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4a05a6c890ae430eae9d7b80175db7b0",
              "settingsUdi": "umb://element/df34f9d7efb7423a9d772fad11824618"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "9cbfe96e-9bfb-401a-8995-1e73c2e63faa",
            "udi": "umb://element/4a05a6c890ae430eae9d7b80175db7b0",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Links",
              "headingtag": "h2"
            },
            "introSecondaryHeading": {
              "text": "Detailed",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/771c7f06fb3e47b2a2ea1fd7c97ba0d9",
                    "settingsUdi": "umb://element/5acc0d2084fb45aeb404669316d52f41"
                  },
                  {
                    "contentUdi": "umb://element/4609f3e1c4fa4deab3349e88364de2e5",
                    "settingsUdi": "umb://element/f0b2d0ae37e246078d1c1f9d03812449"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
                  "udi": "umb://element/771c7f06fb3e47b2a2ea1fd7c97ba0d9",
                  "link": [
                    {
                      "color": {},
                      "icon": "",
                      "size": "m",
                      "link": [
                        {
                          "name": "Example Document",
                          "udi": "umb://media/f2542fff5dd84c818ec3cd1295aab815",
                          "url": "/media/22xfj2wy/example-document.pdf",
                          "icon": "icon-document",
                          "published": true,
                          "trashed": false
                        }
                      ]
                    }
                  ],
                  "optionalAdditionalInformation": "<p><em>More information here.</em></p>"
                },
                {
                  "contentTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
                  "udi": "umb://element/4609f3e1c4fa4deab3349e88364de2e5",
                  "link": [
                    {
                      "color": {},
                      "icon": "",
                      "size": "m",
                      "link": [
                        {
                          "name": "uSkinned website",
                          "url": "https://uskinned.net",
                          "icon": "icon-link",
                          "published": true
                        }
                      ]
                    }
                  ],
                  "optionalAdditionalInformation": "<p><em>More information here.</em></p>"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
                  "udi": "umb://element/5acc0d2084fb45aeb404669316d52f41",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
                  "udi": "umb://element/f0b2d0ae37e246078d1c1f9d03812449",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "003f2ecf-a3eb-424c-948c-70d66cabc76c",
            "udi": "umb://element/df34f9d7efb7423a9d772fad11824618",
            "itemsPerRow": "items-1",
            "includeLinkDetail": "1",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "0",
            "animationStyle": "fadeInRight",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "774318b9-8e4b-47db-839b-56205a6e84e0",
      "udi": "umb://element/7d49cfb0a3d74cfd8beb337197827e1d",
      "heading": {
        "text": "Links",
        "headingtag": "h1"
      },
      "secondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "text": "<p><span class=\"intro\">Add internal, external and media links to anywhere in your site.</span></p>",
      "buttons": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "deccb881-4a80-4e25-985c-88b99048b17c",
      "udi": "umb://element/29ec54c9083d469bb411012a0139de93",
      "itemsPerRow": "items-1",
      "includeLinkDetail": "1",
      "backgroundColor": {
        "value": "#e7e7e7",
        "heading": "#000000",
        "secondaryheading": "#ee5d5d",
        "text": "#222222",
        "border": "#c4c4c4",
        "label": "c5",
        "sortOrder": 5,
        "id": 6
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/963d490c1d8140dd9ab83465f4073675",
      "desktopTabletOrder": "desktop_One",
      "mobileOrder": "mobile_One",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0"
    },
    {
      "contentTypeKey": "d247b7e6-3122-4fd3-8994-96aadc5f726c",
      "udi": "umb://element/5e5e47370aba4b73b70bdba3b13c1bf3",
      "textAlignment": "text-left",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>