<?xml version="1.0" encoding="utf-8"?>
<Content Key="9202f9ce-f552-46ad-ac5b-82beb03de59a" Alias="Maps" Level="3">
  <Info>
    <Parent Key="154e5baa-9548-4ed4-a79b-ee652201758c">Reusable Components</Parent>
    <Path>/Global/ReusableComponents/Maps</Path>
    <Trashed>false</Trashed>
    <ContentType>USNComponentGroup</ContentType>
    <CreateDate>2023-12-08T16:35:19</CreateDate>
    <NodeName Default="Maps">
      <Name Culture="en-us">Maps</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
  </Info>
  <Properties>
    <components>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d8ff7ca8adc14a719b3e3b19f581e6b6",
        "settingsUdi": "umb://element/e431b7cfb8c7422596049f5bd64a30c9"
      },
      {
        "contentUdi": "umb://element/2a3b12accf534452b6998d8ef77af05f",
        "settingsUdi": "umb://element/1fb1884caf37488aa2b8f9af1bd7b5b8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
      "udi": "umb://element/d8ff7ca8adc14a719b3e3b19f581e6b6",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "code": "<style>\n@media (min-width:0) and (max-width:767px) {\n#map {\nheight:250px\n}\n}\n@media (min-width:768px) {\n#map {\nheight:300px\n}\n}\n@media (min-width:992px) {\n#map {\nheight:400px\n}\n}\n</style>\n<iframe id=\"map\" class=\"c1-bg\" src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.3728173715917!2d-4.24939908376345!3d55.856197780581184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488846a2331418ff%3A0xe77b7339735c816d!2s60+Osborne+St%2C+Glasgow+G1+5QH!5e0!3m2!1sen!2suk!4v1505296554052\" width=\"100%\" height=\"400\" frameborder=\"0\" style=\"border:0\" allowfullscreen></iframe>",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
      "udi": "umb://element/2a3b12accf534452b6998d8ef77af05f",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "code": "<style>\n@media (min-width:0) and (max-width:767px) {\n#map2 {\nheight:250px\n}\n}\n@media (min-width:768px) {\n#map2 {\nheight:300px\n}\n}\n@media (min-width:992px) {\n#map2 {\nheight:400px\n}\n}\n</style>\n<iframe id=\"map2\" class=\"c1-bg\" src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2265.229316794625!2d10.38622611635219!3d55.4063511804621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465253138d18e41d%3A0x5e50028931a45188!2sUmbraco%20HQ!5e0!3m2!1sen!2suk!4v1613664731097!5m2!1sen!2suk\" width=\"100%\" height=\"400\" frameborder=\"0\" style=\"border:0;\" allowfullscreen></iframe>",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "af0dace2-3037-44b8-adf4-4366f3e4c6e6",
      "udi": "umb://element/e431b7cfb8c7422596049f5bd64a30c9",
      "itemName": "uSkinned HQ",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthFull",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "p-0",
      "hideFromWebsite": "0"
    },
    {
      "contentTypeKey": "af0dace2-3037-44b8-adf4-4366f3e4c6e6",
      "udi": "umb://element/1fb1884caf37488aa2b8f9af1bd7b5b8",
      "itemName": "Umbraco HQ",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthFull",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "p-0",
      "hideFromWebsite": ""
    }
  ]
}]]></Value>
    </components>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
  </Properties>
</Content>