<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c2d9bc2-6378-4f45-90fb-b75614b42c32" Alias="Member Registration" Level="2">
  <Info>
    <Parent Key="ece839d8-1d32-4504-871c-c9f7253fb91e">Home</Parent>
    <Path>/Home/MemberRegistration</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:18</CreateDate>
    <NodeName Default="Member Registration">
      <Name Culture="en-us">Member Registration</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9f210fa7e75d4eec927d46e4f6e423c7",
        "settingsUdi": "umb://element/efc909658abd467cb8088ddaa103ac99"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "df7b194c-2e78-43b0-82ad-ae709f825d26",
      "udi": "umb://element/9f210fa7e75d4eec927d46e4f6e423c7",
      "banners": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3d7ed63ede1b4f10b76ee6bba19b6399",
              "settingsUdi": "umb://element/556aa1f9e98d43f1bb32792b26e2cc29"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fe934c83-9f93-4c2b-9881-7b747755505a",
            "udi": "umb://element/3d7ed63ede1b4f10b76ee6bba19b6399",
            "bannerImage": null,
            "bannerVideoSource": "",
            "bannerVideoMP4": null,
            "bannerVideo3rdParty": "",
            "bannerHeading": {
              "text": "Register",
              "headingtag": "h1"
            },
            "bannerSecondaryHeading": {
              "text": "Members",
              "headingtag": ""
            },
            "bannerText": "",
            "bannerButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "e72b1c56-cbfd-4680-a186-244edeef03e0",
            "udi": "umb://element/556aa1f9e98d43f1bb32792b26e2cc29",
            "itemName": "",
            "bannerBackgroundColor": {
              "value": "#222222",
              "firstBgColor": "#222222",
              "heading": "#ffffff",
              "secondaryheading": "#ee5d5d",
              "text": "#dbdbdb",
              "border": "#4c4c4c",
              "label": "c2",
              "sortOrder": 2,
              "id": 3
            },
            "bannerStyle": "bannerSizeScale",
            "bannerTextAlignment": "text-center",
            "bannerTextPosition": "Text_BottomCenter",
            "bannerAddColorOverlay": "0",
            "bannerScrollPrompt": "0",
            "bannerScrollStyle": "",
            "bannerParallax": "0",
            "animate": "1",
            "animationStyle": "fadeInDown",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "customClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7c18879f-d2c5-4d87-b9f5-02544784e0e2",
      "udi": "umb://element/efc909658abd467cb8088ddaa103ac99",
      "itemName": "",
      "showArrows": "",
      "showDots": "",
      "autoRotateSpeed": "0",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "",
      "hideFromWebsite": "",
      "enableRandomOrder": ""
    }
  ]
}]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[1]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[1]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9e4c791c230454a8782567cebe6c4c8",
        "settingsUdi": "umb://element/051e1a24749c4599bb9d6c0461d062fe"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
      "udi": "umb://element/f9e4c791c230454a8782567cebe6c4c8",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "formType": "registerForm",
      "hideFields": "0",
      "contactRecipientEmailAddress": "",
      "umbracoForm": "",
      "formHeading": {
        "text": "",
        "headingtag": ""
      },
      "formSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "formIntroduction": "",
      "formButtonText": "",
      "formSubmissionMessage": "<p>Thank you for your member registration.</p>",
      "formSubscriberListID": "",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": "",
      "loginSuccessPage": null,
      "loginFormPage": null,
      "resetPasswordRequestPage": null,
      "resetPasswordPage": null,
      "resetPasswordEmail": "",
      "memberConfirmationEmail": "",
      "adminApprovalRequired": "0",
      "emailConfirmationRequired": "1",
      "setEmailAddressAsUsername": "1",
      "memberGroups": "1251,6015"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d84c410f-7d72-4a27-b708-e3914100195c",
      "udi": "umb://element/051e1a24749c4599bb9d6c0461d062fe",
      "formContainerBackgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "formButtonColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "ee5d5d",
        "text": "#68676b",
        "border": "#e7e7e7",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "1",
      "animationStyle": "jackInTheBox",
      "animationDelay": "0.0",
      "anchorName": "",
      "itemName": "Member Registration",
      "customClasses": "",
      "componentStyles": "",
      "hideFromWebsite": "0",
      "animationDuration": "0.8"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutCenterNavLeft]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f7c28e52c23c4e8c8b343afcdbc98dc6",
        "settingsUdi": "umb://element/a3e6405beb4445e39fc22508dabbc154"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7e9ea8e8-6378-441e-ae49-59f545ceb8bf",
      "udi": "umb://element/f7c28e52c23c4e8c8b343afcdbc98dc6",
      "podImage": null,
      "podHeading": {
        "text": "Your account",
        "headingtag": "s"
      },
      "podSecondaryHeading": {
        "text": "Login now",
        "headingtag": "s"
      },
      "podText": "",
      "podButton": [
        {
          "color": {
            "value": "#000000",
            "text": "#ffffff",
            "border": "#ffffff",
            "label": "c1-btn",
            "sortOrder": 1,
            "id": 2
          },
          "icon": "",
          "size": "s",
          "link": [
            {
              "name": "Login",
              "udi": "umb://document/afe7a0cd695f4c51a3dbb2ebdba2bba0",
              "url": "/login/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        }
      ],
      "hidePodButton": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "9887e72c-11ff-49de-bb01-38302b9f61d5",
      "udi": "umb://element/a3e6405beb4445e39fc22508dabbc154",
      "itemName": "Login pod",
      "textPosition": "item_text-below",
      "overlayBackgroundColor": "",
      "overlayTextPosition": "",
      "textAlignment": "text-left",
      "imageStyle": "imageStyleLandscape",
      "boxPad": "",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": "",
      "addBackgroundColor": "",
      "backgroundColor": ""
    }
  ]
}]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>