<?xml version="1.0" encoding="utf-8"?>
<Content Key="f61f35c1-f377-484e-a23f-d93567ae4a81" Alias="Navigation" Level="2">
  <Info>
    <Parent Key="676eb2e2-982f-4bd0-a491-435eeffdaa48">Global</Parent>
    <Path>/Global/Navigation</Path>
    <Trashed>false</Trashed>
    <ContentType>USNNavigation</ContentType>
    <CreateDate>2023-12-08T16:35:19</CreateDate>
    <NodeName Default="Navigation">
      <Name Culture="en-us">Navigation</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
  </Info>
  <Properties>
    <ctaButtons>
      <Value Culture="en-us"><![CDATA[[
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/3f091b9ebf924ca09487488f667f3960",
        "url": "/contact/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false
      }
    ],
    "size": "m"
  }
]]]></Value>
    </ctaButtons>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
    <footerNavigation>
      <Value Culture="en-us"><![CDATA[[
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Terms & Conditions",
        "udi": "umb://document/96fbc6ca271d44d3809e96dc3489e7ca",
        "url": "/terms-conditions/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false
      }
    ]
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Privacy Policy",
        "udi": "umb://document/1e9cc745b69d4095ab2e1dacf9b90044",
        "url": "/privacy-policy/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false
      }
    ]
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Sitemap",
        "udi": "umb://document/9731bdb0a847410da5a08e298b10fd00",
        "url": "/sitemap/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false
      }
    ]
  }
]]]></Value>
    </footerNavigation>
    <instructions>
      <Value><![CDATA[]]></Value>
    </instructions>
    <languageHeading>
      <Value Culture="en-us"><![CDATA[English]]></Value>
    </languageHeading>
    <languageHeadingIconImage>
      <Value Culture="en-us"><![CDATA[umb://media/0ff17a1f5f394b2d8cc5987047a682e7]]></Value>
    </languageHeadingIconImage>
    <languageNavigation>
      <Value Culture="en-us"><![CDATA[[
  {
    "color": {},
    "icon": "",
    "size": "m",
    "link": [
      {
        "name": "Spanish",
        "queryString": "",
        "url": "/multilingual-support/",
        "icon": "icon-layout color-black",
        "published": true,
        "udi": "umb://document/00b2397e5fd148959467bd588c50cfee",
        "trashed": false
      }
    ],
    "media": {
      "name": "Spain",
      "id": 5782,
      "udi": "umb://media/728d212ab9d04671a578b31b473f08d1",
      "icon": "icon-document",
      "trashed": false,
      "key": "728d212a-b9d0-4671-a578-b31b473f08d1",
      "parentId": 4043,
      "alias": null,
      "path": "-1,4043,5782",
      "metaData": {
        "ContentTypeAlias": "File",
        "UpdateDate": "2021-03-15 17:21:58",
        "MediaPath": "/media/giqj02wq/es.svg",
        "IsContainer": false
      },
      "thumbnail": "/media/giqj02wq/es.svg",
      "image": "/media/giqj02wq/es.svg",
      "updateDate": "2021-03-15 17:21:58",
      "filtered": null,
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/728d212ab9d04671a578b31b473f08d1"
  },
  {
    "color": {},
    "icon": "",
    "size": "m",
    "link": [
      {
        "name": "Danish",
        "queryString": "",
        "url": "/multilingual-support/",
        "icon": "icon-layout color-black",
        "published": true,
        "udi": "umb://document/00b2397e5fd148959467bd588c50cfee",
        "trashed": false
      }
    ],
    "media": {
      "name": "Denmark",
      "id": 5784,
      "udi": "umb://media/6e841608bc924e9b97e315be88e9c654",
      "icon": "icon-document",
      "trashed": false,
      "key": "6e841608-bc92-4e9b-97e3-15be88e9c654",
      "parentId": 4043,
      "alias": null,
      "path": "-1,4043,5784",
      "metaData": {
        "ContentTypeAlias": "File",
        "UpdateDate": "2021-03-15 17:24:18",
        "MediaPath": "/media/calii1us/dk.svg",
        "IsContainer": false
      },
      "thumbnail": "/media/calii1us/dk.svg",
      "image": "/media/calii1us/dk.svg",
      "updateDate": "2021-03-15 17:24:18",
      "filtered": null,
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/6e841608bc924e9b97e315be88e9c654"
  },
  {
    "color": {},
    "icon": "",
    "size": "m",
    "link": [
      {
        "name": "Swedish",
        "queryString": "",
        "url": "/multilingual-support/",
        "icon": "icon-layout color-black",
        "published": true,
        "udi": "umb://document/00b2397e5fd148959467bd588c50cfee",
        "trashed": false
      }
    ],
    "media": {
      "name": "Sweden",
      "id": 5785,
      "udi": "umb://media/04074be348dc4333a1a06c7504aea640",
      "icon": "icon-document",
      "trashed": false,
      "key": "04074be3-48dc-4333-a1a0-6c7504aea640",
      "parentId": 4043,
      "alias": null,
      "path": "-1,4043,5785",
      "metaData": {
        "ContentTypeAlias": "File",
        "UpdateDate": "2021-03-15 17:25:12",
        "MediaPath": "/media/5nfbobg2/se.svg",
        "IsContainer": false
      },
      "thumbnail": "/media/5nfbobg2/se.svg",
      "image": "/media/5nfbobg2/se.svg",
      "updateDate": "2021-03-15 17:25:12",
      "filtered": null,
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/04074be348dc4333a1a06c7504aea640"
  }
]]]></Value>
    </languageNavigation>
    <loggedInMembersNavigation>
      <Value Culture="en-us"><![CDATA[[
  {
    "color": {},
    "icon": "usn_ion-ios-star",
    "link": [
      {
        "name": "Members Area",
        "udi": "umb://document/4e6dc27c173f4e1d990b8c52149b79f9",
        "url": "/members-area/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false
      }
    ]
  },
  {
    "color": {},
    "icon": "usn_ion-ios-lock",
    "link": [
      {
        "name": "Protected Page",
        "udi": "umb://document/c365067e3d2b46e3b57719b4da7debcd",
        "url": "/members-area/password-protected-page/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false
      }
    ]
  }
]]]></Value>
    </loggedInMembersNavigation>
    <loggedOutMembersNavigation>
      <Value Culture="en-us"><![CDATA[[
  {
    "color": {},
    "icon": "usn_ion-md-log-in",
    "size": "m",
    "link": [
      {
        "name": "Login",
        "udi": "umb://document/afe7a0cd695f4c51a3dbb2ebdba2bba0",
        "url": "/login/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false
      }
    ]
  },
  {
    "color": {},
    "icon": "usn_ion-md-checkmark-circle-outline",
    "size": "m",
    "link": [
      {
        "name": "Register",
        "udi": "umb://document/5c2d9bc263784f4590fbb75614b42c32",
        "url": "/member-registration/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false
      }
    ]
  }
]]]></Value>
    </loggedOutMembersNavigation>
    <mainNavigation>
      <Value Culture="en-us"><![CDATA[[
  {
    "icon": "",
    "link": [
      {
        "name": "Layouts",
        "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
        "url": "/layouts/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false
      }
    ],
    "subPages": [
      {
        "icon": "",
        "link": [
          {
            "name": "Full",
            "udi": "umb://document/70a675694b57451e8586a530b065727c",
            "url": "/page-layouts/full/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Left",
            "udi": "umb://document/3a784e181b734749aae45c195edcad76",
            "url": "/page-layouts/left/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Right",
            "udi": "umb://document/0c2bdfdb9cb748179503af64f1046c53",
            "url": "/page-layouts/right/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Center (Nav Left)",
            "udi": "umb://document/bfeb5627cfe94652b085f42c321530ef",
            "url": "/page-layouts/center-nav-left/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Center (Nav Right)",
            "udi": "umb://document/28ba53a1e30d4f8ead486fed153f3e68",
            "url": "/page-layouts/center-nav-right/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Right to left",
            "udi": "umb://document/30c90524acf1424e84e27a5065ab0f5e",
            "url": "/layouts/right-to-left/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      }
    ]
  },
  {
    "icon": "",
    "link": [
      {
        "name": "Components",
        "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
        "url": "/components/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false
      }
    ],
    "subPages": [
      {
        "icon": "",
        "link": [
          {
            "name": "Accordion / Tabs",
            "udi": "umb://document/7c9e1b0ca52c4c39aab4256169ee447c",
            "url": "/page-components/accordion-tabs/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Alert Box",
            "udi": "umb://document/d3ced8e7ec9b4da8bea74be56ae2e6c9",
            "url": "/page-components/alert-box/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Anchor Navigation",
            "udi": "umb://document/181999149ef645569d00a02c99d08a3f",
            "url": "/page-components/anchor-navigation/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Banners",
            "udi": "umb://document/d0645e0c58b948a689bb100cf26100de",
            "url": "/page-components/banners/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Call to Action Strip",
            "udi": "umb://document/00b5be173049434b8a97c2dc9eeecbbc",
            "url": "/page-components/call-to-action-strip/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Data List",
            "udi": "umb://document/ba3902d5401e4eac94a1a468c9144a4c",
            "url": "/components/data-list/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Embed Code Block",
            "udi": "umb://document/162f2d6da8fa4b9f8bafeb30b9a4dc1d",
            "url": "/page-components/embed-code-block/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Form",
            "udi": "umb://document/dcdcc821cae44ab4a6f0a358713ec948",
            "url": "/page-components/form/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Gallery",
            "udi": "umb://document/677a926aa8c8433697bb9e5f8e0ae997",
            "url": "/page-components/gallery/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Grid Layout",
            "udi": "umb://document/e08bb86b51104add83bde3af4a0d4632",
            "url": "/page-components/grid-layout/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Links",
            "udi": "umb://document/9eaf45e89a604a7893dc601d781dd6cb",
            "url": "/page-components/links/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Markdown",
            "udi": "umb://document/beb783ccb7bc48c8b22b2c05c4293ecb",
            "url": "/components/markdown/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Pods",
            "udi": "umb://document/6083eab7d099464db4cea41884760ff6",
            "url": "/page-components/pods/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Sitemap",
            "udi": "umb://document/d2bf974f7b694e64af4f87dfa80b10a8",
            "url": "/page-components/sitemap/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Split Component",
            "udi": "umb://document/0fba13c8b4d64c4488a0bb79e2350637",
            "url": "/page-components/split-component/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Subpage Listing",
            "udi": "umb://document/81f607fdd27b4b67b67351c282b087a1",
            "url": "/page-components/subpage-listing/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Text",
            "udi": "umb://document/905896aabcd84139991b6ee2aef56fb9",
            "url": "/page-components/text/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      },
      {
        "icon": "",
        "link": [
          {
            "name": "Windows",
            "udi": "umb://document/06715faec94a46b4a68f8d4ac5272885",
            "url": "/page-components/windows/",
            "icon": "icon-layout color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      }
    ]
  },
  {
    "icon": "",
    "link": [
      {
        "name": "Blog",
        "udi": "umb://document/b150e3fc2c3049c3bc3135e1c5242070",
        "url": "/blog/",
        "icon": "icon-newspaper color-black",
        "published": true,
        "trashed": false
      }
    ],
    "subPages": [
      {
        "icon": "",
        "link": [
          {
            "name": "Technology",
            "udi": "umb://document/58a6950cacdc4ce09b4320d500f66a0a",
            "url": "/blog/categories/technology/",
            "icon": "icon-categories color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": [
          {
            "icon": "",
            "link": [
              {
                "name": "Umbraco CMS",
                "udi": "umb://document/cd9aa613f2ac4ce4882fe0e2e9a6bebd",
                "url": "/blog/categories/technology/umbraco-cms/",
                "icon": "icon-categories color-black",
                "published": true,
                "trashed": false
              }
            ],
            "subPages": []
          },
          {
            "icon": "",
            "link": [
              {
                "name": "ASP.NET",
                "udi": "umb://document/aeea9ae382e5421b8d6cb78173d062a7",
                "url": "/blog/categories/technology/asp-net/",
                "icon": "icon-categories color-black",
                "published": true,
                "trashed": false
              }
            ],
            "subPages": []
          }
        ]
      },
      {
        "icon": "",
        "link": [
          {
            "name": "SEO",
            "udi": "umb://document/c29050373eb345d880ef6b33851b062a",
            "url": "/blog/categories/seo/",
            "icon": "icon-categories color-black",
            "published": true,
            "trashed": false
          }
        ],
        "subPages": []
      }
    ]
  }
]]]></Value>
    </mainNavigation>
    <membersNavigationHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </membersNavigationHeading>
    <multilingualConfiguration>
      <Value><![CDATA[multitenant]]></Value>
    </multilingualConfiguration>
    <secondaryNavigation>
      <Value Culture="en-us"><![CDATA[[
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Sitemap",
        "udi": "umb://document/9731bdb0a847410da5a08e298b10fd00",
        "url": "/sitemap/",
        "icon": "icon-layout color-black",
        "published": true,
        "trashed": false,
        "target": ""
      }
    ]
  }
]]]></Value>
    </secondaryNavigation>
  </Properties>
</Content>