<?xml version="1.0" encoding="utf-8"?>
<Content Key="eae9937a-9eb0-4a37-add6-930d3f5d7b53" Alias="Newsletter Signup" Level="3">
  <Info>
    <Parent Key="93130294-4b65-4aaa-9131-0967c4ba1179">Reusable Pods</Parent>
    <Path>/Global/ReusablePods/NewsletterSignup</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPodGroup</ContentType>
    <CreateDate>2023-12-08T16:35:19</CreateDate>
    <NodeName Default="Newsletter Signup">
      <Name Culture="en-us">Newsletter Signup</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
  </Info>
  <Properties>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <pods>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/806fc3df9cb246289c84e0fbac0c26ef",
        "settingsUdi": "umb://element/37f570fcab744ca08f02e19be9e27365"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "67a98d43-54a2-482e-8ac8-9ec6cfdf0dc4",
      "udi": "umb://element/806fc3df9cb246289c84e0fbac0c26ef",
      "formType": "signupForm",
      "hideFields": "0",
      "contactRecipientEmailAddress": "",
      "umbracoForm": "",
      "loginSuccessPage": null,
      "loginFormPage": null,
      "resetPasswordRequestPage": null,
      "resetPasswordPage": null,
      "memberGroups": "",
      "setEmailAddressAsUsername": "0",
      "adminApprovalRequired": "0",
      "emailConfirmationRequired": "0",
      "memberConfirmationEmail": "",
      "formHeading": {
        "text": "Get 10% Discount code",
        "headingtag": ""
      },
      "formSecondaryHeading": {
        "text": "Sign up to our newsletter",
        "headingtag": ""
      },
      "formIntroduction": "",
      "formButtonText": "",
      "formSubmissionMessage": "",
      "formSubscriberListID": "",
      "resetPasswordEmail": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "9ae02749-5271-48ba-8bec-43d910eaad8f",
      "udi": "umb://element/37f570fcab744ca08f02e19be9e27365",
      "itemName": "",
      "formContainerBackgroundColor": "",
      "formButtonColor": "",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": "0"
    }
  ]
}]]></Value>
    </pods>
  </Properties>
</Content>