<?xml version="1.0" encoding="utf-8"?>
<Content Key="597c5208-820f-4f6b-ad76-b5d8c9571164" Alias="Posts" Level="3">
  <Info>
    <Parent Key="b150e3fc-2c30-49c3-bc31-35e1c5242070">Blog</Parent>
    <Path>/Home/Blog/Posts</Path>
    <Trashed>false</Trashed>
    <ContentType>USNBlogPostsFolder</ContentType>
    <CreateDate>2023-12-08T16:35:17</CreateDate>
    <NodeName Default="Posts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="24fa36af-8083-45c8-a7fe-3c49df2aab46">USNParentRedirect</Template>
  </Info>
  <Properties>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
  </Properties>
</Content>