<?xml version="1.0" encoding="utf-8"?>
<Content Key="93130294-4b65-4aaa-9131-0967c4ba1179" Alias="Reusable Pods" Level="2">
  <Info>
    <Parent Key="676eb2e2-982f-4bd0-a491-435eeffdaa48">Global</Parent>
    <Path>/Global/ReusablePods</Path>
    <Trashed>false</Trashed>
    <ContentType>USNReusablePods</ContentType>
    <CreateDate>2023-12-08T16:35:19</CreateDate>
    <NodeName Default="Reusable Pods" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
  </Info>
  <Properties>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
  </Properties>
</Content>