<?xml version="1.0" encoding="utf-8"?>
<Content Key="331d94f2-fac1-4f31-9d3d-77ffae30b75e" Alias="Robots TXT" Level="2">
  <Info>
    <Parent Key="ece839d8-1d32-4504-871c-c9f7253fb91e">Home</Parent>
    <Path>/Home/RobotsTXT</Path>
    <Trashed>false</Trashed>
    <ContentType>USNRobotsTXT</ContentType>
    <CreateDate>2023-12-08T16:35:19</CreateDate>
    <NodeName Default="Robots TXT" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0675fcb8-2744-4c80-8dfe-2389d8d0c705">USNRobotsTXT</Template>
  </Info>
  <Properties>
    <crawlInstructions>
      <Value><![CDATA[User-agent: *
Allow: /]]></Value>
    </crawlInstructions>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
    <instructions>
      <Value><![CDATA[]]></Value>
    </instructions>
    <sitemapXMLLocation>
      <Value><![CDATA[umb://document/16667c92315e42a393d3840f1a7ee885]]></Value>
    </sitemapXMLLocation>
  </Properties>
</Content>