<?xml version="1.0" encoding="utf-8"?>
<Content Key="8268d489-bd5b-4036-b27e-200561790436" Alias="RSS" Level="3">
  <Info>
    <Parent Key="b150e3fc-2c30-49c3-bc31-35e1c5242070">Blog</Parent>
    <Path>/Home/Blog/RSS</Path>
    <Trashed>false</Trashed>
    <ContentType>USNBlogRSS</ContentType>
    <CreateDate>2023-12-08T16:35:16</CreateDate>
    <NodeName Default="RSS">
      <Name Culture="en-us">RSS</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="47cb6768-79b3-4b36-80f0-d67d05ea2189">USNBlogRSS</Template>
  </Info>
  <Properties>
    <blogPostsToReturn>
      <Value><![CDATA[10]]></Value>
    </blogPostsToReturn>
    <disableDelete>
      <Value><![CDATA[1]]></Value>
    </disableDelete>
    <instructions>
      <Value><![CDATA[]]></Value>
    </instructions>
    <rssCopyright>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rssCopyright>
    <rssDescription>
      <Value Culture="en-us"><![CDATA[Welcome to our RSS Feed]]></Value>
    </rssDescription>
    <rssTitle>
      <Value Culture="en-us"><![CDATA[RSS Feed]]></Value>
    </rssTitle>
  </Properties>
</Content>