<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2905037-3eb3-45d8-80ef-6b33851b062a" Alias="SEO" Level="4">
  <Info>
    <Parent Key="9dbe0ef6-9539-430a-8b69-4622b29f56f7">Categories</Parent>
    <Path>/Home/Blog/Categories/SEO</Path>
    <Trashed>false</Trashed>
    <ContentType>USNBlogCategoryPage</ContentType>
    <CreateDate>2023-12-08T16:35:17</CreateDate>
    <NodeName Default="SEO">
      <Name Culture="en-us">SEO</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="9c9731b8-9234-4dce-839f-6f83c5907edb">USNBlogLandingPage</Template>
  </Info>
  <Properties>
    <aboveListing>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveListing>
    <addBackgroundColor>
      <Value><![CDATA[0]]></Value>
    </addBackgroundColor>
    <belowListing>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowListing>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideImage>
      <Value><![CDATA[0]]></Value>
    </hideImage>
    <hidePageTitle>
      <Value><![CDATA[0]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <instructions>
      <Value><![CDATA[]]></Value>
    </instructions>
    <itemBackgroundColor>
      <Value><![CDATA[0]]></Value>
    </itemBackgroundColor>
    <itemHeadingSize>
      <Value><![CDATA[]]></Value>
    </itemHeadingSize>
    <itemSecondaryHeadingSize>
      <Value><![CDATA[]]></Value>
    </itemSecondaryHeadingSize>
    <itemsPerRow4>
      <Value><![CDATA[]]></Value>
    </itemsPerRow4>
    <itemsPerRow8>
      <Value><![CDATA[]]></Value>
    </itemsPerRow8>
    <itemTextAlignment>
      <Value><![CDATA[]]></Value>
    </itemTextAlignment>
    <itemTextPosition>
      <Value><![CDATA[]]></Value>
    </itemTextPosition>
    <listingImageStyle>
      <Value><![CDATA[]]></Value>
    </listingImageStyle>
    <listingIntroduction>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </listingIntroduction>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overlayBackgroundColor>
      <Value><![CDATA[]]></Value>
    </overlayBackgroundColor>
    <overlayTextPosition>
      <Value><![CDATA[]]></Value>
    </overlayTextPosition>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideDefaultListingSettings>
      <Value><![CDATA[0]]></Value>
    </overrideDefaultListingSettings>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutLeft]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pagesToDisplay>
      <Value><![CDATA[]]></Value>
    </pagesToDisplay>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageSummary>
    <removeItemSpacing>
      <Value><![CDATA[0]]></Value>
    </removeItemSpacing>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subpageListingLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subpageListingLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>