<?xml version="1.0" encoding="utf-8"?>
<Content Key="9731bdb0-a847-410d-a5a0-8e298b10fd00" Alias="Sitemap" Level="2">
  <Info>
    <Parent Key="ece839d8-1d32-4504-871c-c9f7253fb91e">Home</Parent>
    <Path>/Home/Sitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:18</CreateDate>
    <NodeName Default="Sitemap">
      <Name Culture="en-us">Sitemap</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[1]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[0]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/05786a8bdf3440f2ba7b322d8c9bca7f",
        "settingsUdi": "umb://element/11af8da063214d0c880cfc4b8991255b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "45099334-5bee-41f2-81f8-a6efb7e1db15",
      "udi": "umb://element/05786a8bdf3440f2ba7b322d8c9bca7f",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "sitemapStartPage": "umb://document/ece839d81d324504871cc9f7253fb91e",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b93a5e1e-38ce-4f1c-849b-3c82226692a7",
      "udi": "umb://element/11af8da063214d0c880cfc4b8991255b",
      "includeProtectedPages": "",
      "hideStartPage": "",
      "backgroundColor": {
        "value": "ffffff",
        "heading": "000000",
        "secondaryheading": "ee5d5d",
        "text": "68676b",
        "border": "e7e7e7",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "animationDuration": "",
      "customClasses": "",
      "hideFromWebsite": ""
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutLeft]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cb4046da721f496baefef988486251f1",
        "settingsUdi": "umb://element/f625d264fec14c92be332c6b09ab15f3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4f8404cc-6da4-43a8-ac0e-a9adfcfbf6fc",
      "udi": "umb://element/cb4046da721f496baefef988486251f1",
      "reusablePodGroups": "umb://document/4364c3f7129d4fa8b41324791125185e"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "16b1b05b-4654-4983-a5ce-33880bba040e",
      "udi": "umb://element/f625d264fec14c92be332c6b09ab15f3",
      "itemName": "Contact Details / Opening Times",
      "hideFromWebsite": ""
    }
  ]
}]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>