<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2bf974f-7b69-4e64-af4f-87dfa80b10a8" Alias="Sitemap" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/Sitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:15</CreateDate>
    <NodeName Default="Sitemap">
      <Name Culture="en-us">Sitemap</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[0]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aaa5f7950b884e76b286ff252055c121",
        "settingsUdi": "umb://element/60fecf6208f046648aa5a4279c7a59fe"
      },
      {
        "contentUdi": "umb://element/84c8a9958fc44b62b1960a46dbe58bef",
        "settingsUdi": "umb://element/fa3c440590074a37b984a4f1cac76c18"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "45099334-5bee-41f2-81f8-a6efb7e1db15",
      "udi": "umb://element/84c8a9958fc44b62b1960a46dbe58bef",
      "displayIntro": "1",
      "introTextAlignment": "textAlignmentLeft",
      "introHeading": {
        "text": "All pages",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "sitemapStartPage": "umb://document/ece839d81d324504871cc9f7253fb91e",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/aaa5f7950b884e76b286ff252055c121",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/97a29a06dc094ba88abcf07c6f8a990b",
              "settingsUdi": "umb://element/814269f8f8ee457db08a72c1c519e3d7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "45099334-5bee-41f2-81f8-a6efb7e1db15",
            "udi": "umb://element/97a29a06dc094ba88abcf07c6f8a990b",
            "displayIntro": "1",
            "introTextAlignment": "",
            "introHeading": {
              "text": "Layouts",
              "headingtag": "h2"
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "sitemapStartPage": "umb://document/c39acc304b964b38a9815d021f213ea4",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f9925cbd-783f-42f4-a2c9-deb304f5e89f",
            "udi": "umb://element/814269f8f8ee457db08a72c1c519e3d7",
            "includeProtectedPages": "0",
            "hideStartPage": "0",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeIn",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2445442097bf44b3aa7e106c08e8e598",
              "settingsUdi": "umb://element/94c8eb9686c14484bec061b6b98a7ab7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "45099334-5bee-41f2-81f8-a6efb7e1db15",
            "udi": "umb://element/2445442097bf44b3aa7e106c08e8e598",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Components",
              "headingtag": "h2"
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "sitemapStartPage": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f9925cbd-783f-42f4-a2c9-deb304f5e89f",
            "udi": "umb://element/94c8eb9686c14484bec061b6b98a7ab7",
            "includeProtectedPages": "0",
            "hideStartPage": "0",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "flipInX",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "animationDuration": "1.2",
            "hideFromWebsite": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b93a5e1e-38ce-4f1c-849b-3c82226692a7",
      "udi": "umb://element/fa3c440590074a37b984a4f1cac76c18",
      "includeProtectedPages": "",
      "hideStartPage": "",
      "backgroundColor": {
        "value": "#e7e7e7",
        "heading": "#000000",
        "secondaryheading": "#ee5d5d",
        "text": "#222222",
        "border": "#c4c4c4",
        "label": "c5",
        "sortOrder": 5,
        "id": 6
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "",
      "animationStyle": "",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "animationDuration": "",
      "customClasses": "",
      "hideFromWebsite": ""
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/60fecf6208f046648aa5a4279c7a59fe",
      "desktopTabletOrder": "desktop_One",
      "mobileOrder": "mobile_One",
      "backgroundColor": {
        "value": "linear-gradient(90deg, #ee5d5d 0%, #df4b4b 100%)",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#ffffff",
        "border": "#ee8282",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/00611b867178497db8dd87de180e1d35]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>