<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fba13c8-b4d6-4c44-88a0-bb79e2350637" Alias="Split Component" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/SplitComponent</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:15</CreateDate>
    <NodeName Default="Split Component">
      <Name Culture="en-us">Split Component</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ad8748d9ec6948ffb30c16d9d8d88eb5",
        "settingsUdi": "umb://element/8e314a2c23e94e73ac072e89f142e711"
      },
      {
        "contentUdi": "umb://element/268fcf4fbcff435fa194614b7f670134",
        "settingsUdi": "umb://element/c015d55516054d9b92102f6382fa94d1"
      },
      {
        "contentUdi": "umb://element/56f9e9c3a8a445aa9efc0a44146a011e",
        "settingsUdi": "umb://element/f7e4824e4660404bb14633f6407e5784"
      },
      {
        "contentUdi": "umb://element/808c9f0f960140d8b54ee40fc2353725",
        "settingsUdi": "umb://element/8d2e1ef20ac3448da845e7f562427b2d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/ad8748d9ec6948ffb30c16d9d8d88eb5",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2a7e34b73c524ad6b48d24aa6b4b8ec4",
              "settingsUdi": "umb://element/57f65b8e1b51429fb5390dcd6e289df2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ee85a65f-4e38-4c41-a5bd-d9912726adcf",
            "udi": "umb://element/2a7e34b73c524ad6b48d24aa6b4b8ec4",
            "heading": {
              "text": "Unlimited possibilities",
              "headingtag": "h1"
            },
            "secondaryHeading": {
              "text": "Split Component",
              "headingtag": "l"
            },
            "text": "<p><span class=\"intro lg\">You can add a Split component anywhere in your uSkinned site.</span></p>",
            "buttons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "13eb5cb1-ad1d-4a18-8b66-f7accd43fdb9",
            "udi": "umb://element/57f65b8e1b51429fb5390dcd6e289df2",
            "textAlignment": "text-left",
            "desktopColumnWidth": "4",
            "tabletColumnWidth": "5",
            "verticalPosition": "align-self-center",
            "animate": "1",
            "animationStyle": "fadeInUp",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "animationDuration": "1.2"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3c40489b7d4f4a12b956129cf993c27b",
              "settingsUdi": "umb://element/fc469a02695d4572868a1ce41908bc7c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "18956f7b-bde5-48be-9752-9adaa9693902",
            "udi": "umb://element/3c40489b7d4f4a12b956129cf993c27b",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "imageVideo": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/438945d6c39c4f9584a64e8cc2a9e9f8",
                    "settingsUdi": "umb://element/72ec4dfadc6645138ac47111246ad225"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "d2630fbb-386b-402f-b83a-58ce146a5e7f",
                  "udi": "umb://element/438945d6c39c4f9584a64e8cc2a9e9f8",
                  "mediaFolder": "umb://media/c7eea8d6473645c5a950bb043200e499",
                  "disableLightWindow": "0"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "7b73a980-9d86-4757-9aaa-adbe6be9ee8a",
                  "udi": "umb://element/72ec4dfadc6645138ac47111246ad225",
                  "includeChildFolders": "",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "bed2f105-7099-4d45-a1c9-a6c6c2c40b5b",
            "udi": "umb://element/fc469a02695d4572868a1ce41908bc7c",
            "itemsPerRow": "items-2",
            "removeItemSpacing": "1",
            "imageStyle": "imageStyleSquare",
            "boxPad": "0",
            "enableCarousel": "0",
            "showArrows": "0",
            "showDots": "0",
            "autoRotateSpeed": "0",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-center",
            "animate": "1",
            "animationStyle": "fadeInRight",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "hideFromWebsite": "0",
            "animationDuration": "1.2",
            "enableRandomOrder": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/268fcf4fbcff435fa194614b7f670134",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/be8b787b0eb44cbc97d7f121b1a743af",
              "settingsUdi": "umb://element/2e21bd69941749ed879405ab3b8d1894"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "9aff4265-df9a-474a-91c4-0e6affc43585",
            "udi": "umb://element/be8b787b0eb44cbc97d7f121b1a743af",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Tabs",
              "headingtag": "h3"
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "accordionTabs": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/90553a1ffa024ad09b6fc425019f27c2",
                    "settingsUdi": "umb://element/2f0554725e054e8fb3a7e1d64b51dc08"
                  },
                  {
                    "contentUdi": "umb://element/8a5ae042b2bd4005a73703fd22ff40a5",
                    "settingsUdi": "umb://element/675e21aa1616415db0c210f2ac255d65"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
                  "udi": "umb://element/90553a1ffa024ad09b6fc425019f27c2",
                  "itemHeading": "Tab",
                  "repeaterText": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>"
                },
                {
                  "contentTypeKey": "8cb67b96-f6cd-4a39-9f76-c7b847542589",
                  "udi": "umb://element/8a5ae042b2bd4005a73703fd22ff40a5",
                  "itemHeading": "Tab",
                  "repeaterText": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
                  "udi": "umb://element/2f0554725e054e8fb3a7e1d64b51dc08",
                  "customClasses": "",
                  "hideFromWebsite": ""
                },
                {
                  "contentTypeKey": "db86bb64-d141-439e-a3e8-424095c78d54",
                  "udi": "umb://element/675e21aa1616415db0c210f2ac255d65",
                  "customClasses": "",
                  "hideFromWebsite": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "c96e4620-a2ee-457a-b806-0df6e7509e69",
            "udi": "umb://element/2e21bd69941749ed879405ab3b8d1894",
            "repeaterStyle": "layoutTabbed",
            "accordionOptions": "",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "6",
            "verticalPosition": "Vertical_TopCenter",
            "animate": "1",
            "animationStyle": "fadeInRight",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "item_sticky",
            "itemName": "",
            "hideFromWebsite": "0",
            "accordionTabStyle": "tab-buttons",
            "animationDuration": "1.2"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/37b3cbeccd3a4513a3fd17d4871e3e40",
              "settingsUdi": "umb://element/72ffb39ebc5e4236814d27dd0f37bd1c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
            "udi": "umb://element/37b3cbeccd3a4513a3fd17d4871e3e40",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Embed code",
              "headingtag": "h3"
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "code": "        <style>\n@media (min-width:0) and (max-width:767px) {\n#map {\nheight:250px\n}\n}\n@media (min-width:768px) {\n#map {\nheight:300px\n}\n}\n@media (min-width:992px) {\n#map {\nheight:400px\n}\n}\n</style>\n<iframe id=\"map\" class=\"c1-bg\" src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.3728173715917!2d-4.24939908376345!3d55.856197780581184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488846a2331418ff%3A0xe77b7339735c816d!2s60+Osborne+St%2C+Glasgow+G1+5QH!5e0!3m2!1sen!2suk!4v1505296554052\" width=\"100%\" height=\"400\" frameborder=\"0\" style=\"border:0\" allowfullscreen></iframe>",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
            "udi": "umb://element/72ffb39ebc5e4236814d27dd0f37bd1c",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "Vertical_CenterCenter",
            "animate": "1",
            "animationStyle": "fadeIn",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "animationDuration": ""
          }
        ]
      }
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/56f9e9c3a8a445aa9efc0a44146a011e",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f7404f9ce32c4389b5d74dfd8c1fea6d",
              "settingsUdi": "umb://element/6ef46045a1044e74b09b76864c65415c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
            "udi": "umb://element/f7404f9ce32c4389b5d74dfd8c1fea6d",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Contact",
              "headingtag": "h3"
            },
            "introSecondaryHeading": {
              "text": "Get in touch",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "formType": "contactForm",
            "hideFields": "0",
            "contactRecipientEmailAddress": "",
            "umbracoForm": "",
            "loginSuccessPage": null,
            "formHeading": {
              "text": "",
              "headingtag": ""
            },
            "formSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "formIntroduction": "",
            "formButtonText": "Send message",
            "formSubmissionMessage": "<p>Thanks! :-)</p>",
            "formSubscriberListID": "",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": "",
            "loginFormPage": null,
            "resetPasswordRequestPage": null,
            "resetPasswordPage": null,
            "resetPasswordEmail": "",
            "setEmailAddressAsUsername": "0",
            "adminApprovalRequired": "0",
            "emailConfirmationRequired": "0",
            "memberConfirmationEmail": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "3c2db3e6-bda4-447e-b9a3-196c1f6f8e1b",
            "udi": "umb://element/6ef46045a1044e74b09b76864c65415c",
            "formContainerBackgroundColor": {
              "value": "linear-gradient(90deg, #ffffff 0%, #cccccc 100%)",
              "heading": "#000000",
              "secondaryheading": "000000",
              "text": "#000000",
              "border": "#000000",
              "label": "base",
              "sortOrder": 0,
              "id": 1
            },
            "formButtonColor": {
              "value": "linear-gradient(90deg, #cccccc 0%, #ffffff 100%)",
              "text": "#000000",
              "border": "#000000",
              "label": "base",
              "sortOrder": 0,
              "id": 1
            },
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-start",
            "animate": "1",
            "animationStyle": "fadeIn",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "animationDuration": "1.2"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e9de7937385845998811fb2ada607462",
              "settingsUdi": "umb://element/25fb1e3c8f5a47ef9229a193940833a5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "080c227a-59a2-40fd-ad68-aaf356ac3a8a",
            "udi": "umb://element/e9de7937385845998811fb2ada607462",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Subpages",
              "headingtag": "h3"
            },
            "introSecondaryHeading": {
              "text": "Hidden images",
              "headingtag": "m"
            },
            "introText": "",
            "introButtons": "",
            "linkToListing": [
              {
                "color": {},
                "icon": "",
                "size": "m",
                "link": [
                  {
                    "name": "Layouts",
                    "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
                    "url": "/layouts/",
                    "icon": "icon-layout color-black",
                    "published": true,
                    "trashed": false
                  }
                ]
              }
            ],
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "db0f30d2-29ae-48d8-8ea3-4dce3df4c4f3",
            "udi": "umb://element/25fb1e3c8f5a47ef9229a193940833a5",
            "itemTextPosition": "item_text-below",
            "overlayBackgroundColor": {
              "value": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ee5d5d",
              "text": "#dbdbdb",
              "border": "#2d2d2d",
              "label": "c3",
              "sortOrder": 3,
              "id": 4
            },
            "itemsPerRow8": "items-1",
            "itemsPerRow4": "",
            "itemHeadingSize": "md",
            "itemTextAlignment": "textAlignmentLeft",
            "removeItemSpacing": "",
            "hideImage": "1",
            "imageStyle": "imageStylePortrait",
            "boxPad": "",
            "pagesToDisplay": "",
            "enableCarousel": "",
            "showArrows": "1",
            "showDots": "",
            "autoRotateSpeed": "0",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "6",
            "verticalPosition": "Vertical_TopCenter",
            "animate": "1",
            "animationStyle": "jackInTheBox",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "overlayTextPosition": "",
            "tabStyle": "tab-buttons",
            "animationDuration": "1.2"
          }
        ]
      }
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/808c9f0f960140d8b54ee40fc2353725",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e4704d7b2687476db395b277a4e37c24",
              "settingsUdi": "umb://element/2aa7c88503354b5e9444f342ef3e944c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "080c227a-59a2-40fd-ad68-aaf356ac3a8a",
            "udi": "umb://element/e4704d7b2687476db395b277a4e37c24",
            "displayIntro": "1",
            "introTextAlignment": "textAlignmentLeft",
            "introHeading": {
              "text": "Subpage tabs",
              "headingtag": "h3"
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "linkToListing": [
              {
                "color": {},
                "icon": "",
                "size": "m",
                "link": [
                  {
                    "name": "Components",
                    "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
                    "url": "/components/",
                    "icon": "icon-layout color-black",
                    "published": true,
                    "trashed": false
                  }
                ]
              },
              {
                "color": {},
                "icon": "",
                "size": "m",
                "link": [
                  {
                    "name": "Layouts",
                    "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
                    "url": "/layouts/",
                    "icon": "icon-layout color-black",
                    "published": true,
                    "trashed": false
                  }
                ]
              }
            ],
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "db0f30d2-29ae-48d8-8ea3-4dce3df4c4f3",
            "udi": "umb://element/2aa7c88503354b5e9444f342ef3e944c",
            "itemTextPosition": "item_text-boxed item_overlay",
            "overlayBackgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": 1,
              "id": 2
            },
            "itemsPerRow8": "items-2",
            "itemsPerRow4": "",
            "itemHeadingSize": "sm",
            "itemTextAlignment": "textAlignmentLeft",
            "removeItemSpacing": "1",
            "hideImage": "",
            "imageStyle": "imageStylePortrait",
            "boxPad": "",
            "pagesToDisplay": "",
            "enableCarousel": "1",
            "showArrows": "1",
            "showDots": "",
            "autoRotateSpeed": "0",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "Vertical_TopCenter",
            "animate": "1",
            "animationStyle": "fadeIn",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "overlayTextPosition": "Vertical_BottomCenter",
            "tabStyle": "tab-buttons",
            "animationDuration": "1.2",
            "hideFromWebsite": ""
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/11b18074a184449e8483d8d4f7c43c99",
              "settingsUdi": "umb://element/34a8e3cade1c47f397bda3cf6753783c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ee85a65f-4e38-4c41-a5bd-d9912726adcf",
            "udi": "umb://element/11b18074a184449e8483d8d4f7c43c99",
            "heading": {
              "text": "",
              "headingtag": ""
            },
            "secondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "text": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>",
            "buttons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "13eb5cb1-ad1d-4a18-8b66-f7accd43fdb9",
            "udi": "umb://element/34a8e3cade1c47f397bda3cf6753783c",
            "itemName": "",
            "textAlignment": "text-center",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-center",
            "animate": "0",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/8e314a2c23e94e73ac072e89f142e711",
      "desktopTabletOrder": "desktop_One",
      "mobileOrder": "mobile_One",
      "backgroundColor": {
        "value": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "ee5d5d",
        "text": "#68676b",
        "border": "#e7e7e7",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Text / Gallery",
      "customClasses": "",
      "hideFromWebsite": "0"
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/c015d55516054d9b92102f6382fa94d1",
      "desktopTabletOrder": "desktop_Two",
      "mobileOrder": "mobile_Two",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Map / Tabs",
      "customClasses": "",
      "hideFromWebsite": ""
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/f7e4824e4660404bb14633f6407e5784",
      "desktopTabletOrder": "desktop_Two",
      "mobileOrder": "mobile_Two",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Listing / Form",
      "customClasses": "",
      "hideFromWebsite": ""
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/8d2e1ef20ac3448da845e7f562427b2d",
      "desktopTabletOrder": "",
      "mobileOrder": "",
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Listing / Text",
      "customClasses": "",
      "hideFromWebsite": ""
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/fce45c91b78d422ea5cc3bf2c45ff85a]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>