<?xml version="1.0" encoding="utf-8"?>
<Content Key="81f607fd-d27b-4b67-b673-51c282b087a1" Alias="Subpage Listing" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/SubpageListing</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:15</CreateDate>
    <NodeName Default="Subpage Listing">
      <Name Culture="en-us">Subpage Listing</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/62336d61f17c4c2fb2df23e535d256c7",
        "settingsUdi": "umb://element/86d2e8dd319f4679bdf994ca85a83142"
      },
      {
        "contentUdi": "umb://element/1172ee3f8304422e9eda4a2cdfa5fe2e",
        "settingsUdi": "umb://element/15949950e14b42bfb86a8c522e4634de"
      },
      {
        "contentUdi": "umb://element/e388923a36a8466987849d27f676b549",
        "settingsUdi": "umb://element/8b311ff81c6d4344b5b531cdef86b3fc"
      },
      {
        "contentUdi": "umb://element/b60890263a6d466594366900bf5579d7",
        "settingsUdi": "umb://element/6f0dc6437a474809a93629017b8cdcad"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "080c227a-59a2-40fd-ad68-aaf356ac3a8a",
      "udi": "umb://element/1172ee3f8304422e9eda4a2cdfa5fe2e",
      "displayIntro": "1",
      "introTextAlignment": "justify-content-start text-left",
      "introHeading": {
        "text": "Tabbed with carousel",
        "headingtag": "h2"
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "linkToListing": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Layouts",
              "udi": "umb://document/c39acc304b964b38a9815d021f213ea4",
              "url": "/layouts/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Components",
              "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
              "url": "/components/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        }
      ],
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "080c227a-59a2-40fd-ad68-aaf356ac3a8a",
      "udi": "umb://element/e388923a36a8466987849d27f676b549",
      "displayIntro": "1",
      "introTextAlignment": "textAlignmentCenter",
      "introHeading": {
        "text": "No tabs (Random order)",
        "headingtag": "h3"
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "<p><span class=\"intro\">Spacing removed from items.</span></p>",
      "introButtons": "",
      "linkToListing": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Components",
              "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
              "url": "/components/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        }
      ],
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "774318b9-8e4b-47db-839b-56205a6e84e0",
      "udi": "umb://element/62336d61f17c4c2fb2df23e535d256c7",
      "heading": {
        "text": "Subpage listing",
        "headingtag": "h1"
      },
      "secondaryHeading": {
        "text": "Unlimited possibilities",
        "headingtag": "l"
      },
      "text": "",
      "buttons": ""
    },
    {
      "contentTypeKey": "080c227a-59a2-40fd-ad68-aaf356ac3a8a",
      "udi": "umb://element/b60890263a6d466594366900bf5579d7",
      "displayIntro": "1",
      "introTextAlignment": "textAlignmentCenter",
      "introHeading": {
        "text": "Latest Blog Articles",
        "headingtag": "h3"
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "linkToListing": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Blog",
              "udi": "umb://document/b150e3fc2c3049c3bc3135e1c5242070",
              "url": "/blog/",
              "icon": "icon-newspaper color-black",
              "published": true,
              "trashed": false
            }
          ]
        }
      ],
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "339192e8-0638-4e12-b6ea-81792e36ce7d",
      "udi": "umb://element/15949950e14b42bfb86a8c522e4634de",
      "itemTextPosition": "item_text-below",
      "overlayBackgroundColor": "",
      "itemsPerRow8": "items-4",
      "itemsPerRow4": "",
      "itemHeadingSize": "sm",
      "itemTextAlignment": "textAlignmentLeft",
      "removeItemSpacing": "",
      "hideImage": "",
      "imageStyle": "imageStyleLandscape",
      "boxPad": "",
      "pagesToDisplay": "",
      "enableCarousel": "1",
      "showArrows": "1",
      "showDots": "",
      "autoRotateSpeed": "0",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "tada",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "overlayTextPosition": "",
      "tabStyle": "tab-buttons",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": "",
      "enableRandomOrder": "",
      "addBackgroundColor": "1",
      "itemBackgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      }
    },
    {
      "contentTypeKey": "339192e8-0638-4e12-b6ea-81792e36ce7d",
      "udi": "umb://element/8b311ff81c6d4344b5b531cdef86b3fc",
      "itemTextPosition": "item_text-boxed item_overlay",
      "overlayBackgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "itemsPerRow8": "items-3",
      "itemsPerRow4": "",
      "itemHeadingSize": "sm",
      "itemTextAlignment": "textAlignmentCenter",
      "removeItemSpacing": "1",
      "hideImage": "0",
      "imageStyle": "imageStyleLandscape",
      "boxPad": "0",
      "pagesToDisplay": "",
      "enableCarousel": "0",
      "showArrows": "0",
      "showDots": "0",
      "autoRotateSpeed": "0",
      "backgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeInUp",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Subpage Listing (Random order)",
      "overlayTextPosition": "Vertical_CenterCenter",
      "tabStyle": "tab-basic",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": "0",
      "enableRandomOrder": "1",
      "addBackgroundColor": "1",
      "itemBackgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "itemSecondaryHeadingSize": ""
    },
    {
      "contentTypeKey": "d247b7e6-3122-4fd3-8994-96aadc5f726c",
      "udi": "umb://element/86d2e8dd319f4679bdf994ca85a83142",
      "textAlignment": "text-left",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeInDown",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": ""
    },
    {
      "contentTypeKey": "339192e8-0638-4e12-b6ea-81792e36ce7d",
      "udi": "umb://element/6f0dc6437a474809a93629017b8cdcad",
      "itemTextPosition": "item_text-below",
      "overlayBackgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "itemsPerRow8": "items-2",
      "itemsPerRow4": "",
      "itemHeadingSize": "sm",
      "itemTextAlignment": "textAlignmentCenter",
      "removeItemSpacing": "0",
      "hideImage": "0",
      "imageStyle": "image4by3",
      "boxPad": "0",
      "pagesToDisplay": "2",
      "enableCarousel": "0",
      "showArrows": "0",
      "showDots": "0",
      "autoRotateSpeed": "0",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeInUp",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "Latest Blog Articles",
      "overlayTextPosition": "Vertical_CenterCenter",
      "tabStyle": "tab-basic",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": "0",
      "enableRandomOrder": "0",
      "addBackgroundColor": "1",
      "itemBackgroundColor": "",
      "itemSecondaryHeadingSize": ""
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>