<?xml version="1.0" encoding="utf-8"?>
<Content Key="905896aa-bcd8-4139-991b-6ee2aef56fb9" Alias="Text" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/Text</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:16</CreateDate>
    <NodeName Default="Text">
      <Name Culture="en-us">Text</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7221a7b1e88c4b918a6142b1d935eea2",
        "settingsUdi": "umb://element/a2f281ac0851413886f612d45a586197"
      },
      {
        "contentUdi": "umb://element/dc7dc3c5c99640a9888a554102cb53ec",
        "settingsUdi": "umb://element/b222df5bceea46779cd1241e83c32bea"
      },
      {
        "contentUdi": "umb://element/5ec451153dd44e3f89ae67822caefe5c",
        "settingsUdi": "umb://element/cc61f447fc2b424396c60d8b804a4456"
      },
      {
        "contentUdi": "umb://element/0dbe392b7d6a4e4e843cf535e386aff9",
        "settingsUdi": "umb://element/96905ff06cfa49369ec8ddcc1faf3345"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "774318b9-8e4b-47db-839b-56205a6e84e0",
      "udi": "umb://element/7221a7b1e88c4b918a6142b1d935eea2",
      "heading": {
        "text": "Text component",
        "headingtag": "h1"
      },
      "secondaryHeading": {
        "text": "Unlimited possibilites",
        "headingtag": "l"
      },
      "text": "<p><span class=\"intro\">Add text anywhere on your site...</span></p>",
      "buttons": ""
    },
    {
      "contentTypeKey": "1e1ac9a3-e614-436b-8363-93dd57d5e954",
      "udi": "umb://element/dc7dc3c5c99640a9888a554102cb53ec",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "text": "<h2>Heading 2</h2>\n<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>\n<h3>Heading 3</h3>\n<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>\n<h4>Heading 4</h4>\n<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/5ec451153dd44e3f89ae67822caefe5c",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/326115ca1f8045d5bf716e62fa8cb717",
              "settingsUdi": "umb://element/66167e31365e423c8acae6b3638886e2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ee85a65f-4e38-4c41-a5bd-d9912726adcf",
            "udi": "umb://element/326115ca1f8045d5bf716e62fa8cb717",
            "heading": {
              "text": "Add text anywhere",
              "headingtag": "h3"
            },
            "secondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "text": "<p><span class=\"intro\">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </span></p>\n<p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>",
            "buttons": [
              {
                "color": {
                  "value": "#ee5d5d",
                  "text": "#ffffff",
                  "border": "#ee5d5d",
                  "label": "base-btn",
                  "sortOrder": 0,
                  "id": 1
                },
                "icon": "",
                "size": "m",
                "link": [
                  {
                    "name": "See all",
                    "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
                    "url": "/components/",
                    "icon": "icon-layout color-black",
                    "published": true,
                    "trashed": false
                  }
                ]
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "13eb5cb1-ad1d-4a18-8b66-f7accd43fdb9",
            "udi": "umb://element/66167e31365e423c8acae6b3638886e2",
            "textAlignment": "textAlignmentLeft",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-center",
            "animate": "1",
            "animationStyle": "slideInUp",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "animationDuration": "1.2",
            "hideFromWebsite": ""
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/76fe2aad092746ee9f9a4f80f3b0c189",
              "settingsUdi": "umb://element/d07b820cba2f4857b715fef33bb05d07"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "18956f7b-bde5-48be-9752-9adaa9693902",
            "udi": "umb://element/76fe2aad092746ee9f9a4f80f3b0c189",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "imageVideo": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/414f78cb19dd461b80c710b41b87ba74",
                    "settingsUdi": "umb://element/8a92284eefff4724af0a9fcfe9c0a4d3"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "dcd27b80-7ff6-4a84-b98c-bc7cf3681c41",
                  "udi": "umb://element/414f78cb19dd461b80c710b41b87ba74",
                  "videoSource": "youtube",
                  "videoMP4": null,
                  "video3rdParty": "https://www.youtube.com/watch?list=PLGiOM7xtax_6Ev0i6p6GvYB2tMmVMTCP5&v=TvHw5DOREiI&feature=emb_title",
                  "galleryImageThumbnail": "umb://media/f01d58c6b52841a0962d38fbc294579d",
                  "videoCaption": "",
                  "disableLightWindow": "0",
                  "lightWindowTitle": "",
                  "lightWindowFooter": ""
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "a3b6d3d9-63ea-41d7-b439-b69ec4975e13",
                  "udi": "umb://element/8a92284eefff4724af0a9fcfe9c0a4d3",
                  "itemName": "",
                  "customClasses": "",
                  "hideFromWebsite": "0"
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "bed2f105-7099-4d45-a1c9-a6c6c2c40b5b",
            "udi": "umb://element/d07b820cba2f4857b715fef33bb05d07",
            "itemName": "",
            "itemsPerRow": "items-1",
            "removeItemSpacing": "",
            "imageStyle": "imageStyleLandscape",
            "boxPad": "",
            "enableCarousel": "",
            "showArrows": "",
            "showDots": "",
            "autoRotateSpeed": "0",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-center",
            "animate": "",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "hideFromWebsite": ""
          }
        ]
      }
    },
    {
      "contentTypeKey": "1e1ac9a3-e614-436b-8363-93dd57d5e954",
      "udi": "umb://element/0dbe392b7d6a4e4e843cf535e386aff9",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "text": "<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>\n<p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>\n<h3>Heading 3</h3>\n<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>",
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d247b7e6-3122-4fd3-8994-96aadc5f726c",
      "udi": "umb://element/a2f281ac0851413886f612d45a586197",
      "textAlignment": "text-left",
      "backgroundColor": {
        "value": "#d8d8d8",
        "firstBgColor": "#d8d8d8",
        "heading": "#000000",
        "secondaryheading": "#000000",
        "text": "#000000",
        "border": "#000000",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "fadeInDown",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": "0"
    },
    {
      "contentTypeKey": "41b8fd88-026c-4449-806b-6e1ace478700",
      "udi": "umb://element/b222df5bceea46779cd1241e83c32bea",
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "1",
      "animationStyle": "fadeIn",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": ""
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/cc61f447fc2b424396c60d8b804a4456",
      "desktopTabletOrder": "desktop_One",
      "mobileOrder": "mobile_One",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": ""
    },
    {
      "contentTypeKey": "41b8fd88-026c-4449-806b-6e1ace478700",
      "udi": "umb://element/96905ff06cfa49369ec8ddcc1faf3345",
      "backgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#000000",
        "secondaryheading": "000000",
        "text": "#000000",
        "border": "#000000",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": "",
        "style": ""
      },
      "componentWidth": "componentWidthCenter",
      "animate": "1",
      "animationStyle": "tada",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "animationDuration": "1.2",
      "customClasses": "",
      "hideFromWebsite": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[pageLayoutFull]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/00611b867178497db8dd87de180e1d35]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>