<?xml version="1.0" encoding="utf-8"?>
<Content Key="b546eb2b-bc86-44b5-a1d8-fd1f0e0d2dbe" Alias="uSkinned" Level="4">
  <Info>
    <Parent Key="be45b372-f034-44ba-96c8-065e64e85dfd">Authors</Parent>
    <Path>/Home/Blog/Authors/uSkinned</Path>
    <Trashed>false</Trashed>
    <ContentType>USNBlogAuthor</ContentType>
    <CreateDate>2023-12-08T16:35:17</CreateDate>
    <NodeName Default="uSkinned">
      <Name Culture="en-us">uSkinned</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="24fa36af-8083-45c8-a7fe-3c49df2aab46">USNParentRedirect</Template>
  </Info>
  <Properties>
    <authorBio>
      <Value Culture="en-us"><![CDATA[<p>uSkinned, the world’s number one provider of Umbraco CMS themes and starter kits.</p>]]></Value>
    </authorBio>
    <authorImage>
      <Value><![CDATA[umb://media/445a4ab3f76c462584411b8b243e1899]]></Value>
    </authorImage>
    <authorPage>
      <Value Culture="en-us"><![CDATA[[
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "uSkinned",
        "target": "_blank",
        "url": "https://uskinned.net",
        "icon": "icon-link",
        "published": true
      }
    ]
  }
]]]></Value>
    </authorPage>
    <boxPad>
      <Value><![CDATA[0]]></Value>
    </boxPad>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <imageStyle>
      <Value><![CDATA[image1by1Circle]]></Value>
    </imageStyle>
    <instructions>
      <Value><![CDATA[]]></Value>
    </instructions>
    <socialLinks>
      <Value Culture="en-us"><![CDATA[[
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Facebook",
        "target": "_blank",
        "url": "https://www.facebook.com/uskinned",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Facebook",
      "id": 1507,
      "udi": "umb://media/df7335f4b56641409d72d4a67b6d63ed",
      "icon": "icon-picture",
      "trashed": false,
      "key": "df7335f4-b566-4140-9d72-d4a67b6d63ed",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1507",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/4i0hhx1g/facebook.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2F4i0hhx1g%2Ffacebook.png&rnd=0.5730430488902525",
      "image": "/media/4i0hhx1g/facebook.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/df7335f4b56641409d72d4a67b6d63ed"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Twitter",
        "target": "_blank",
        "url": "https://twitter.com/uskinned",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Twitter",
      "id": 1503,
      "udi": "umb://media/bfa26aa6e1b840b1867ab1bf4f289f55",
      "icon": "icon-picture",
      "trashed": false,
      "key": "bfa26aa6-e1b8-40b1-867a-b1bf4f289f55",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1503",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/ubvkfp3y/twitter.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fubvkfp3y%2Ftwitter.png&rnd=0.9370493554972668",
      "image": "/media/ubvkfp3y/twitter.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/bfa26aa6e1b840b1867ab1bf4f289f55"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Instagram",
        "target": "_blank",
        "url": "https://www.instagram.com/uskinned/",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Instagram",
      "id": 1496,
      "udi": "umb://media/976dd5bf0cac4ca98caf199fcee5b5d3",
      "icon": "icon-picture",
      "trashed": false,
      "key": "976dd5bf-0cac-4ca9-8caf-199fcee5b5d3",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1496",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/xhkh1f3m/instagram.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fxhkh1f3m%2Finstagram.png&rnd=0.16655479849857802",
      "image": "/media/xhkh1f3m/instagram.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/976dd5bf0cac4ca98caf199fcee5b5d3"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "LinkedIn",
        "target": "_blank",
        "url": "https://www.linkedin.com/company/uskinned",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Linkedin",
      "id": 1497,
      "udi": "umb://media/14e1bd20e658418d8839852864b77230",
      "icon": "icon-picture",
      "trashed": false,
      "key": "14e1bd20-e658-418d-8839-852864b77230",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1497",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/e04pcfcy/linkedin.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fe04pcfcy%2Flinkedin.png&rnd=0.2682809934489039",
      "image": "/media/e04pcfcy/linkedin.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/14e1bd20e658418d8839852864b77230"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Pinterest",
        "target": "_blank",
        "url": "http://www.pinterest.com/uskinned/",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Pinterest",
      "id": 1498,
      "udi": "umb://media/55b4ab91038643c1ba840ea3caac75e0",
      "icon": "icon-picture",
      "trashed": false,
      "key": "55b4ab91-0386-43c1-ba84-0ea3caac75e0",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1498",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/s4vlivmg/pinterest.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fs4vlivmg%2Fpinterest.png&rnd=0.43741099909853154",
      "image": "/media/s4vlivmg/pinterest.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/55b4ab91038643c1ba840ea3caac75e0"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Flickr",
        "target": "_blank",
        "url": "https://www.flickr.com/",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Flickr",
      "id": 1495,
      "udi": "umb://media/979de7e7f6ac40aa9697657a34073628",
      "icon": "icon-picture",
      "trashed": false,
      "key": "979de7e7-f6ac-40aa-9697-657a34073628",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1495",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/2htj1f3m/flickr.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2F2htj1f3m%2Fflickr.png&rnd=0.7370876557810946",
      "image": "/media/2htj1f3m/flickr.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/979de7e7f6ac40aa9697657a34073628"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Tumblr",
        "target": "_blank",
        "url": "https://www.tumblr.com/",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Tumblr",
      "id": 1502,
      "udi": "umb://media/856cfb10ab8842509278c016211c3817",
      "icon": "icon-picture",
      "trashed": false,
      "key": "856cfb10-ab88-4250-9278-c016211c3817",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1502",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/c13hzbmi/tumblr.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fc13hzbmi%2Ftumblr.png&rnd=0.8210529628126808",
      "image": "/media/c13hzbmi/tumblr.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/856cfb10ab8842509278c016211c3817"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Vimeo",
        "target": "_blank",
        "url": "https://vimeo.com/",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Vimeo",
      "id": 1504,
      "udi": "umb://media/202f955363c5434b89ac89f011d118e4",
      "icon": "icon-picture",
      "trashed": false,
      "key": "202f9553-63c5-434b-89ac-89f011d118e4",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1504",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/kwkd4igf/vimeo.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fkwkd4igf%2Fvimeo.png&rnd=0.2910978109606259",
      "image": "/media/kwkd4igf/vimeo.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/202f955363c5434b89ac89f011d118e4"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "YouTube",
        "target": "_blank",
        "url": "https://www.youtube.com/channel/UCpo8gpDYUM6nSeaVgDnXWGg",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Youtube",
      "id": 1505,
      "udi": "umb://media/a2e499ca557f4ee696c1c12b16b7381e",
      "icon": "icon-picture",
      "trashed": false,
      "key": "a2e499ca-557f-4ee6-96c1-c12b16b7381e",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1505",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/zsmpjit5/youtube.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fzsmpjit5%2Fyoutube.png&rnd=0.6211667462164454",
      "image": "/media/zsmpjit5/youtube.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/a2e499ca557f4ee696c1c12b16b7381e"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Behance",
        "target": "_blank",
        "url": "https://www.behance.net/",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Behance",
      "id": 1506,
      "udi": "umb://media/1a662420cf804b4497ebbd370f52634f",
      "icon": "icon-picture",
      "trashed": false,
      "key": "1a662420-cf80-4b44-97eb-bd370f52634f",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1506",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/eysgmgua/behance.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Feysgmgua%2Fbehance.png&rnd=0.5451856600915708",
      "image": "/media/eysgmgua/behance.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/1a662420cf804b4497ebbd370f52634f"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "Soundcloud",
        "target": "_blank",
        "url": "https://soundcloud.com/",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Soundcloud",
      "id": 1500,
      "udi": "umb://media/8c2e36f7c63044df83722b748b75124c",
      "icon": "icon-picture",
      "trashed": false,
      "key": "8c2e36f7-c630-44df-8372-2b748b75124c",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1500",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/4e1c3dbq/soundcloud.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2F4e1c3dbq%2Fsoundcloud.png&rnd=0.09081704083608444",
      "image": "/media/4e1c3dbq/soundcloud.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/8c2e36f7c63044df83722b748b75124c"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "TripAdvisor",
        "target": "_blank",
        "url": "https://www.tripadvisor.co.uk/",
        "icon": "icon-link",
        "published": true
      }
    ],
    "media": {
      "name": "Tripadvisor",
      "id": 1501,
      "udi": "umb://media/66ffcd46368d46ce861a4014ca061953",
      "icon": "icon-picture",
      "trashed": false,
      "key": "66ffcd46-368d-46ce-861a-4014ca061953",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1501",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/idgp4zun/tripadvisor.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fidgp4zun%2Ftripadvisor.png&rnd=0.2437412524698026",
      "image": "/media/idgp4zun/tripadvisor.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/66ffcd46368d46ce861a4014ca061953"
  },
  {
    "color": {},
    "icon": "",
    "link": [
      {
        "name": "RSS",
        "udi": "umb://document/8268d489bd5b4036b27e200561790436",
        "url": "/blog/rss/",
        "icon": "icon-rss color-green",
        "published": true,
        "trashed": false
      }
    ],
    "media": {
      "name": "Rss",
      "id": 1499,
      "udi": "umb://media/8d92da9140a34cd7a79e09f1e98846c5",
      "icon": "icon-picture",
      "trashed": false,
      "key": "8d92da91-40a3-4cd7-a79e-09f1e98846c5",
      "parentId": 1494,
      "alias": null,
      "path": "-1,1130,1494,1499",
      "metaData": {
        "ContentTypeAlias": "Image",
        "MediaPath": "/media/s5njfdnd/rss.png",
        "IsContainer": false
      },
      "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fs5njfdnd%2Frss.png&rnd=0.21944249127015691",
      "image": "/media/s5njfdnd/rss.png",
      "isFolder": false,
      "width": "150",
      "height": 150,
      "aspectRatio": 1,
      "selectable": true,
      "flexStyle": {
        "flex": "1 1 150px",
        "max-width": "150px",
        "min-width": "100px",
        "min-height": "100px"
      },
      "selected": true
    },
    "mediaId": "umb://media/8d92da9140a34cd7a79e09f1e98846c5"
  }
]]]></Value>
    </socialLinks>
  </Properties>
</Content>