<?xml version="1.0" encoding="utf-8"?>
<Content Key="06715fae-c94a-46b4-a68f-8d4ac5272885" Alias="Windows" Level="3">
  <Info>
    <Parent Key="fa7cbd74-303b-49cd-b09e-24b74efbed75">Components</Parent>
    <Path>/Home/Components/Windows</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2023-12-08T16:35:16</CreateDate>
    <NodeName Default="Windows">
      <Name Culture="en-us">Windows</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/685e1bb00f434d5295b2fb5b4299aa3c",
        "settingsUdi": "umb://element/81081df9e3b14d0db680638238328478"
      },
      {
        "contentUdi": "umb://element/707696d617844b6c9d7a85af3382e0fb",
        "settingsUdi": "umb://element/19594a6a2fa047c59b209c33dd136f1d"
      },
      {
        "contentUdi": "umb://element/70d37e562c7b47a1a2f9e97400a210fb",
        "settingsUdi": "umb://element/ebe4c332053241e283977610b4aa915c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/685e1bb00f434d5295b2fb5b4299aa3c",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0669e8ce772549639639350777c708ca",
              "settingsUdi": "umb://element/a802282fe8d643ed974ef2c4226059b2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2281980d-97f4-4999-acb6-c1ba50aef3a6",
            "udi": "umb://element/0669e8ce772549639639350777c708ca",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "windows": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/0b62fc48d47749288f8458ceaf30fae0",
                    "settingsUdi": "umb://element/5b0ea00b0711439bbc68f332b2930734"
                  },
                  {
                    "contentUdi": "umb://element/f32268b62e484640931ec2584ec07e39",
                    "settingsUdi": "umb://element/d2d60acfb7184d92881448f0db7bf376"
                  },
                  {
                    "contentUdi": "umb://element/2bfc7286efc341d7a169dd0053e8690d",
                    "settingsUdi": "umb://element/64a9577938f84517be2a5530074e8b8b"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
                  "udi": "umb://element/0b62fc48d47749288f8458ceaf30fae0",
                  "image": "umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8",
                  "heading": {
                    "text": "",
                    "headingtag": ""
                  },
                  "secondaryHeading": {
                    "text": "",
                    "headingtag": ""
                  },
                  "text": "",
                  "buttons": ""
                },
                {
                  "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
                  "udi": "umb://element/f32268b62e484640931ec2584ec07e39",
                  "image": "umb://media/00611b867178497db8dd87de180e1d35",
                  "heading": {
                    "text": "",
                    "headingtag": ""
                  },
                  "secondaryHeading": {
                    "text": "",
                    "headingtag": ""
                  },
                  "text": "",
                  "buttons": ""
                },
                {
                  "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
                  "udi": "umb://element/2bfc7286efc341d7a169dd0053e8690d",
                  "image": "umb://media/fce45c91b78d422ea5cc3bf2c45ff85a",
                  "heading": {
                    "text": "",
                    "headingtag": ""
                  },
                  "secondaryHeading": {
                    "text": "",
                    "headingtag": ""
                  },
                  "text": "",
                  "buttons": ""
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
                  "udi": "umb://element/5b0ea00b0711439bbc68f332b2930734",
                  "backgroundColor": {
                    "value": "#000000",
                    "firstBgColor": "#000000",
                    "heading": "#ffffff",
                    "secondaryheading": "#ffffff",
                    "text": "#eeeeee",
                    "border": "#ffffff",
                    "label": "c1",
                    "sortOrder": 1,
                    "id": 2
                  },
                  "addColorOverlay": "",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": "",
                  "textAlignment": "",
                  "textPosition": ""
                },
                {
                  "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
                  "udi": "umb://element/d2d60acfb7184d92881448f0db7bf376",
                  "backgroundColor": {
                    "value": "linear-gradient(90deg, #653434 0%, #cccccc 100%)",
                    "heading": "#000000",
                    "secondaryheading": "#000000",
                    "text": "#000000",
                    "border": "#000000",
                    "label": "c1",
                    "sortOrder": 1,
                    "id": 2
                  },
                  "addColorOverlay": "",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": "",
                  "textAlignment": "",
                  "textPosition": ""
                },
                {
                  "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
                  "udi": "umb://element/64a9577938f84517be2a5530074e8b8b",
                  "backgroundColor": {
                    "value": "#e7e7e7",
                    "firstBgColor": "#e7e7e7",
                    "heading": "#000000",
                    "secondaryheading": "#ee5d5d",
                    "text": "#222222",
                    "border": "#c4c4c4",
                    "label": "c5",
                    "sortOrder": 5,
                    "id": 6
                  },
                  "addColorOverlay": "",
                  "customClasses": "",
                  "itemName": "",
                  "hideFromWebsite": "",
                  "textAlignment": "",
                  "textPosition": ""
                }
              ]
            },
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "febcf6b2-bf41-44b3-836b-62b44862648d",
            "udi": "umb://element/a802282fe8d643ed974ef2c4226059b2",
            "imageOrder": "WindowsOrder_3_Big",
            "removeItemSpacing": "1",
            "desktopColumnWidth": "7",
            "tabletColumnWidth": "6",
            "verticalPosition": "align-self-center",
            "animate": "1",
            "animationStyle": "fadeInUp",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "Windows (Random order)",
            "hideFromWebsite": "0",
            "animationDuration": "1.2",
            "enableRandomOrder": "1"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f0a32f8069fb4f1aae992381d1dee481",
              "settingsUdi": "umb://element/c85ff2614eca4ce19987329edcdada50"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ee85a65f-4e38-4c41-a5bd-d9912726adcf",
            "udi": "umb://element/f0a32f8069fb4f1aae992381d1dee481",
            "heading": {
              "text": "Windows",
              "headingtag": "h1"
            },
            "secondaryHeading": {
              "text": "Unlimited possibilites",
              "headingtag": "l"
            },
            "text": "<p><span class=\"intro\">You can add Windows to anywhere in your uSkinned site. These can include links, images, blocks of color, blocks of text or videos... the list goes on.</span></p>",
            "buttons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "13eb5cb1-ad1d-4a18-8b66-f7accd43fdb9",
            "udi": "umb://element/c85ff2614eca4ce19987329edcdada50",
            "textAlignment": "text-left",
            "desktopColumnWidth": "4",
            "tabletColumnWidth": "5",
            "verticalPosition": "align-self-center",
            "animate": "1",
            "animationStyle": "fadeInUp",
            "animationDelay": "0",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "animationDuration": "1.2"
          }
        ]
      }
    },
    {
      "contentTypeKey": "2281980d-97f4-4999-acb6-c1ba50aef3a6",
      "udi": "umb://element/707696d617844b6c9d7a85af3382e0fb",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "windows": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/864c4135783d486483af4dca5570d23d",
              "settingsUdi": "umb://element/5810a27eb9a74c67aca5fc1edebcc900"
            },
            {
              "contentUdi": "umb://element/73cd9e8f3942478fb3287adac79152ce",
              "settingsUdi": "umb://element/320c5521333e443fb4d5b2af090a302a"
            },
            {
              "contentUdi": "umb://element/3f82b23df40f4bbdb1a1034f9181112a",
              "settingsUdi": "umb://element/6e3d2eb2d35447d693256d021281931e"
            },
            {
              "contentUdi": "umb://element/92c475fa5abd4bbfbf450c53f7403f64",
              "settingsUdi": "umb://element/42d768cab3fc4ae791590b5b938f95a7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2f111fe9-0fd9-4758-8388-14270b929341",
            "udi": "umb://element/864c4135783d486483af4dca5570d23d",
            "videoSource": "youtube",
            "videoMP4": null,
            "video3rdParty": "https://www.youtube.com/watch?v=TvHw5DOREiI&list=PLGiOM7xtax_6Ev0i6p6GvYB2tMmVMTCP5",
            "image": "umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8",
            "lightWindowTitle": "",
            "lightWindowFooter": ""
          },
          {
            "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
            "udi": "umb://element/73cd9e8f3942478fb3287adac79152ce",
            "image": null,
            "heading": {
              "text": "No image",
              "headingtag": "h3"
            },
            "secondaryHeading": {
              "text": "With link",
              "headingtag": ""
            },
            "text": "",
            "buttons": [
              {
                "color": {
                  "value": "#000000",
                  "text": "#ffffff",
                  "border": "#ffffff",
                  "label": "c1-btn",
                  "sortOrder": 1,
                  "id": 2
                },
                "icon": "",
                "size": "s",
                "link": [
                  {
                    "name": "See all",
                    "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
                    "url": "/components/",
                    "icon": "icon-layout color-black",
                    "published": true,
                    "trashed": false
                  }
                ]
              }
            ],
            "hideButton": ""
          },
          {
            "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
            "udi": "umb://element/3f82b23df40f4bbdb1a1034f9181112a",
            "image": "umb://media/fce45c91b78d422ea5cc3bf2c45ff85a",
            "heading": {
              "text": "",
              "headingtag": ""
            },
            "secondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "text": "<p>No link, image only.</p>",
            "buttons": "",
            "hideButton": "0"
          },
          {
            "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
            "udi": "umb://element/92c475fa5abd4bbfbf450c53f7403f64",
            "image": "umb://media/f01d58c6b52841a0962d38fbc294579d",
            "heading": {
              "text": "",
              "headingtag": ""
            },
            "secondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "text": "",
            "buttons": "",
            "hideButton": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "75c9ce94-8150-467d-873f-513535400f76",
            "udi": "umb://element/5810a27eb9a74c67aca5fc1edebcc900",
            "backgroundColor": "",
            "addColorOverlay": "0",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "0"
          },
          {
            "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
            "udi": "umb://element/320c5521333e443fb4d5b2af090a302a",
            "backgroundColor": {
              "value": "#ffffff",
              "firstBgColor": "#ffffff",
              "heading": "#000000",
              "secondaryheading": "000000",
              "text": "#000000",
              "border": "#000000",
              "label": "base",
              "sortOrder": 0,
              "id": 1
            },
            "addColorOverlay": "",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "textAlignment": "text-center",
            "textPosition": "Text_CenterCenter"
          },
          {
            "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
            "udi": "umb://element/6e3d2eb2d35447d693256d021281931e",
            "backgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": 1,
              "id": 2
            },
            "addColorOverlay": "0",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "0",
            "textAlignment": "text-center",
            "textPosition": "Text_CenterCenter"
          },
          {
            "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
            "udi": "umb://element/42d768cab3fc4ae791590b5b938f95a7",
            "backgroundColor": "",
            "addColorOverlay": "",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "textAlignment": "text-center",
            "textPosition": "Text_CenterCenter"
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "2281980d-97f4-4999-acb6-c1ba50aef3a6",
      "udi": "umb://element/70d37e562c7b47a1a2f9e97400a210fb",
      "displayIntro": "0",
      "introTextAlignment": "",
      "introHeading": {
        "text": "",
        "headingtag": ""
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "windows": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ca185a300dc349e7ab15b8e7228ec50a",
              "settingsUdi": "umb://element/ed3f32dbdfef48a9a4c2dee0fba5d65f"
            },
            {
              "contentUdi": "umb://element/ac1dc29cd412494299256951d0e8e5a3",
              "settingsUdi": "umb://element/fcd45a53d9f444a295c31068f2f23e54"
            },
            {
              "contentUdi": "umb://element/31e83f0d951d45d68464729beef5cf3e",
              "settingsUdi": "umb://element/b4dee7e6e3644092bcb5c88fab3b34d7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
            "udi": "umb://element/ca185a300dc349e7ab15b8e7228ec50a",
            "image": "umb://media/00611b867178497db8dd87de180e1d35",
            "heading": {
              "text": "",
              "headingtag": ""
            },
            "secondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "text": "",
            "buttons": "",
            "hideButton": ""
          },
          {
            "contentTypeKey": "2f111fe9-0fd9-4758-8388-14270b929341",
            "udi": "umb://element/ac1dc29cd412494299256951d0e8e5a3",
            "videoSource": "youtube",
            "videoMP4": null,
            "video3rdParty": "https://www.youtube.com/watch?v=TvHw5DOREiI&list=PLGiOM7xtax_6Ev0i6p6GvYB2tMmVMTCP5",
            "image": "umb://media/f0d0624ab55d4342ab9cb2be1cbccdc8",
            "lightWindowTitle": "",
            "lightWindowFooter": ""
          },
          {
            "contentTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
            "udi": "umb://element/31e83f0d951d45d68464729beef5cf3e",
            "image": "umb://media/fce45c91b78d422ea5cc3bf2c45ff85a",
            "heading": {
              "text": "Link & text",
              "headingtag": "h3"
            },
            "secondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "text": "",
            "buttons": [
              {
                "color": {
                  "value": "#ffffff",
                  "text": "#000000",
                  "border": "#000000",
                  "label": "base-btn",
                  "sortOrder": 0,
                  "id": 1
                },
                "icon": "",
                "size": "m",
                "link": [
                  {
                    "name": "Large button",
                    "udi": "umb://document/fa7cbd74303b49cdb09e24b74efbed75",
                    "url": "/components/",
                    "icon": "icon-layout color-black",
                    "published": true,
                    "trashed": false
                  }
                ]
              }
            ],
            "hideButton": "0"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
            "udi": "umb://element/ed3f32dbdfef48a9a4c2dee0fba5d65f",
            "backgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": 1,
              "id": 2
            },
            "addColorOverlay": "",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "",
            "textAlignment": "text-center",
            "textPosition": "Text_CenterCenter"
          },
          {
            "contentTypeKey": "75c9ce94-8150-467d-873f-513535400f76",
            "udi": "umb://element/fcd45a53d9f444a295c31068f2f23e54",
            "backgroundColor": "",
            "addColorOverlay": "",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": ""
          },
          {
            "contentTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
            "udi": "umb://element/b4dee7e6e3644092bcb5c88fab3b34d7",
            "backgroundColor": {
              "value": "#000000",
              "firstBgColor": "#000000",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#eeeeee",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": 1,
              "id": 2
            },
            "addColorOverlay": "1",
            "customClasses": "",
            "itemName": "",
            "hideFromWebsite": "0",
            "textAlignment": "text-center",
            "textPosition": "Text_CenterCenter"
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/81081df9e3b14d0db680638238328478",
      "desktopTabletOrder": "desktop_One",
      "mobileOrder": "mobile_Two",
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": ""
    },
    {
      "contentTypeKey": "a81ec2b7-4e6e-4027-a7f5-463022c36a85",
      "udi": "umb://element/19594a6a2fa047c59b209c33dd136f1d",
      "imageOrder": "WindowsOrder_BrickAlt",
      "removeItemSpacing": "0",
      "backgroundColor": {
        "value": "#000000",
        "firstBgColor": "#000000",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#eeeeee",
        "border": "#ffffff",
        "label": "c1",
        "sortOrder": 1,
        "id": 2
      },
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "1",
      "animationStyle": "zoomInUp",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0",
      "animationDuration": "1.2",
      "enableRandomOrder": "0"
    },
    {
      "contentTypeKey": "a81ec2b7-4e6e-4027-a7f5-463022c36a85",
      "udi": "umb://element/ebe4c332053241e283977610b4aa915c",
      "imageOrder": "WindowsOrder_3_Small",
      "removeItemSpacing": "1",
      "backgroundColor": "",
      "backgroundImage": null,
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "componentWidthFull",
      "animate": "1",
      "animationStyle": "fadeInUp",
      "animationDelay": "0",
      "anchorName": "",
      "componentStyles": "p-0",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "",
      "animationDuration": "1.2",
      "enableRandomOrder": ""
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[umb://media/f01d58c6b52841a0962d38fbc294579d]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id interdum tortor.</p>]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-us"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-us"><![CDATA[{
  "title": "",
  "description": ""
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>