/* 
	Added by TS for easier control over USN styles
*/

$color-black: #000;
$color-c1: #ffe600;
$color-hover-c1: #eabe1f;

$mobile-menu-start: 0px;
$mobile-menu-end: 1199px;
$desktop-menu-start: 1200px;


$xs-start: 0px;
$xs-end: 767px;
$sm-start: 768px;
$sm-end: 989px;
$md-start: 990px;
$md-end: 1199px;
$lg-start: 1200px;
