<?xml version="1.0" encoding="utf-8"?>
<Domain Key="431f9935-0000-0000-0000-000000000000" Alias="https://app-sealegs-preprod.azurewebsites.net/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-NZ</Language>
    <Root Key="cf276aaf-461e-4dbe-a906-fdd283c11fc1">/Home</Root>
    <SortOrder>2</SortOrder>
  </Info>
</Domain>