<?xml version="1.0" encoding="utf-8"?>
<Domain Key="91e2aaa1-0000-0000-0000-000000000000" Alias="sealegs.com">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-NZ</Language>
    <Root Key="cf276aaf-461e-4dbe-a906-fdd283c11fc1">/Home</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>