<?xml version="1.0" encoding="utf-8"?>
<Domain Key="01b5337d-0000-0000-0000-000000000000" Alias="sealegs-preprod.builtbypattern.com">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-NZ</Language>
    <Root Key="cf276aaf-461e-4dbe-a906-fdd283c11fc1">/Home</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>