<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ee77f23-d83e-434b-97ff-f7ab1aa2a999" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="cf276aaf-461e-4dbe-a906-fdd283c11fc1">Home</Parent>
    <Path>/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>USNPage</ContentType>
    <CreateDate>2024-08-10T21:55:30</CreateDate>
    <NodeName Default="Contact Us">
      <Name Culture="en-nz">Contact Us</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
  </Info>
  <Properties>
    <aboveMainContent>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </aboveMainContent>
    <belowMainContent>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </belowMainContent>
    <breadcrumbLinkText>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </breadcrumbLinkText>
    <customBodyClasses>
      <Value><![CDATA[]]></Value>
    </customBodyClasses>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <hideBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumb>
    <hideDefaultBottomComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultBottomComponents>
    <hideDefaultPods>
      <Value><![CDATA[0]]></Value>
    </hideDefaultPods>
    <hideDefaultTopComponents>
      <Value><![CDATA[0]]></Value>
    </hideDefaultTopComponents>
    <hideFromInternalSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromInternalSearch>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hidePageTitle>
      <Value><![CDATA[1]]></Value>
    </hidePageTitle>
    <hidePeriod>
      <Value><![CDATA[]]></Value>
    </hidePeriod>
    <hideSubNavigation>
      <Value><![CDATA[0]]></Value>
    </hideSubNavigation>
    <hideWebsiteFooterSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteFooterSection>
    <hideWebsiteHeaderSection>
      <Value><![CDATA[0]]></Value>
    </hideWebsiteHeaderSection>
    <htmlSitemapLinkText>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </htmlSitemapLinkText>
    <logoTextOverride>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </logoTextOverride>
    <mainContent>
      <Value Culture="en-nz"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/86bd4802c7734924a4038ba14ffb52e8",
        "settingsUdi": "umb://element/706901ac2e1d4f07a055344d0b53c6f4"
      },
      {
        "contentUdi": "umb://element/98de965bcaff40e380b8e41687af18cf",
        "settingsUdi": "umb://element/75f05293f4704363a002f836cdb05249"
      },
      {
        "contentUdi": "umb://element/e1fbd72817d7468f9a769a4311f4d003",
        "settingsUdi": "umb://element/293fb69a741d4c3ab503a7592e177a7f"
      },
      {
        "contentUdi": "umb://element/c2213c92c50447e8baaecc07fb42fae7",
        "settingsUdi": "umb://element/b43d04b126b74727a9fd8cc25f9e0793"
      },
      {
        "contentUdi": "umb://element/2242578a9bb64fcd9a5c1b5c79c72e9e",
        "settingsUdi": "umb://element/c8b58534935a4f6eb82450d3d03feb4a"
      },
      {
        "contentUdi": "umb://element/22cc1ab9e42042a2a69ff237704b2ae2",
        "settingsUdi": "umb://element/2dfca186149c473ebe6a3256a05e9a12"
      },
      {
        "contentUdi": "umb://element/023e306f6f0a41368bc523fb4d6d2f98",
        "settingsUdi": "umb://element/30c2d7fc7608419d88dc91fbf03bec05"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "df7b194c-2e78-43b0-82ad-ae709f825d26",
      "udi": "umb://element/86bd4802c7734924a4038ba14ffb52e8",
      "banners": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d0f5d984373e4e67a88e0cd3d3c75c95",
              "settingsUdi": "umb://element/d7e01033611a482d8776f5dff914c924"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fe934c83-9f93-4c2b-9881-7b747755505a",
            "udi": "umb://element/d0f5d984373e4e67a88e0cd3d3c75c95",
            "bannerImage": "umb://media/40c50d2ee93d483ba649b2d6bcd1fd71",
            "bannerVideoSource": "",
            "bannerVideoMP4": "",
            "bannerVideo3rdParty": "",
            "bannerHeading": {
              "text": "Contact Us",
              "headingtag": "h1"
            },
            "bannerSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "bannerText": "",
            "bannerButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "e72b1c56-cbfd-4680-a186-244edeef03e0",
            "udi": "umb://element/d7e01033611a482d8776f5dff914c924",
            "bannerBackgroundColor": {
              "value": "#263444",
              "firstBgColor": "#263444",
              "heading": "#ffffff",
              "secondaryheading": "#ffffff",
              "text": "#ffffff",
              "border": "#ffffff",
              "label": "c1",
              "sortOrder": 1,
              "id": 2
            },
            "bannerStyle": "bannerSizeShort",
            "imageStyle": "",
            "bannerTextAlignment": "text-left",
            "bannerTextPosition": "Text_BottomLeft",
            "bannerAddColorOverlay": "0",
            "bannerScrollPrompt": "0",
            "bannerScrollStyle": "",
            "bannerParallax": "0",
            "animate": "0",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemName": "",
            "customClasses": "heading-shadow",
            "hideFromWebsite": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/2242578a9bb64fcd9a5c1b5c79c72e9e",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f8e847a322424c7a87a694c4f06d1377",
              "settingsUdi": "umb://element/6f09d0a0c8604a74b9656dce5f4a7c45"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ee85a65f-4e38-4c41-a5bd-d9912726adcf",
            "udi": "umb://element/f8e847a322424c7a87a694c4f06d1377",
            "heading": {
              "text": "",
              "headingtag": "h2"
            },
            "secondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "text": {
              "markup": "<p class=\"intro\">Sealegs has regional offices around the globe and an international network of sales and aftersales agents.</p>\n<p>To learn more about purchasing a Sealegs, please complete the sales enquiry form to the right.</p>\n<p>If you would like to contact our Factory Service Centre, please email <a href=\"mailto:service@sealegs.com\">service@sealegs.com</a> or, for all your parts quotes and queries, please email <a href=\"mailto:parts@sealegs.com\">parts@sealegs.com</a>.</p>\n<div class=\"map-header-hider\"><iframe src=\"https://www.google.com/maps/d/u/1/embed?mid=1rEwGZt1a2HZgz9Uv4L-accHIhqtTON0&amp;ehbc=2E312F\" width=\"640\" height=\"480\"></iframe></div>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "buttons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "13eb5cb1-ad1d-4a18-8b66-f7accd43fdb9",
            "udi": "umb://element/6f09d0a0c8604a74b9656dce5f4a7c45",
            "textAlignment": "",
            "desktopColumnWidth": "7",
            "tabletColumnWidth": "7",
            "verticalPosition": "align-self-start",
            "animate": "0",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemName": "",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/71769475f0914234aa92c72a11ef38ec",
              "settingsUdi": "umb://element/8b1ce3cd856846e7aa7e3dd20dafc414"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
            "udi": "umb://element/71769475f0914234aa92c72a11ef38ec",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "code": "<script type=\"text/javascript\" src=\"https://form.jotform.com/jsform/200686544288868\"></script>\n    ",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
            "udi": "umb://element/8b1ce3cd856846e7aa7e3dd20dafc414",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "5",
            "verticalPosition": "align-self-start",
            "animate": "0",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemName": "",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "13f6bdcf-f611-4fb3-8a23-95b0cf6c85ab",
      "udi": "umb://element/22cc1ab9e42042a2a69ff237704b2ae2",
      "displayIntro": "1",
      "introTextAlignment": "",
      "introHeading": {
        "text": "Sealegs Offices",
        "headingtag": "h2"
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "grid": {
        "name": "Full width",
        "sections": [
          {
            "grid": "12",
            "rows": [
              {
                "name": "4 + 4 + 4",
                "id": "9b6417e9-bb79-4a8d-8929-98e465efe0e5",
                "areas": [
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">NEW ZEALAND</p>\n<p><strong>Head Office</strong><br>63 View Road, Wairau Valley<br>New Zealand<br>Phone: <strong><a href=\"tel:+6494145542\">+64 9 4145542</a><br></strong>Toll free: <strong><a href=\"tel:08007325347\">0800 732 5347</a></strong></p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  },
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">AUSTRALIA</p>\n<p>1B/ 7 Waterways Drive, Coomera, QLD, Australia<br>Phone: <strong><a href=\"/1300SEALEGS\">1300SEALEGS</a><br><a href=\"mailto:%20michaelr@sealegs.com\" title=\"Email Michael\">Email Michael</a></strong></p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  },
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">UNITED STATES</p>\n<p><strong>Sealegs US Corporation</strong></p>\n<p><strong>Showroom<br></strong>500 Wood Street<br>Bristol<br>Rhode Island 02809<br><br>Phone: <strong><a href=\"tel:+14015855853\">+1 401 585 5853</a></strong><br><br><strong>Service</strong><br>259 Franklin Street<br>Bristol<br>Rhode Island 02809</p>\n<p>Email: <strong><a rel=\"noopener\" href=\"mailto:usaservice@sealegs.com\" target=\"_blank\" title=\"Email Service\">Sealegs Service</a></strong></p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  }
                ],
                "styles": null,
                "config": null
              },
              {
                "name": "4 + 4 + 4",
                "id": "eafef368-9922-4d47-8b38-bb2cf8b12b31",
                "areas": [
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">WORLDWIDE</p>\n<p><strong>New Distributor Enquiries<br></strong>Jack Ewen: <strong><a href=\"tel:+6494143092\">+64 9 414 3088</a></strong></p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  },
                  {
                    "grid": "4",
                    "controls": [],
                    "styles": null,
                    "config": null
                  },
                  {
                    "grid": "4",
                    "controls": [],
                    "styles": null,
                    "config": null
                  }
                ],
                "styles": null,
                "config": null
              }
            ]
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "13f6bdcf-f611-4fb3-8a23-95b0cf6c85ab",
      "udi": "umb://element/023e306f6f0a41368bc523fb4d6d2f98",
      "displayIntro": "1",
      "introTextAlignment": "",
      "introHeading": {
        "text": "Sealegs Dealers",
        "headingtag": "h2"
      },
      "introSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "introText": "",
      "introButtons": "",
      "grid": {
        "name": "Full width",
        "sections": [
          {
            "grid": "12",
            "rows": [
              {
                "name": "4 + 4 + 4",
                "id": "9b6417e9-bb79-4a8d-8929-98e465efe0e5",
                "areas": [
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">CANADA</p>\n<p><strong>Kelland Watercraft - Sealegs Canada</strong></p>\n<p class=\"font_8 wixui-rich-text__text\">2350 Delinea Place, Nanaimo, BC, Canada</p>\n<p>Email: <a href=\"http://mailto:Russell.hayden@salterns.co.uk/\" data-auth=\"NotApplicable\" data-linkindex=\"3\">i</a><a href=\"mailto:info@kellandproperties.com\" class=\"wixui-rich-text__text\" data-auto-recognition=\"true\">nfo@kellandproperties.com</a></p>\n<p>Ph: <strong><a href=\"tel:+61423602532\">+44 1202 707 222</a></strong></p>\n<p> </p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  },
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">DENMARK</p>\n<p><strong>Sealegs Denmark</strong></p>\n<p class=\"x_xmsonormal\">Haandvaerkervej 11, DK - 9320 Hjallerup, Denmark</p>\n<p>Email: <a href=\"mailto:jo@sealegs.dk\" data-linkindex=\"6\">jo@sealegs.dk</a></p>\n<p>Ph: <strong><a href=\"tel:+61423602532\">+45 4011 9533</a></strong></p>\n<p> </p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  },
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">FRANCE</p>\n<p><strong>DB Marine</strong></p>\n<p>25 Rue du Lac, 22240 Plurien</p>\n<p>Email: <a href=\"mailto:dbmarine22@gmail.com\" data-linkindex=\"4\">dbmarine22@gmail.com</a></p>\n<p>Ph: <strong><a href=\"tel:+33296414232\">+33 2 96 41 42 32</a></strong></p>\n<p> </p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  }
                ],
                "styles": null,
                "config": null
              },
              {
                "name": "4 + 4 + 4",
                "id": "eafef368-9922-4d47-8b38-bb2cf8b12b31",
                "areas": [
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">FRANCE</p>\n<p><strong>STL-Nautisme</strong></p>\n<p>Rue des Isles, 50400 Granville, France</p>\n<p>Email: <a href=\"mailto:pierremarie@stl-nautisme.com\" data-linkindex=\"5\">pierremarie@stl-nautisme.com</a></p>\n<p>Ph: <strong><a href=\"tel:+33775114250\">+33 7 75 11 42 50</a></strong></p>\n<p> </p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  },
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">INDIA</p>\n<p><strong>ITUS Marine </strong></p>\n<p>Website: <a href=\"https://itusmarine.in/\">www.itus marine.in </a></p>\n<p>Email: <a href=\"mailto:ankit@itus.net.in\">ankit@itus.net.in</a></p>\n<p>Ph: <strong><a href=\"tel:+918484870080\">+918484870080</a></strong></p>\n<p> </p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  },
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">SPAIN</p>\n<p><strong>Juan Manuel Endirino</strong></p>\n<p>Email: <a href=\"mailto:jm.endrino@nautica-aza.com\" data-linkindex=\"7\">jm.endrino@nautica-aza.com</a></p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  }
                ],
                "styles": null,
                "config": null
              },
              {
                "name": "4 + 4 + 4",
                "id": "ac8a76a9-a165-4fe0-bfde-b00746185c49",
                "areas": [
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">UNITED KINGDOM</p>\n<p><strong>Salterns Brokerage</strong></p>\n<p>40 Salterns Way, Lilliput Poole Dorset, BH14 8JR</p>\n<p>Email: <a href=\"mailto:Russell.hayden@salterns.co.uk\" data-auth=\"NotApplicable\" data-linkindex=\"3\">Russell.hayden@salterns.co.uk</a></p>\n<p>Ph: <strong><a href=\"tel:+61423602532\">+44 1202 707 222</a></strong></p>\n<p> </p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  },
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">VANUATU</p>\n<p><strong>Stanley Imports</strong></p>\n<p class=\"x_xmsonormal\">Kumul Hwy, Port Vila, Vanuatu</p>\n<p>Email: <a href=\"mailto:stanleyimports@vanuatu.com.vu\" title=\"Email Stanley Imports\">stanleyimports@vanuatu.com.vu</a></p>\n<p>Ph: <strong><a href=\"tel:+61423602532\">+678 7743615</a></strong></p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  },
                  {
                    "grid": "4",
                    "controls": [
                      {
                        "value": "<p class=\"heading\">WASHINGTON STATE<br>&amp; ALASKA</p>\n<p><strong>Inside Passage Yacht Sales</strong></p>\n<p class=\"x_xmsonormal\">902 31st St, Anacortes, WA 98221</p>\n<p>Email: <a href=\"mailto:bryan@ipysales.com\">bryan@ipysales.com</a> </p>\n<p>Ph: <strong><a href=\"tel:+13604684997\">+13604684997</a>  </strong>or  <strong><a href=\"tel:+13609101847\">+13609101847</a></strong></p>\n<p> </p>",
                        "editor": {
                          "alias": "rte",
                          "view": "rte"
                        },
                        "styles": null,
                        "config": null
                      }
                    ],
                    "styles": null,
                    "config": null
                  }
                ],
                "styles": null,
                "config": null
              }
            ]
          }
        ]
      },
      "displayOutro": "0",
      "outroTextAlignment": "",
      "outroHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "outroText": "",
      "outroButtons": ""
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/e1fbd72817d7468f9a769a4311f4d003",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/09fcb9e119b54402b9e1e52cd3f569a3",
              "settingsUdi": "umb://element/be51ef8126664a53b3111bb8de0f7536"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
            "udi": "umb://element/09fcb9e119b54402b9e1e52cd3f569a3",
            "displayIntro": "1",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": {
              "markup": "<p class=\"intro\">Sealegs has regional offices around the globe and an international network of sales and aftersales agents.</p>\n<p>To learn more about purchasing a Sealegs, please complete the sales enquiry form to the right.</p>\n<p>If you would like to contact our Factory Service Centre, please email <a href=\"mailto:service@sealegs.com\">service@sealegs.com</a> or, for all your parts quotes and queries, please email <a href=\"mailto:parts@sealegs.com\">parts@sealegs.com</a>.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "introButtons": "",
            "code": "<iframe src=\"https://www.google.com/maps/d/u/1/embed?mid=1rEwGZt1a2HZgz9Uv4L-accHIhqtTON0&ehbc=2E312F&z=1\" width=\"640\" height=\"480\"></iframe>",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
            "udi": "umb://element/be51ef8126664a53b3111bb8de0f7536",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "",
            "animate": "0",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemName": "",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/21c8288be0b54475bf796cd6b401d0f1",
              "settingsUdi": "umb://element/74e11b1684144d16ad40346b3d3e824f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
            "udi": "umb://element/21c8288be0b54475bf796cd6b401d0f1",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "code": "<script type=\"text/javascript\" src=\"https://form.jotform.com/jsform/200686544288868\"></script>\n    ",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
            "udi": "umb://element/74e11b1684144d16ad40346b3d3e824f",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "5",
            "verticalPosition": "align-self-start",
            "animate": "0",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemName": "",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/c2213c92c50447e8baaecc07fb42fae7",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/18e186f9ba7945b0a1b1cbeaf493a2de",
              "settingsUdi": "umb://element/258e94f4c0734cb1b18eb618a8972922"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
            "udi": "umb://element/18e186f9ba7945b0a1b1cbeaf493a2de",
            "displayIntro": "1",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": {
              "markup": "<p class=\"intro\">Sealegs has regional offices around the globe and an international network of sales and aftersales agents.</p>\n<p>To learn more about purchasing a Sealegs, please complete the sales enquiry form to the right.</p>\n<p>If you would like to contact our Factory Service Centre, please email <a href=\"mailto:service@sealegs.com\">service@sealegs.com</a> or, for all your parts quotes and queries, please email <a href=\"mailto:parts@sealegs.com\">parts@sealegs.com</a>.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "introButtons": "",
            "code": "<iframe src=\"https://www.google.com/maps/d/u/1/embed?mid=1rEwGZt1a2HZgz9Uv4L-accHIhqtTON0&ehbc=2E312F&z=1\" width=\"640\" height=\"480\"></iframe>",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
            "udi": "umb://element/258e94f4c0734cb1b18eb618a8972922",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "",
            "animate": "0",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemName": "",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a4733ab5a19945e6ba86b099e3ffb8bd",
              "settingsUdi": "umb://element/009d38c6d9ef41c99426e1df8913c558"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
            "udi": "umb://element/a4733ab5a19945e6ba86b099e3ffb8bd",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "code": "<script type=\"text/javascript\" src=\"https://form.jotform.com/200686544288868\"></script>\n    ",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
            "udi": "umb://element/009d38c6d9ef41c99426e1df8913c558",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "5",
            "verticalPosition": "align-self-start",
            "animate": "0",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemName": "",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "udi": "umb://element/98de965bcaff40e380b8e41687af18cf",
      "splitSection1": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/922e70a2937c48538726fd6420214c28",
              "settingsUdi": "umb://element/851876f633ee43d1aba3c148522a4756"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
            "udi": "umb://element/922e70a2937c48538726fd6420214c28",
            "displayIntro": "1",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": {
              "markup": "<p class=\"intro\">Sealegs has regional offices around the globe and an international network of sales and aftersales agents.</p>\n<p>To learn more about purchasing a Sealegs, please complete the sales enquiry form to the right.</p>\n<p>If you would like to contact our Factory Service Centre, please email <a href=\"mailto:service@sealegs.com\">service@sealegs.com</a> or, for all your parts quotes and queries, please email <a href=\"mailto:parts@sealegs.com\">parts@sealegs.com</a>.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "introButtons": "",
            "code": "<iframe src=\"https://www.google.com/maps/d/u/1/embed?mid=1rEwGZt1a2HZgz9Uv4L-accHIhqtTON0&ehbc=2E312F&z=1\" width=\"640\" height=\"480\"></iframe>",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
            "udi": "umb://element/851876f633ee43d1aba3c148522a4756",
            "desktopColumnWidth": "6",
            "tabletColumnWidth": "6",
            "verticalPosition": "",
            "animate": "0",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemName": "",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      },
      "splitSection2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/90b614562ca04726a222fc2debf0e6a2",
              "settingsUdi": "umb://element/a25c8389c7c94721b8f3c788970527a1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
            "udi": "umb://element/90b614562ca04726a222fc2debf0e6a2",
            "displayIntro": "0",
            "introTextAlignment": "",
            "introHeading": {
              "text": "",
              "headingtag": ""
            },
            "introSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "introText": "",
            "introButtons": "",
            "code": "<script src=\"https://js-ap1.hsforms.net/forms/embed/441906798.js\" defer></script>\n<div class=\"hs-form-frame\" data-region=\"ap1\" data-form-id=\"6ae5cc8e-37c4-48b8-bc0e-1c73a349c3b1\" data-portal-id=\"441906798\"></div>",
            "displayOutro": "0",
            "outroTextAlignment": "",
            "outroHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroSecondaryHeading": {
              "text": "",
              "headingtag": ""
            },
            "outroText": "",
            "outroButtons": ""
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
            "udi": "umb://element/a25c8389c7c94721b8f3c788970527a1",
            "desktopColumnWidth": "5",
            "tabletColumnWidth": "5",
            "verticalPosition": "align-self-start",
            "animate": "0",
            "animationStyle": "",
            "animationDelay": "0",
            "animationDuration": "1.2",
            "itemName": "",
            "itemSplitStyles": "",
            "customSplitSectionClasses": "",
            "hideFromWebsite": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7c18879f-d2c5-4d87-b9f5-02544784e0e2",
      "udi": "umb://element/706901ac2e1d4f07a055344d0b53c6f4",
      "enableRandomOrder": "0",
      "showArrows": "0",
      "showDots": "0",
      "autoRotateSpeed": "0",
      "itemName": "",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "",
      "hideFromWebsite": "0",
      "nestedHtml": ""
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/c8b58534935a4f6eb82450d3d03feb4a",
      "desktopTabletOrder": "",
      "mobileOrder": "",
      "backgroundColor": {
        "value": "#edf1f7",
        "firstBgColor": "#edf1f7",
        "heading": "#263444",
        "secondaryheading": "263444",
        "text": "#263444",
        "border": "#263444",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": "",
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "itemName": "Map and Jotform (original google map)",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "",
      "hideFromWebsite": "1",
      "nestedHtml": ""
    },
    {
      "contentTypeKey": "9baf3e78-19c3-48f0-8b90-d2fac9ea8573",
      "udi": "umb://element/2dfca186149c473ebe6a3256a05e9a12",
      "backgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#263444",
        "secondaryheading": "#263444",
        "text": "#263444",
        "border": "#263444",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "backgroundImage": "",
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "itemName": "Sealegs Offices",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "",
      "hideFromWebsite": "0",
      "nestedHtml": ""
    },
    {
      "contentTypeKey": "9baf3e78-19c3-48f0-8b90-d2fac9ea8573",
      "udi": "umb://element/30c2d7fc7608419d88dc91fbf03bec05",
      "backgroundColor": {
        "value": "#edf1f7",
        "firstBgColor": "#edf1f7",
        "heading": "#263444",
        "secondaryheading": "263444",
        "text": "#263444",
        "border": "#263444",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": "",
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "itemName": "Sealegs Dealers",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "",
      "hideFromWebsite": "0",
      "nestedHtml": ""
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/293fb69a741d4c3ab503a7592e177a7f",
      "desktopTabletOrder": "",
      "mobileOrder": "",
      "backgroundColor": {
        "value": "#edf1f7",
        "firstBgColor": "#edf1f7",
        "heading": "#263444",
        "secondaryheading": "263444",
        "text": "#263444",
        "border": "#263444",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": "",
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "itemName": "Map and Jotform",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "",
      "hideFromWebsite": "1",
      "nestedHtml": ""
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/b43d04b126b74727a9fd8cc25f9e0793",
      "desktopTabletOrder": "",
      "mobileOrder": "",
      "backgroundColor": {
        "value": "#edf1f7",
        "firstBgColor": "#edf1f7",
        "heading": "#263444",
        "secondaryheading": "263444",
        "text": "#263444",
        "border": "#263444",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": "",
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "itemName": "Map and Jotform (updated 04.06.2025)",
      "anchorName": "",
      "customClasses": "",
      "componentStyles": "",
      "hideFromWebsite": "1",
      "nestedHtml": ""
    },
    {
      "contentTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "udi": "umb://element/75f05293f4704363a002f836cdb05249",
      "desktopTabletOrder": "",
      "mobileOrder": "",
      "backgroundColor": {
        "value": "#edf1f7",
        "firstBgColor": "#edf1f7",
        "heading": "#263444",
        "secondaryheading": "263444",
        "text": "#263444",
        "border": "#263444",
        "label": "base",
        "sortOrder": 0,
        "id": 1
      },
      "backgroundImage": "",
      "backgroundImageOptions": {
        "currentStyle": "",
        "currentPosition": ""
      },
      "componentWidth": "",
      "itemName": "Map and Hubspot form",
      "anchorName": "",
      "customClasses": "break-early",
      "componentStyles": "",
      "hideFromWebsite": "0",
      "nestedHtml": ""
    }
  ]
}]]></Value>
    </mainContent>
    <modalWindow>
      <Value><![CDATA[]]></Value>
    </modalWindow>
    <onPageTitle>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </onPageTitle>
    <openAfter>
      <Value><![CDATA[5]]></Value>
    </openAfter>
    <openGraphImage>
      <Value><![CDATA[umb://media/bbe15391ae014a51beb174b03737a810]]></Value>
    </openGraphImage>
    <overrideCanonicalURL>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </overrideCanonicalURL>
    <overrideTextDirection>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </overrideTextDirection>
    <overrideWebsiteLogo>
      <Value Culture="en-nz"><![CDATA[0]]></Value>
    </overrideWebsiteLogo>
    <overrideWebsiteStyle>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </overrideWebsiteStyle>
    <pageAfterOpeningBodyScripts>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </pageAfterOpeningBodyScripts>
    <pageBeforeClosingBodyScripts>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </pageBeforeClosingBodyScripts>
    <pageHeaderOpeningScripts>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </pageHeaderOpeningScripts>
    <pageHeaderScripts>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </pageHeaderScripts>
    <pageLayout>
      <Value><![CDATA[]]></Value>
    </pageLayout>
    <pageListingHeading>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </pageListingHeading>
    <pageListingImage>
      <Value><![CDATA[]]></Value>
    </pageListingImage>
    <pageListingSecondaryHeading>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </pageListingSecondaryHeading>
    <pagePods>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </pagePods>
    <pageSummary>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </pageSummary>
    <scrollPercentage>
      <Value><![CDATA[50]]></Value>
    </scrollPercentage>
    <secondaryHeading>
      <Value Culture="en-nz"><![CDATA[{
  "text": "",
  "headingtag": ""
}]]></Value>
    </secondaryHeading>
    <selectReusableContent>
      <Value><![CDATA[]]></Value>
    </selectReusableContent>
    <sitemapXMLChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXMLChangeFrequency>
    <sitemapXMLPriority>
      <Value><![CDATA[0]]></Value>
    </sitemapXMLPriority>
    <stopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </stopInternalLinksBeingFollowed>
    <subNavigationLinkText>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </subNavigationLinkText>
    <summaryInstructions>
      <Value><![CDATA[]]></Value>
    </summaryInstructions>
    <titleAndDescription>
      <Value Culture="en-nz"><![CDATA[{
  "title": "",
  "description": "We have regional offices around the globe and an international network of sales and aftersales agents. To learn more about purchasing a Sealegs, please contact us."
}]]></Value>
    </titleAndDescription>
    <twitterCreatorUsername>
      <Value><![CDATA[]]></Value>
    </twitterCreatorUsername>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteConfigurationNode>
      <Value><![CDATA[]]></Value>
    </websiteConfigurationNode>
    <websiteLogoOverride>
      <Value Culture="en-nz"><![CDATA[]]></Value>
    </websiteLogoOverride>
  </Properties>
</Content>