<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5a41274-f629-425b-8f78-1dc889372493" Alias="Footer" Level="2">
  <Info>
    <Parent Key="6fee1ac6-19d2-4968-a46f-707f4f69bd9b">Global | Sealegs</Parent>
    <Path>/GlobalSealegs/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>USNFooter</ContentType>
    <CreateDate>2024-08-08T23:53:46</CreateDate>
    <NodeName Default="Footer">
      <Name Culture="en-nz">Footer</Name>
      <Name Culture="en-us">Footer</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
  </Info>
  <Properties>
    <copyrightMessage>
      <Value Culture="en-nz"><![CDATA[Sealegs International Limited. All rights reserved.]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </copyrightMessage>
    <disableDelete>
      <Value><![CDATA[0]]></Value>
    </disableDelete>
    <footerItems>
      <Value Culture="en-nz"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9ff7843c64b4eec99c89a5bdea42824",
        "settingsUdi": "umb://element/f65214bcb1834a7bab96279679914c2a"
      },
      {
        "contentUdi": "umb://element/70c3c983ce1749c5b0f88fad0f015c33"
      },
      {
        "contentUdi": "umb://element/caeee0803dfc47299b2d5a57d7e87ca4",
        "settingsUdi": "umb://element/05e3b2f85acf405bb12dc59f934f4cc1"
      },
      {
        "contentUdi": "umb://element/5c2590396e0248d68cb59f7c88add008",
        "settingsUdi": "umb://element/ba80e9a323134a859848b59bbf48d9cb"
      },
      {
        "contentUdi": "umb://element/8d008d1edc7640c3ac78e37d6aa6926f",
        "settingsUdi": "umb://element/6d67771f9c074cfb9f6bf87738bcf0ee"
      },
      {
        "contentUdi": "umb://element/1711d80d9f2d4b63bcdf8f15a32cdf71",
        "settingsUdi": "umb://element/76b089b415174580a0c5fd251eb005b8"
      },
      {
        "contentUdi": "umb://element/75f872b8b5d34f658071113aac64d373"
      },
      {
        "contentUdi": "umb://element/cb875fff38224be2925c177df88000b7",
        "settingsUdi": "umb://element/c7fd8477b37844469f98ccf76bd6ea0e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7e9ea8e8-6378-441e-ae49-59f545ceb8bf",
      "udi": "umb://element/f9ff7843c64b4eec99c89a5bdea42824",
      "podImage": "",
      "podHeading": {
        "text": "",
        "headingtag": ""
      },
      "podSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "podText": {
        "markup": "<p><img src=\"\" alt=\"\" data-udi=\"umb://media/bbe15391ae014a51beb174b03737a810\"></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "podButton": "",
      "hidePodButton": "0"
    },
    {
      "contentTypeKey": "cbe0e810-6da1-4cc7-84f9-af7eb6aaac25",
      "udi": "umb://element/caeee0803dfc47299b2d5a57d7e87ca4",
      "heading": {
        "text": "Sales",
        "headingtag": "s"
      },
      "secondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "links": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Contact",
              "udi": "umb://document/2ee77f23d83e434b97fff7ab1aa2a999",
              "url": "/sealegs/contact/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Customer Stories",
              "udi": "umb://document/c25d0b84805242e8aea886aa2317fe74",
              "url": "/blog/customer-stories/",
              "icon": "icon-categories color-black",
              "published": true,
              "trashed": false
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "cbe0e810-6da1-4cc7-84f9-af7eb6aaac25",
      "udi": "umb://element/5c2590396e0248d68cb59f7c88add008",
      "heading": {
        "text": "Service",
        "headingtag": "s"
      },
      "secondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "links": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Service",
              "udi": "umb://document/a9014fde567941dbadb5b0757e5263f8",
              "url": "/sealegs/service/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Store",
              "target": "",
              "url": "https://store.sealegs.com/",
              "icon": "icon-link",
              "published": true
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "cbe0e810-6da1-4cc7-84f9-af7eb6aaac25",
      "udi": "umb://element/8d008d1edc7640c3ac78e37d6aa6926f",
      "heading": {
        "text": "Experience",
        "headingtag": "s"
      },
      "secondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "links": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Events",
              "udi": "umb://document/e95f424d8ad7408e9fa46b3212f614f6",
              "url": "/sealegs/events/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "About Us",
              "udi": "umb://document/8d00f9e92be847dc8cd766f65b8ef955",
              "url": "/sealegs/about-us/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "News and Updates",
              "udi": "umb://document/478fe73b4779444897be1af9746f7790",
              "url": "/sealegs/blog-engine/news-and-updates/",
              "icon": "icon-categories color-black",
              "published": true,
              "trashed": false
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "4b53d12d-37b8-4a3a-b487-7e4d414a22e4",
      "udi": "umb://element/70c3c983ce1749c5b0f88fad0f015c33",
      "desktopColumnWidth": "1",
      "tabletColumnWidth": "1"
    },
    {
      "contentTypeKey": "7e9ea8e8-6378-441e-ae49-59f545ceb8bf",
      "udi": "umb://element/1711d80d9f2d4b63bcdf8f15a32cdf71",
      "podImage": "",
      "podHeading": {
        "text": "",
        "headingtag": ""
      },
      "podSecondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "podText": "",
      "podButton": [
        {
          "color": {
            "value": "#2992e4",
            "text": "#ffffff",
            "border": "#ffffff",
            "label": "c2-btn",
            "sortOrder": 2,
            "id": 3
          },
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "Contact Us",
              "udi": "umb://document/2ee77f23d83e434b97fff7ab1aa2a999",
              "url": "/contact/",
              "icon": "icon-layout color-black",
              "published": true,
              "trashed": false
            }
          ]
        }
      ],
      "hidePodButton": "0"
    },
    {
      "contentTypeKey": "516d31d3-0b44-4964-92fb-0d3e8bdb39d7",
      "udi": "umb://element/cb875fff38224be2925c177df88000b7",
      "heading": {
        "text": "",
        "headingtag": "s"
      },
      "secondaryHeading": {
        "text": "",
        "headingtag": ""
      },
      "socialLinks": [
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "https://www.tiktok.com/search?lang=en&q=sealegs&t=1721359943698",
              "target": "_blank",
              "url": "https://www.tiktok.com/search?lang=en&q=sealegs&t=1721359943698",
              "icon": "icon-link",
              "published": true
            }
          ],
          "media": {
            "name": "Tiktok",
            "id": 2287,
            "udi": "umb://media/e06c5442a3e84321a59cd13bfb1e5e0b",
            "icon": "icon-picture",
            "trashed": false,
            "key": "e06c5442-a3e8-4321-a59c-d13bfb1e5e0b",
            "parentId": 1549,
            "alias": "",
            "path": "-1,1549,2287",
            "metaData": {
              "ContentTypeAlias": "Image",
              "UpdateDate": "2024-09-12T03:51:36.973Z",
              "MediaPath": "/media/irkgzyhi/tiktok.png",
              "IsContainer": false
            },
            "thumbnail": "/umbraco/backoffice/umbracoapi/images/GetBigThumbnail?originalImagePath=%2Fmedia%2Firkgzyhi%2Ftiktok.png",
            "image": "/media/irkgzyhi/tiktok.png",
            "filtered": null,
            "updateDate": "September 12, 2024 3:51 AM",
            "isFolder": false,
            "width": "150",
            "height": 150,
            "aspectRatio": 1,
            "selectable": true,
            "flexStyle": {
              "flex": "1 1 150px",
              "max-width": "150px",
              "max-height": "150px",
              "min-width": "100px",
              "min-height": "100px"
            },
            "selected": true
          },
          "mediaId": "umb://media/e06c5442a3e84321a59cd13bfb1e5e0b"
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "https://www.facebook.com/sealegs",
              "url": "https://www.facebook.com/sealegs",
              "icon": "icon-link",
              "published": true
            }
          ],
          "media": {
            "name": "Facebook (1)",
            "id": 2283,
            "udi": "umb://media/8c794647a08b4b1eaaaf52ccb9b3ef7d",
            "icon": "icon-picture",
            "trashed": false,
            "key": "8c794647-a08b-4b1e-aaaf-52ccb9b3ef7d",
            "parentId": 1549,
            "alias": "",
            "path": "-1,1549,2283",
            "metaData": {
              "ContentTypeAlias": "Image",
              "UpdateDate": "2024-09-12 03:39:22",
              "MediaPath": "/media/ifdhtdel/facebook.png",
              "IsContainer": false
            },
            "thumbnail": "/umbraco/backoffice/umbracoapi/images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fifdhtdel%2Ffacebook.png",
            "image": "/media/ifdhtdel/facebook.png",
            "filtered": null,
            "updateDate": "September 12, 2024 3:39 PM",
            "isFolder": false,
            "width": "150",
            "height": 150,
            "aspectRatio": 1,
            "selectable": true,
            "flexStyle": {
              "flex": "1 1 150px",
              "max-width": "150px",
              "max-height": "150px",
              "min-width": "100px",
              "min-height": "100px"
            },
            "selected": true
          },
          "mediaId": "umb://media/8c794647a08b4b1eaaaf52ccb9b3ef7d"
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "https://x.com/sealegsboats?lang=en",
              "target": "_blank",
              "url": "https://x.com/sealegsboats?lang=en",
              "icon": "icon-link",
              "published": true
            }
          ],
          "media": {
            "name": "X",
            "id": 2286,
            "udi": "umb://media/994ce8eb2c154634845b7c34af4bc057",
            "icon": "icon-picture",
            "trashed": false,
            "key": "994ce8eb-2c15-4634-845b-7c34af4bc057",
            "parentId": 1549,
            "alias": "",
            "path": "-1,1549,2286",
            "metaData": {
              "ContentTypeAlias": "Image",
              "UpdateDate": "2024-09-12 03:39:23",
              "MediaPath": "/media/3xuezgiv/x.png",
              "IsContainer": false
            },
            "thumbnail": "/umbraco/backoffice/umbracoapi/images/GetBigThumbnail?originalImagePath=%2Fmedia%2F3xuezgiv%2Fx.png",
            "image": "/media/3xuezgiv/x.png",
            "filtered": null,
            "updateDate": "September 12, 2024 3:39 PM",
            "isFolder": false,
            "width": "150",
            "height": 150,
            "aspectRatio": 1,
            "selectable": true,
            "flexStyle": {
              "flex": "1 1 150px",
              "max-width": "150px",
              "max-height": "150px",
              "min-width": "100px",
              "min-height": "100px"
            },
            "selected": true
          },
          "mediaId": "umb://media/994ce8eb2c154634845b7c34af4bc057"
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "https://www.instagram.com/sealegsinternational/",
              "target": "_blank",
              "url": "https://www.instagram.com/sealegsinternational/",
              "icon": "icon-link",
              "published": true
            }
          ],
          "media": {
            "name": "Instagram (1)",
            "id": 2285,
            "udi": "umb://media/e4d6caa4d44a416d97ae4f63549e447c",
            "icon": "icon-picture",
            "trashed": false,
            "key": "e4d6caa4-d44a-416d-97ae-4f63549e447c",
            "parentId": 1549,
            "alias": "",
            "path": "-1,1549,2285",
            "metaData": {
              "ContentTypeAlias": "Image",
              "UpdateDate": "2024-09-12 03:39:22",
              "MediaPath": "/media/ulfnnzck/instagram.png",
              "IsContainer": false
            },
            "thumbnail": "/umbraco/backoffice/umbracoapi/images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fulfnnzck%2Finstagram.png",
            "image": "/media/ulfnnzck/instagram.png",
            "filtered": null,
            "updateDate": "September 12, 2024 3:39 PM",
            "isFolder": false,
            "width": "150",
            "height": 150,
            "aspectRatio": 1,
            "selectable": true,
            "flexStyle": {
              "flex": "1 1 150px",
              "max-width": "150px",
              "max-height": "150px",
              "min-width": "100px",
              "min-height": "100px"
            },
            "selected": true
          },
          "mediaId": "umb://media/e4d6caa4d44a416d97ae4f63549e447c"
        },
        {
          "color": {},
          "icon": "",
          "size": "m",
          "link": [
            {
              "name": "https://www.youtube.com/user/SealegsAmphibious",
              "target": "_blank",
              "url": "https://www.youtube.com/user/SealegsAmphibious",
              "icon": "icon-link",
              "published": true
            }
          ],
          "media": {
            "name": "Youtube (1)",
            "id": 2284,
            "udi": "umb://media/ff076391c508462393d009ea8b756cbf",
            "icon": "icon-picture",
            "trashed": false,
            "key": "ff076391-c508-4623-93d0-09ea8b756cbf",
            "parentId": 1549,
            "alias": "",
            "path": "-1,1549,2284",
            "metaData": {
              "ContentTypeAlias": "Image",
              "UpdateDate": "2024-09-12 03:39:22",
              "MediaPath": "/media/s3rbp5yi/youtube.png",
              "IsContainer": false
            },
            "thumbnail": "/umbraco/backoffice/umbracoapi/images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fs3rbp5yi%2Fyoutube.png",
            "image": "/media/s3rbp5yi/youtube.png",
            "filtered": null,
            "updateDate": "September 12, 2024 3:39 PM",
            "isFolder": false,
            "width": "150",
            "height": 150,
            "aspectRatio": 1,
            "selectable": true,
            "flexStyle": {
              "flex": "1 1 150px",
              "max-width": "150px",
              "max-height": "150px",
              "min-width": "100px",
              "min-height": "100px"
            },
            "selected": true
          },
          "mediaId": "umb://media/ff076391c508462393d009ea8b756cbf"
        }
      ]
    },
    {
      "contentTypeKey": "4b53d12d-37b8-4a3a-b487-7e4d414a22e4",
      "udi": "umb://element/75f872b8b5d34f658071113aac64d373",
      "desktopColumnWidth": "7",
      "tabletColumnWidth": "7"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "63cee9bf-aa23-435e-9c1a-0d4054b8b03e",
      "udi": "umb://element/f65214bcb1834a7bab96279679914c2a",
      "textPosition": "",
      "addBackgroundColor": "0",
      "backgroundColor": {
        "value": "#ffffff",
        "firstBgColor": "#ffffff",
        "heading": "#263444",
        "secondaryheading": "#263444",
        "text": "#263444",
        "border": "#263444",
        "label": "c2",
        "sortOrder": 2,
        "id": 3
      },
      "overlayBackgroundColor": "",
      "overlayTextPosition": "",
      "textAlignment": "",
      "imageStyle": "",
      "boxPad": "0",
      "desktopColumnWidth": "2",
      "tabletColumnWidth": "2",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0"
    },
    {
      "contentTypeKey": "f0aed182-58cf-4dc4-8406-5a7bbf454aa3",
      "udi": "umb://element/05e3b2f85acf405bb12dc59f934f4cc1",
      "hideSearch": "1",
      "podSearchResultsPage": "",
      "searchButtonColor": "",
      "desktopColumnWidth": "2",
      "tabletColumnWidth": "2",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "itemName": "Sales",
      "customClasses": "",
      "hideFromWebsite": "0"
    },
    {
      "contentTypeKey": "f0aed182-58cf-4dc4-8406-5a7bbf454aa3",
      "udi": "umb://element/ba80e9a323134a859848b59bbf48d9cb",
      "hideSearch": "1",
      "podSearchResultsPage": "",
      "searchButtonColor": "",
      "desktopColumnWidth": "2",
      "tabletColumnWidth": "2",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "itemName": "Service",
      "customClasses": "",
      "hideFromWebsite": "0"
    },
    {
      "contentTypeKey": "f0aed182-58cf-4dc4-8406-5a7bbf454aa3",
      "udi": "umb://element/6d67771f9c074cfb9f6bf87738bcf0ee",
      "hideSearch": "1",
      "podSearchResultsPage": "",
      "searchButtonColor": "",
      "desktopColumnWidth": "2",
      "tabletColumnWidth": "2",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "itemName": "Experience",
      "customClasses": "",
      "hideFromWebsite": "0"
    },
    {
      "contentTypeKey": "63cee9bf-aa23-435e-9c1a-0d4054b8b03e",
      "udi": "umb://element/76b089b415174580a0c5fd251eb005b8",
      "textPosition": "",
      "addBackgroundColor": "0",
      "backgroundColor": {
        "value": "#2992e4",
        "firstBgColor": "#2992e4",
        "heading": "#ffffff",
        "secondaryheading": "#ffffff",
        "text": "#ffffff",
        "border": "#ffffff",
        "label": "c3",
        "sortOrder": 3,
        "id": 4
      },
      "overlayBackgroundColor": "",
      "overlayTextPosition": "",
      "textAlignment": "",
      "imageStyle": "",
      "boxPad": "0",
      "desktopColumnWidth": "2",
      "tabletColumnWidth": "2",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "itemName": "Contact button",
      "customClasses": "",
      "hideFromWebsite": "0"
    },
    {
      "contentTypeKey": "5804203b-8f3b-42a2-b063-052ef3f90674",
      "udi": "umb://element/c7fd8477b37844469f98ccf76bd6ea0e",
      "desktopColumnWidth": "5",
      "tabletColumnWidth": "5",
      "animate": "0",
      "animationStyle": "",
      "animationDelay": "0",
      "animationDuration": "1.2",
      "itemName": "",
      "customClasses": "",
      "hideFromWebsite": "0"
    }
  ]
}]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </footerItems>
    <siteCreditLabel>
      <Value Culture="en-nz"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </siteCreditLabel>
    <siteCreditLink>
      <Value Culture="en-nz"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </siteCreditLink>
  </Properties>
</Content>