<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c274ea9e-1c53-4701-8c32-0a84f4908fd2" Alias="USN Disable Light Window" Level="3">
  <Info>
    <Name>USN Disable Light Window</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "imageLink",
  "falseFields": "-imageLink,+lightWindowTitle",
  "trueFields": "+pods___imageLink,-pods___lightWindowTitle,-pods___lightWindowFooter,+imageVideo___imageLink,-imageVideo___lightWindowTitle,-imageVideo___lightWindowFooter,+imageLink,-lightWindowTitle,-lightWindowFooter,+footerItems___imageLink,-footerItems___lightWindowTitle,-footerItems___lightWindowFooter,+slideImageVideoFirst___imageLink,+slideImageVideoSecond___imageLink,-slideImageVideoFirst___lightWindowFooter,-slideImageVideoSecond___lightWindowFooter,-slideImageVideoFirst___lightWindowTitle,-slideImageVideoSecond___lightWindowTitle"
}]]></Config>
</DataType>