<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d93c3cf8-4008-44d4-bbd9-729ed3581f6b" Alias="USN Multi Link Picker" Level="3">
  <Info>
    <Name>USN Multi Link Picker</Name>
    <EditorAlias>USN.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Link+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "minNumber": 0,
  "maxNumber": 0,
  "displayButtonColor": "0",
  "displayIcon": "0",
  "displayMedia": "0"
}]]></Config>
</DataType>