<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0d0624a-b55d-4342-ab9c-b2be1cbccdc8" Alias="Bridge" Level="3">
  <Info>
    <Parent Key="c7eea8d6-4736-45c5-a950-bb043200e499">Pictures</Parent>
    <Path>/Wireframe/Pictures/Bridge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Bridge" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jrrnb2c3/golden-gate.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>