<?xml version="1.0" encoding="utf-8"?>
<Media Key="e64a353c-3f54-42b8-8a38-4017ed2725cc" Alias="Cara" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cara</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T16:59:23</CreateDate>
    <NodeName Default="Cara" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>