<?xml version="1.0" encoding="utf-8"?>
<Media Key="a792bc54-5268-4c96-94e6-e8b7254f23cf" Alias="Change" Level="3">
  <Info>
    <Parent Key="e8604cf0-dffc-4de3-aec9-1f7ccef4ad3b">Pictures</Parent>
    <Path>/Cara/Pictures/Change</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:59:24</CreateDate>
    <NodeName Default="Change" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[/media/kk4jfj1i/change.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>