<?xml version="1.0" encoding="utf-8"?>
<Media Key="702b6d7f-9f8e-43e4-810a-e3330f8134a5" Alias="Content Left" Level="2">
  <Info>
    <Parent Key="6bb51b6d-c7e7-4264-871f-b1593426fbd6">Layouts</Parent>
    <Path>/Layouts/ContentLeft</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Content Left" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pfwdw2eo/left-page.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>