<?xml version="1.0" encoding="utf-8"?>
<Media Key="77673ebb-bfdc-44e5-a2b7-c961622072b5" Alias="Content Center Nav Right" Level="2">
  <Info>
    <Parent Key="6bb51b6d-c7e7-4264-871f-b1593426fbd6">Layouts</Parent>
    <Path>/Layouts/ContentCenterNavRight</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:21</CreateDate>
    <NodeName Default="Content Center Nav Right" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xu5go342/center-nav-right-page.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>