<?xml version="1.0" encoding="utf-8"?>
<Media Key="f439ca57-9d19-4c64-b3fd-572518b24ed6" Alias="Content Center Nav Left" Level="2">
  <Info>
    <Parent Key="6bb51b6d-c7e7-4264-871f-b1593426fbd6">Layouts</Parent>
    <Path>/Layouts/ContentCenterNavLeft</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:21</CreateDate>
    <NodeName Default="Content Center Nav Left" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/khfdt3az/center-nav-left-page.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>