<?xml version="1.0" encoding="utf-8"?>
<Media Key="114b180b-fdd2-455e-b5a6-85e7c27b555f" Alias="Country Flags" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CountryFlags</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Country Flags" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>