<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e841608-bc92-4e9b-97e3-15be88e9c654" Alias="Denmark" Level="2">
  <Info>
    <Parent Key="114b180b-fdd2-455e-b5a6-85e7c27b555f">Country Flags</Parent>
    <Path>/CountryFlags/Denmark</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Denmark" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[/media/calii1us/dk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>