<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ef7df60-dfcc-4085-aaab-169572bd1a9a" Alias="Dog" Level="3">
  <Info>
    <Parent Key="e8604cf0-dffc-4de3-aec9-1f7ccef4ad3b">Pictures</Parent>
    <Path>/Cara/Pictures/Dog</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:59:24</CreateDate>
    <NodeName Default="Dog" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[/media/m1ppphwm/dog.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>