<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2542fff-5dd8-4c81-8ec3-cd1295aab815" Alias="Example Document" Level="2">
  <Info>
    <Parent Key="0fdd0948-0763-409e-914e-b52899cad40d">Documents</Parent>
    <Path>/Documents/ExampleDocument</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-12-08T16:35:21</CreateDate>
    <NodeName Default="Example Document" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[/media/22xfj2wy/example-document.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>