<?xml version="1.0" encoding="utf-8"?>
<Media Key="be0a4862-7365-44ff-9c74-f04058b8d0d4" Alias="Favicon" Level="2">
  <Info>
    <Parent Key="f1e7e247-8828-490b-9456-7a04cba7b27b">Wireframe</Parent>
    <Path>/Wireframe/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>