<?xml version="1.0" encoding="utf-8"?>
<Media Key="98cca76d-bad2-4f60-8a1f-963c7ddbdd84" Alias="Favicon" Level="2">
  <Info>
    <Parent Key="e64a353c-3f54-42b8-8a38-4017ed2725cc">Cara</Parent>
    <Path>/Cara/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T16:59:23</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>