<?xml version="1.0" encoding="utf-8"?>
<Media Key="b75a73bd-0efa-4a77-a400-dc4b961c06fb" Alias="Good News" Level="3">
  <Info>
    <Parent Key="e8604cf0-dffc-4de3-aec9-1f7ccef4ad3b">Pictures</Parent>
    <Path>/Cara/Pictures/GoodNews</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:59:24</CreateDate>
    <NodeName Default="Good News" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[/media/xnzfvn50/good-news.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>