<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5dc0d86-c67a-4b7c-b834-6ba33ec17258" Alias="Hands" Level="3">
  <Info>
    <Parent Key="e8604cf0-dffc-4de3-aec9-1f7ccef4ad3b">Pictures</Parent>
    <Path>/Cara/Pictures/Hands</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:59:24</CreateDate>
    <NodeName Default="Hands" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[/media/qagnzjl0/hands.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>