<?xml version="1.0" encoding="utf-8"?>
<Media Key="52412c32-ad34-4297-9eb6-1c695db81274" Alias="Icon 3" Level="3">
  <Info>
    <Parent Key="98cca76d-bad2-4f60-8a1f-963c7ddbdd84">Favicon</Parent>
    <Path>/Cara/Favicon/Icon3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:59:24</CreateDate>
    <NodeName Default="Icon 3" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[/media/gqwecuru/icon-3.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>