<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bb51b6d-c7e7-4264-871f-b1593426fbd6" Alias="Layouts" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Layouts</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Layouts" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>