<?xml version="1.0" encoding="utf-8"?>
<Media Key="14e1bd20-e658-418d-8839-852864b77230" Alias="Linkedin" Level="2">
  <Info>
    <Parent Key="87c1687d-96e2-4dd9-907b-86410f766d6d">Social Icons</Parent>
    <Path>/SocialIcons/Linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Linkedin" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e04pcfcy/linkedin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>