<?xml version="1.0" encoding="utf-8"?>
<Media Key="fce45c91-b78d-422e-a5cc-3bf2c45ff85a" Alias="Northern Lights" Level="3">
  <Info>
    <Parent Key="c7eea8d6-4736-45c5-a950-bb043200e499">Pictures</Parent>
    <Path>/Wireframe/Pictures/NorthernLights</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Northern Lights" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s3ooj5en/night.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>