<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4eb4d14-b959-41ed-8bea-11e77d73dc60" Alias="Og Everyone01 Web" Level="2">
  <Info>
    <Parent Key="073b5aaf-106f-4d3f-8701-b851b6f991bd">Open Graph</Parent>
    <Path>/OpenGraph/OgEveryone01Web</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:21</CreateDate>
    <NodeName Default="Og Everyone01 Web" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cjgpxzcz/og-everyone01_web.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>