<?xml version="1.0" encoding="utf-8"?>
<Media Key="00611b86-7178-497d-b8dd-87de180e1d35" Alias="Peru" Level="3">
  <Info>
    <Parent Key="c7eea8d6-4736-45c5-a950-bb043200e499">Pictures</Parent>
    <Path>/Wireframe/Pictures/Peru</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Peru" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qanhcady/peru.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>