<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8604cf0-dffc-4de3-aec9-1f7ccef4ad3b" Alias="Pictures" Level="2">
  <Info>
    <Parent Key="e64a353c-3f54-42b8-8a38-4017ed2725cc">Cara</Parent>
    <Path>/Cara/Pictures</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T16:59:24</CreateDate>
    <NodeName Default="Pictures" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>