<?xml version="1.0" encoding="utf-8"?>
<Media Key="87c1687d-96e2-4dd9-907b-86410f766d6d" Alias="Social Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Social Icons" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>