<?xml version="1.0" encoding="utf-8"?>
<Media Key="728d212a-b9d0-4671-a578-b31b473f08d1" Alias="Spain" Level="2">
  <Info>
    <Parent Key="114b180b-fdd2-455e-b5a6-85e7c27b555f">Country Flags</Parent>
    <Path>/CountryFlags/Spain</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Spain" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[/media/giqj02wq/es.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>