<?xml version="1.0" encoding="utf-8"?>
<Media Key="04074be3-48dc-4333-a1a0-6c7504aea640" Alias="Sweden" Level="2">
  <Info>
    <Parent Key="114b180b-fdd2-455e-b5a6-85e7c27b555f">Country Flags</Parent>
    <Path>/CountryFlags/Sweden</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Sweden" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[/media/5nfbobg2/se.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>