<?xml version="1.0" encoding="utf-8"?>
<Media Key="66ffcd46-368d-46ce-861a-4014ca061953" Alias="Tripadvisor" Level="2">
  <Info>
    <Parent Key="87c1687d-96e2-4dd9-907b-86410f766d6d">Social Icons</Parent>
    <Path>/SocialIcons/Tripadvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Tripadvisor" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/idgp4zun/tripadvisor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>