<?xml version="1.0" encoding="utf-8"?>
<Media Key="856cfb10-ab88-4250-9278-c016211c3817" Alias="Tumblr" Level="2">
  <Info>
    <Parent Key="87c1687d-96e2-4dd9-907b-86410f766d6d">Social Icons</Parent>
    <Path>/SocialIcons/Tumblr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Tumblr" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c13hzbmi/tumblr.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>