<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfa26aa6-e1b8-40b1-867a-b1bf4f289f55" Alias="Twitter" Level="2">
  <Info>
    <Parent Key="87c1687d-96e2-4dd9-907b-86410f766d6d">Social Icons</Parent>
    <Path>/SocialIcons/Twitter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Twitter" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ubvkfp3y/twitter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>