<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ff17a1f-5f39-4b2d-8cc5-987047a682e7" Alias="United Kingdom" Level="2">
  <Info>
    <Parent Key="114b180b-fdd2-455e-b5a6-85e7c27b555f">Country Flags</Parent>
    <Path>/CountryFlags/UnitedKingdom</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="United Kingdom" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[/media/a33pcdzz/gb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>