<?xml version="1.0" encoding="utf-8"?>
<Media Key="445a4ab3-f76c-4625-8441-1b8b243e1899" Alias="uSkinned Icon" Level="3">
  <Info>
    <Parent Key="be0a4862-7365-44ff-9c74-f04058b8d0d4">Favicon</Parent>
    <Path>/Wireframe/Favicon/uSkinnedIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="uSkinned Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wvffurdm/usn.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>