<?xml version="1.0" encoding="utf-8"?>
<Media Key="202f9553-63c5-434b-89ac-89f011d118e4" Alias="Vimeo" Level="2">
  <Info>
    <Parent Key="87c1687d-96e2-4dd9-907b-86410f766d6d">Social Icons</Parent>
    <Path>/SocialIcons/Vimeo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Vimeo" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kwkd4igf/vimeo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>