<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1e7e247-8828-490b-9456-7a04cba7b27b" Alias="Wireframe" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wireframe</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Wireframe" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>