<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2e499ca-557f-4ee6-96c1-c12b16b7381e" Alias="Youtube" Level="2">
  <Info>
    <Parent Key="87c1687d-96e2-4dd9-907b-86410f766d6d">Social Icons</Parent>
    <Path>/SocialIcons/Youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T16:35:20</CreateDate>
    <NodeName Default="Youtube" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <alternativeText>
      <Value><![CDATA[]]></Value>
    </alternativeText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zsmpjit5/youtube.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>